/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\JHarvey\Perforce\Harveyium\Documentation\ChemOffice 13.0 documentation\2- Chem &amp; Bio3D, ChemFinder &amp; BioViz\Revised Chem3D\Source files\chem3d.book" Version="7" />*/

mcTableStyle
{
	name: MOPAC;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: separate;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 5pt;
	cell-padding-left: 5pt;
	cell-padding-right: 5.04pt;
	cell-padding-bottom: 4pt;
	max-id: 7;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Column1;
	id: 0;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
}

mcTableColumnStyle
{
	span: 9;
	id: 6;
	name: Column2;
}

mcTableBodyStyle
{
	span: 44;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-MOPAC
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-MOPAC .Column-Column1
{
	
}

.TableStyle-MOPAC .Column-Column2
{
	
}

.TableStyle-MOPAC .HeadI-Column1-
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .HeadI-Column1- p
{
	
}

.TableStyle-MOPAC .HeadE-Column1-
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .HeadE-Column1- p
{
	
}

.TableStyle-MOPAC .HeadF-Column1-
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .HeadF-Column1- p
{
	
}

.TableStyle-MOPAC .HeadH-Column1-
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .HeadH-Column1- p
{
	
}

.TableStyle-MOPAC .HeadD-Column1-
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-MOPAC .HeadD-Column1- p
{
	
}

.TableStyle-MOPAC .HeadC-Column1-
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .HeadC-Column1- p
{
	
}

.TableStyle-MOPAC .HeadB-Column1-
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .HeadB-Column1- p
{
	
}

.TableStyle-MOPAC .HeadA-Column1-
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-MOPAC .HeadA-Column1- p
{
	
}

.TableStyle-MOPAC .HeadG-Column1-
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-MOPAC .HeadG-Column1- p
{
	
}

.TableStyle-MOPAC .HeadI-Column2-
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .HeadI-Column2- p
{
	
}

.TableStyle-MOPAC .HeadE-Column2-
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .HeadE-Column2- p
{
	
}

.TableStyle-MOPAC .HeadF-Column2-
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .HeadF-Column2- p
{
	
}

.TableStyle-MOPAC .HeadH-Column2-
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .HeadH-Column2- p
{
	
}

.TableStyle-MOPAC .HeadD-Column2-
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .HeadD-Column2- p
{
	
}

.TableStyle-MOPAC .HeadC-Column2-
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .HeadC-Column2- p
{
	
}

.TableStyle-MOPAC .HeadB-Column2-
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .HeadB-Column2- p
{
	
}

.TableStyle-MOPAC .HeadA-Column2-
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .HeadA-Column2- p
{
	
}

.TableStyle-MOPAC .HeadG-Column2-
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .HeadG-Column2- p
{
	
}

.TableStyle-MOPAC .Foot-Footer1
{
	
}

.TableStyle-MOPAC .FootI-Column1-Footer1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .FootI-Column1-Footer1 p
{
	
}

.TableStyle-MOPAC .FootE-Column1-Footer1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .FootE-Column1-Footer1 p
{
	
}

.TableStyle-MOPAC .FootF-Column1-Footer1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .FootF-Column1-Footer1 p
{
	
}

.TableStyle-MOPAC .FootH-Column1-Footer1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .FootH-Column1-Footer1 p
{
	
}

.TableStyle-MOPAC .FootD-Column1-Footer1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-MOPAC .FootD-Column1-Footer1 p
{
	
}

.TableStyle-MOPAC .FootC-Column1-Footer1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .FootC-Column1-Footer1 p
{
	
}

.TableStyle-MOPAC .FootB-Column1-Footer1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .FootB-Column1-Footer1 p
{
	
}

.TableStyle-MOPAC .FootA-Column1-Footer1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-MOPAC .FootA-Column1-Footer1 p
{
	
}

.TableStyle-MOPAC .FootG-Column1-Footer1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-MOPAC .FootG-Column1-Footer1 p
{
	
}

.TableStyle-MOPAC .FootI-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .FootI-Column2-Footer1 p
{
	
}

.TableStyle-MOPAC .FootE-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .FootE-Column2-Footer1 p
{
	
}

.TableStyle-MOPAC .FootF-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .FootF-Column2-Footer1 p
{
	
}

.TableStyle-MOPAC .FootH-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .FootH-Column2-Footer1 p
{
	
}

.TableStyle-MOPAC .FootD-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .FootD-Column2-Footer1 p
{
	
}

.TableStyle-MOPAC .FootC-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .FootC-Column2-Footer1 p
{
	
}

.TableStyle-MOPAC .FootB-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .FootB-Column2-Footer1 p
{
	
}

.TableStyle-MOPAC .FootA-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .FootA-Column2-Footer1 p
{
	
}

.TableStyle-MOPAC .FootG-Column2-Footer1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .FootG-Column2-Footer1 p
{
	
}

.TableStyle-MOPAC .Body-Body1
{
	
}

.TableStyle-MOPAC .BodyI-Column1-Body1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .BodyI-Column1-Body1 p
{
	
}

.TableStyle-MOPAC .BodyE-Column1-Body1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .BodyE-Column1-Body1 p
{
	
}

.TableStyle-MOPAC .BodyF-Column1-Body1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .BodyF-Column1-Body1 p
{
	
}

.TableStyle-MOPAC .BodyH-Column1-Body1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .BodyH-Column1-Body1 p
{
	
}

.TableStyle-MOPAC .BodyD-Column1-Body1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-MOPAC .BodyD-Column1-Body1 p
{
	
}

.TableStyle-MOPAC .BodyC-Column1-Body1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .BodyC-Column1-Body1 p
{
	
}

.TableStyle-MOPAC .BodyB-Column1-Body1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-MOPAC .BodyB-Column1-Body1 p
{
	
}

.TableStyle-MOPAC .BodyA-Column1-Body1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-MOPAC .BodyA-Column1-Body1 p
{
	
}

.TableStyle-MOPAC .BodyG-Column1-Body1
{
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-MOPAC .BodyG-Column1-Body1 p
{
	
}

.TableStyle-MOPAC .BodyI-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-MOPAC .BodyI-Column2-Body1 p
{
	
}

.TableStyle-MOPAC .BodyE-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-MOPAC .BodyE-Column2-Body1 p
{
	
}

.TableStyle-MOPAC .BodyF-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-MOPAC .BodyF-Column2-Body1 p
{
	
}

.TableStyle-MOPAC .BodyH-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-MOPAC .BodyH-Column2-Body1 p
{
	
}

.TableStyle-MOPAC .BodyD-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-MOPAC .BodyD-Column2-Body1 p
{
	
}

.TableStyle-MOPAC .BodyC-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .BodyC-Column2-Body1 p
{
	
}

.TableStyle-MOPAC .BodyB-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .BodyB-Column2-Body1 p
{
	
}

.TableStyle-MOPAC .BodyA-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
}

.TableStyle-MOPAC .BodyA-Column2-Body1 p
{
	
}

.TableStyle-MOPAC .BodyG-Column2-Body1
{
	padding-left: 5pt;
	padding-right: 5.04pt;
	padding-top: 5pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-MOPAC .BodyG-Column2-Body1 p
{
	
}


