/*********** Styles for Form generator controls *************/
.COEValidationSummary
{
	font-family: Verdana;
	font-size: 10px;
	font-weight:bold;
	cursor:pointer;
	border: 1px #000099;
}
.COECell
{
	background-color: white;
	font-family: Verdana;
	font-size: 10px;
	overflow: hidden;
	color: #000099;
}
.COEFakeCell
{
	border-left: #000099 1px solid;
	border-right: #000099 1px solid;
	border-bottom: #000099 1px solid;
	background-color: White;
	font-family: Verdana;
	font-size: 10px;
	overflow: hidden;
	color: #000099;
}
.COEFakeHeader
{
	border: 1px #000099;
	font-family: Verdana;
	font-size: 10px;
	width: 100%;
	font-weight: bold;
	color: white;
	background-color:#000099;
	text-align: left;
}
.LinkButton
{
	font-family: Verdana;
	font-size: 10px;
	font-weight:bold;
	cursor:pointer;
	text-decoration:underline;
	color:Black;
}
.COEComplexLink
{
	font-family: Verdana;
	font-size: 10px;
	color:#000099;
	cursor:pointer;
	text-decoration:underline;
}
.COETextBox
{
	border: 1px solid #999999;
	color:#000000;
	height: 20px;
	font-size:12px;
}
.COETextBoxLong
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#fff;
	border-color:#BCBCBC;
	border-width:thin;
	width: 650px;
	height: 15px;
}
.COETextBoxLongView
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#EAEAEA;
	border:0px;
	width: 653px;
	height: 15px;
}
.COETextBoxNew
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#fff;
	border-color:#BCBCBC;
	border-width:thin;
	width: 120px;
	height: 15px;
}
.COETextBoxNewView
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#EAEAEA;
	border:0px;
	width: 120px;
	height: 15px;
}
.COETextBox2
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#fff;
	border-color:#BCBCBC;
	border-width:thin;
	width: 617px;
	height: 15px;
}
.COETextBoxView
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#EAEAEA;
	border:0px;
	width: 150px;
	height: 15px;
}
.COETextBoxViewNew
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#EAEAEA;
	border:solid 1px #999999;
	width: 80px;
	height: 15px;
}
.COETextBoxViewNewView
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#EAEAEA;
	border:0px;
	width: 80px;
	height: 15px;
}
.COETextBox2View
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#EAEAEA;
	border:0px;
	width: 617px;
	height: 15px;
}
.COELine
{
	border-color:#ff9900;
	border-width:1px;
}
.COETextAreaComments
{
	width: 150px;
	height: 70px;
	font-size: 11px;
	font-family: Verdana;
	color:#484848;
	margin-left:5px;
	background-color:#fff;
	border-color:#B2B2B2;
	border-width:thin;
}
.COETextAreaComments2
{
	width: 615px;
	height: 70px;
	font-size: 11px;
	font-family: Verdana;
	color:#484848;
	margin-left:5px;
	background-color:#fff;
	border-color:#B2B2B2;
	border-width:thin;
}
.COETextAreaCommentsView
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#EAEAEA;
	border:0px;
	width:150px;
}
.COETextAreaComments2View
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#EAEAEA;
	border:0px;
	width:617px;
}
/* LABEL */
.COELabelTitle
{
	font-size:11px;
	font-family: Verdana;
	color:#000066;
	font-weight: bold;
}
.COELabelSeparador
{
	font-size:11px;
	font-family: Verdana;
	color:#8C8CBF;
	font-weight: bold;
}
.COELabelTitle2
{
	font-size:11px;
	font-family: Verdana;
	color:#000066;
	font-weight: bold;
	padding-left:7px;
}
.COELabel
{
	color: #374257;
	font-family:Verdana;
	font-size:11px;
}
.COELabelListItems
{
	color: #374257;
	font-family:Verdana;
	font-size:10px;
}
.COELabelView:before
{
	content:"*";
	color: #000066;
	font-family:Verdana;
	font-size:11px;
	background-color:white;
}
.COELabelTextBox
{
	color: #484848;
	font-family:Verdana;
	font-size:11px;
	background-color:white;
}
.COETextAreaLongView
{
	font-size: 11px;
	font-family: Verdana;
	color: #484848;
	background-color:#EAEAEA;
	border:0px;
	width: 653px;
	height: 15px;
}
.COETextAreaLong
{
	border-color: #484848;
	border-width:thin;
	font-family:Verdana;
	font-size:11px;
	color:#484848;
	height: 50px;
	width: 650px;
}
.COEChemDraw
{
	border-color: #B3B3CC;
	border-width: 2px;
	border-style: solid;
}
.COEDropDownListNewView
{
	font-size: 11px;
	font-family: Verdana;
	color: #000000;
	background-color:#EAEAEA;
	border:0px;
	width: 120px;
	height: 20px;
}
.COEGridView
{
	font-size: 11px;
	font-family: Verdana;
	color: #000066;
	text-align:left;
	background-color:#fff;
	border:none;
	width: 270px;
	height: 15px;
}
.COERequiredField
{
	color: #FF0000;
	font-family:Verdana;
	font-size:11px;
	background-color:white;
}
.COERequiredField:before
{
	content:"*";
}
.MessagesArea { }
.MessagesAreaTextLabel
{
	background-attachment: fixed;
	vertical-align: middle;
	text-transform: none;
	text-align: center;
	font-size:11px;
	font-family: Verdana;
	color:#000066;
	font-weight: bold;
}
.HomePageLinks
{
	background-attachment: fixed;
	vertical-align: middle;
	text-transform: none;
	text-align: center;
	font-size:14px;
	font-family: Verdana;
	color:#000066;
}
.HomePageLinks:hover
{
	background-attachment: fixed;
	vertical-align: middle;
	text-transform: none;
	text-align: center;
	font-size:14px;
	font-family: Verdana;
	color:#0000AA;
}
.HomePageLinkImages
{
	cursor: pointer;
}
.COELabelTextBox
{
	color: Green;
}

.HomeTitleBig
{
	font-size: 18px;
	color: #000066;
	font-family: Verdana;
	font-weight:bold;
}
.HomeTitleMedium
{
	font-size: 11px;
	color: #484848;
	font-family: Verdana;
	font-weight:lighter;
}
.HomeDescription
{
	font-size: 10px;
	color: #484848;
	font-family: Verdana;
	text-align:left;
	font-weight:lighter;
	height:50px;
	width:120px;
}
h1
{
	font-size: 18px;
	color: #000066;
	font-family: Verdana;
	font-weight:bold;
	margin-left:30px;
}
h4
{
	font-size: 11px;
	color: #484848;
	font-family: Verdana;
	margin-left:30px;
	font-weight:lighter;
}
p
{
	font-size: 10px;
	color: #484848;
	font-family: Verdana;
	text-align:left;
	margin-left:30px;
	font-weight:lighter;
	height:50px;
	width:120px;
}

.LinksHome a:link
{
	font-size: 12px;
	color: #000066;
	font-weight:bold;
	padding-left:30px;
	cursor:pointer;
	width:150px;
	text-decoration:none;
}
.LinksHome a:hover
{
	font-size: 12px;
	color: #999999;
	font-weight:bold;
	text-decoration:underline;
	padding-left:30px;
	cursor:pointer;
}
.LinksHome a:selected
{
	font-size: 12px;
	color: #000066;
	padding-left:30px;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}
.LinksHome a:visited
{
	font-size: 12px;
	color: #000066;
	padding-left:30px;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}
/*********** Home Buttons *************/
.HomeButtons
{
	width: 70px;
	height: 70px;
	vertical-align: middle;
	cursor: pointer;
	margin-left: 30px;
	vertical-align: top;
	text-align: left;
	border: none;
}
.SelectAllText
{
	cursor: pointer;
	font-size: 10px;
	font-family: Verdana;
	color:#000066;
	text-decoration: underline;
	padding-left:28px;
}
.SelectAllText a:hover
{
	cursor: pointer;
	font-size: 10px;
	font-family: Verdana;
	color:#ff0000;
	text-decoration: underline;
	padding-left:28px;
}
.CurrentUserText
{
	color: #000066;
	font-family:Verdana;
	font-size:11px;
	font-weight: bold;
	margin-bottom: 15px;
}
.SelectedTextNode
{
	background-color: #BABAD6;
	font-weight: bold;
}
.TextNode { }
.MessagesAreaTextLabel
{
	background-attachment: fixed;
	vertical-align: middle;
	text-transform: none;
	text-align: center;
	font-size:11px;
	font-family: Verdana;
	color:#000066;
	font-weight: bold;
}
.COELabelTextBox
{
	color: Green;
}
.COEValidationSummary
{
	font-family: Verdana;
	font-size: 10px;
	border-style: none;
	color: #FF0000;
}
.COEErrorDiv
{
	display: none;
	position: absolute;
	border: 2px solid #555;
	color: #F00;
	z-index: 100;
	background-color: #FFDC8A;
}
.cdPreferencesLink
{
	writing-mode: tb-rl;
	font-size: 9px;
	font-family: Verdana;
	color: #ffffff;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
	vertical-align: top;
}
.cdPreferencesLink:visited
{
	font-size: 9px;
	font-family: Verdana;
	color: #999999;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}
.cdPreferencesTab
{
	cursor:pointer;
	float:left;
	width:7px;
	height: 90px;
	border:outset 1px #E6E6E6;
	text-align:center;
	padding: 7px;
	padding: 9px 7px 5px 7px;
	color: Black;
	line-height: 10px;
	background: #00009C;
}
.cdPreferencesTab:hover
{
	cursor:pointer;
	background-color: #0000CE;
}
.COEStructureQueryCDContainer
{
	float:left;
}

.COEStructureQueryTabsContainer
{
	background-color: #CECEF6;
	width:400px;
	height: 370px;
	border: 1px solid #00009C;
	z-index: 9999999999999;
}

.COEStructureQueryTab
{
	background-color: #EEEEFD;
	cursor:pointer;
	display:block;
	float:left;
	font-family:Verdana;
	font-size: 13px;
	text-align:center;
	color: #00009C;
	padding: 7px;
	width: 185px;
	height: 15px;
	border-bottom: 1px solid #00009C;
	margin-bottom: 15px;

}
.COEStructureQueryTabSelected
{
	background-color: #CECFF7;
	display:block;
	float:left;
	color: #00009C;
	font-family:Verdana;
	font-size: 13px;
	font-weight:bold;
	text-align:center;
	padding: 7px;
	width: 185px;
	height: 15px;
	border-left: 1px solid #00009C;
	border-right: 1px solid #00009C;
}
.COEStructureQueryTab:hover
{
	background-color: #A2A4F0;
	cursor:pointer;
	display:block;
	float:left;
	color: #ffffff;
	font-family:Verdana;
	font-size: 13px;
	padding: 7px;
	width: 185px;
	height: 15px;
}


.COEStructureQueryGroupPanel
{
	padding: 5px;
	height: 140px;
	float:left;
	font-size:11px;
	font-family:Verdana;
	width: 190px;
}

.COEStructureQueryImage32x32
{
	height: 32px;
	width: 32px;
	padding: 1px;
}

.COEStructureQuery
{	
	padding-top:10px;
	margin-right: 40px;
}

.COEStructureQuery .LinkButton
{
	display:block;
	position:relative;
	padding-left: 50px;
}

.contents 
{
	font-family: Verdana;
	font-size: 8pt;
	visibility: inherit;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center; 
	float:left; 
	margin-left: 30px;
	width: 330px;
}

.contents TD {font-family: Verdana;font-size: 8pt;visibility: inherit;margin: 0;padding: 4px;}
.labelCell {text-align: left; padding-top: 20px; border-bottom: 1px solid black; width: 300px;}
.valueCell {width: 100px;text-align: left; border-bottom: 1px solid black; width: 10px;}

.OrderingControlLink
{
	font-size: 9px;
	font-family: Verdana;
	color: #000066;
	font-weight:bold;
	text-decoration:none;
	vertical-align: top;
}

.OrderingControlLink:visited
{
	font-size: 9px;
	font-family: Verdana;
	color: #000066;
	font-weight:bold;
	text-decoration:none;
}

.OrderingControlLink:hover
{
	cursor:pointer;
	color: #BBBBFF;
}

.OrderingControlContents 
{
	font-family: Verdana;
	font-size: 8pt;
	visibility: inherit;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left; 
	float:left; 
	margin-left: 5px;
}

.OrderingControlListBox
{
	width: 130px;
}

.OrderingControlContents TD {font-family: Verdana;font-size: 8pt;visibility: inherit;margin: 0;padding: 4px;}
.OrderingControlLabelCell {text-align: left; padding-top: 20px; border-bottom: 1px solid black;}
.OrderingControlValueCell {width: 100px;text-align: left; border-bottom: 1px solid black; width: 10px;}