<dx-data-grid [columns]="columns" [dataSource]="dataSource" [paging]="{enabled: false}" [showBorders]="true" [showRowLines]="true"
  (onContentReady)="onContentReady($event)"
  (onRowInserting)="onRowInserting($event, viewModel)" (onRowUpdating)="onRowUpdating($event, viewModel)" (onRowRemoving)="onRowRemoving($event, viewModel)"
  (onRowInserted)="onRowInserted($event, viewModel)" (onRowUpdated)="onRowUpdated($event, viewModel)" (onRowRemoved)="onRowRemoved($event, viewModel)">
  <dxo-editing [mode]="editingMode" [texts]="{confirmDeleteMessage:''}"></dxo-editing>
  <div *dxTemplate="let d of 'commandHeaderCellTemplate'">
    <a *ngIf="allowAdding" class="fa fa-lg fa-plus-square-o grid-icon" aria-hidden="true" title='Add a row' (click)="addRow(d)"></a>
  </div>
  <div *dxTemplate="let d of 'commandCellTemplate'">
    <a *ngIf="allowUpdating &amp;&amp; !d.row.isEditing" class="fa fa-lg fa-edit grid-icon" aria-hidden="true" title='Edit' (click)="edit(d)"></a>&nbsp;
    <a *ngIf="allowDeleting &amp;&amp; !d.row.isEditing" class="fa fa-lg fa-trash-o grid-icon" aria-hidden="true" title='Delete' (click)="delete(d)"></a>
    <a *ngIf="d.row.isEditing" class="fa fa-lg fa-save grid-icon" aria-hidden="true" title='Save' (click)="save(d)"></a>&nbsp;
    <a *ngIf="d.row.isEditing" class="fa fa-lg fa-undo grid-icon" aria-hidden="true" title='Cancel' (click)="cancel(d)"></a>
  </div>
  <div *dxTemplate="let d of 'dropDownTemplate'">
    <reg-drop-down-column-item-template [viewModel]="d" (valueUpdated)="onDropDownValueUpdated($event, d)"></reg-drop-down-column-item-template>
  </div>
  <div *dxTemplate="let e of 'identifierCellTemplate'">
   {{getIdentifierName(e)}}
   </div> 
</dx-data-grid>
<dx-text-box class="display-none">
  <dx-validator validationGroup="vg" (onInitialized)="onValidatorInitialized($event, this)">
    <dxi-validation-rule type="custom" reevaluate="true" [validationCallback]="validate"></dxi-validation-rule>
  </dx-validator>
</dx-text-box>
