<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <section name="coeConfiguration" type="CambridgeSoft.COE.Framework.COEConfigurationSettings, CambridgeSoft.COE.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CambridgeSoft.COE.Registration.Services.UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CambridgeSoft.COE.Registration.Services.UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>

  <appSettings>
    <add key="AppName" value="REGISTRATION"/>
    <add key="SimulationMode" value="false"/>
  </appSettings>
  
  <instrumentationConfiguration performanceCountersEnabled="true" eventLoggingEnabled="true" wmiEnabled="true" />
  <!--This configuration is used by CambridgeSoft.COE.Core.Common call BLL and DAL classes for coe framework services -->
  <coeConfiguration servicesBaseAssemblyName="CambridgeSoft.COE.Registration.Services"  servicesBaseTypeName="CambridgeSoft.COE.Registration.Services" >
    <applications>
      <add name="REGISTRATION" dbmsType="ORACLE" tracing="false" oracleTracing="false"  connectionString="Data Source=fari;User ID=regdb;Password=Oracle;" providerName="Oracle.DataAccess.Client"/>
    </applications>
    <services>
      <add name="PreRegisteredCompound" bllManagerClass="PreRegisteredCompoundManager">
        <dalProviders>
          <add name="Oracle.DataAccess.Client" dalClass="OracleDataAccessClientDAL"/>
          <add name="System.Data.OracleClient" dalClass="SystemDataOracleClientDAL"/>
        </dalProviders>
      </add>
      <add name="RegisteredCompound" bllManagerClass="RegisteredCompoundManager">
        <dalProviders>
          <add name="Oracle.DataAccess.Client" dalClass="OracleDataAccessClientDAL"/>
          <add name="System.Data.OracleClient" dalClass="SystemDataOracleClientDAL"/>
        </dalProviders>
      </add>
      <add name="Batch" bllManagerClass="BatchManager">
        <dalProviders>
          <add name="Oracle.DataAccess.Client" dalClass="OracleDataAccessClientDAL"/>
        </dalProviders>
      </add>
      <add name="Fragment" bllManagerClass="FragmentManager">
        <dalProviders>
          <add name="Oracle.DataAccess.Client" dalClass="OracleDataAccessClientDAL"/>
        </dalProviders>
      </add>
      <add name="Mixture" bllManagerClass="MixtureManager">
        <dalProviders>
          <add name="Oracle.DataAccess.Client" dalClass="OracleDataAccessClientDAL"/>
        </dalProviders>
      </add>
     <add name="ProcessMolecule" bllManagerClass="ProcessMoleculeManager">
        <dalProviders>
          <add name="Oracle.DataAccess.Client" dalClass="OracleDataAccessClientDAL"/>
        </dalProviders>
      </add>
    
    </services>
  </coeConfiguration>
  
  <userSettings>
    <CambridgeSoft.COE.Registration.Services.UnitTests.Properties.Settings>
      <setting name="SimulationMode" serializeAs="String">
        <value>true</value>
      </setting>
    </CambridgeSoft.COE.Registration.Services.UnitTests.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <CambridgeSoft.COE.Registration.Services.UnitTests.Properties.Settings>
      <setting name="CambridgeSoft_COE_Registration_Services_UnitTests_COERegistrationServices_COERegistrationServices"
        serializeAs="String">
        <value>http://localhost/COERegistration/WebServices/COERegistrationServices.asmx</value>
      </setting>
    </CambridgeSoft.COE.Registration.Services.UnitTests.Properties.Settings>
  </applicationSettings>
</configuration>