<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script" />
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <httpErrors>
            <clear />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="x-ua-compatible" value="IE=EmulateIE7" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
