<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="coeLoggingConfiguration" type="CambridgeSoft.COE.Framework.Common.COELoggingConfiguration, CambridgeSoft.COE.Framework, Version=11.0.1.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" />
    <section name="coeClientConfiguration" type="CambridgeSoft.COE.Framework.Common.COEClientConfigurationSettings, CambridgeSoft.COE.Framework, Version=11.0.1.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" />
  </configSections>
  <coeLoggingConfiguration logEntryIdentifier="CustomSelectClauseTest" enabled="false" categories="All" priority="10" severity="All"/>
  <coeClientConfiguration  />
  <appSettings>
    <add key="LogInSimulationMode" value="CSSADMIN"/>
  </appSettings>

  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Documents and Settings\All Users\Application Data\ChemOfficeEnterprise11\COESharedAssemblyConfig.xml"/>
  </assemblyBinding>
</configuration>