<reg-login-modal (onSubmit)="actions.loginUser($event)" [hasError]="hasError$ | async" [isPending]="isLoading$ | async"
  *ngIf="loggedOut$ | async">
</reg-login-modal>
<reg-navigator testid="navigator" *ngIf="loggedIn$ | async">
  <reg-navigator-header>
    <reg-logo></reg-logo>
  </reg-navigator-header>
  <reg-navigator-items>
    <li reg-navigator-item *ngIf="loggedIn$ | async">
      <a [routerLink]="['home']"><i class="fa fa-home fa-lg maroon"></i> Home</a>
    </li>
    <li class="dropdown" reg-navigator-item *ngIf="loggedIn$ | async">
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
        <span class="fa fa-gears fa-lg maroon"></span> Configuration <span class="caret"></span>
      </a>
      <ul id="g-account-menu" class="dropdown-menu" role="menu">
        <li><a [routerLink]="['configuration/VW_PROJECT']"><i class="fa fa-table fa-lg maroon"></i> Projects</a></li>
        <li><a [routerLink]="['configuration/VW_PICKLIST']"><i class="fa fa-table fa-lg maroon"></i> Picklist Values</a></li>
        <li><a [routerLink]="['configuration/VW_PICKLISTDOMAIN']"><i class="fa fa-table fa-lg maroon"></i> Picklist Domains</a></li>
        <li><a [routerLink]="['configuration/VW_NOTEBOOKS']"><i class="fa fa-table fa-lg maroon"></i> Notebooks</a></li>
        <li><a [routerLink]="['configuration/VW_FRAGMENT']"><i class="fa fa-table fa-lg maroon"></i> Fragments</a></li>
        <li><a [routerLink]="['configuration/VW_FRAGMENTTYPE']"><i class="fa fa-table fa-lg maroon"></i> Fragment Types</a></li>
        <li><a [routerLink]="['configuration/VW_SEQUENCE']"><i class="fa fa-table fa-lg maroon"></i> Sequences</a></li>
        <li><a [routerLink]="['configuration/VW_IDENTIFIERTYPE']"><i class="fa fa-table fa-lg maroon"></i> Identifier Types</a></li>
        <li><a [routerLink]="['configuration/VW_SITES']"><i class="fa fa-table fa-lg maroon"></i> Sites</a></li>
      </ul>
    </li>
    <li reg-navigator-item *ngIf="loggedIn$ | async">
      <a href="/api/browser" class="text-decoration-none" target="API Browser"><i class="fa fa-wrench fa-lg maroon"></i> API Browser</a>
    </li>
    <li reg-navigator-item *ngIf="loggedIn$ | async">
      <a [routerLink]="['profile']"><span class="fa fa-user-circle-o fa-lg maroon"></span> {{ fullName$ | async }}</a>
    </li>
    <li reg-navigator-item *ngIf="loggedIn$ | async" (click)="actions.logoutUser()"><a href="javscript:void(0)"><span class="fa fa-sign-out fa-lg maroon"></span></a></li>
  </reg-navigator-items>
</reg-navigator>
<main [style.visibility]="(loggedIn$ | async) ? 'visible' : 'hidden'">
  <router-outlet></router-outlet>
</main>
<reg-footer></reg-footer>
