<div>
  <reg-login-modal (onSubmit)="actions.loginUser($event)" [hasError]="hasError$ | async" [isPending]="isLoading$ | async" *ngIf="loggedOut$ | async">
  </reg-login-modal>
  <reg-navigator testid="navigator">
    <reg-navigator-header>
      <reg-logo></reg-logo>
    </reg-navigator-header>
    <reg-navigator-items>
      <li reg-navigator-item *ngIf="loggedIn$ | async">
        <a [routerLink]="['/counter']" class="text-decoration-none">Home</a>
      </li>
      <li reg-navigator-item *ngIf="loggedIn$ | async">
        <a [routerLink]="['/about']" class="text-decoration-none">Configuration</a>
      </li>
      <li reg-navigator-item *ngIf="loggedIn$ | async">
        <a href="/api" class="text-decoration-none"><i class="glyphicon glyphicon-wrench"></i> HAL Browser</a>
      </li>
      <li reg-navigator-item class="dropdown" *ngIf="loggedIn$ | async">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
          <span class="glyphicon glyphicon-user"></span> {{ firstName$ | async }} {{ lastName$ | async }} <span class="caret"></span>
        </a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">
          <li><a [routerLink]="['profile']">Profile</a></li>
          <li (click)="actions.logoutUser()"><a href="javscript:void(0)"><span class="dx-icon-clear icon"></span> Logout</a></li>
        </ul>
      </li>
    </reg-navigator-items>
  </reg-navigator>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
