<command-button id="search-export-command" testid="search-export-command" (onClick)="showForm($event)" iconName="files-o" title="Export"></command-button>
<div class="absolute">
  <dx-popup showCloseButton=false [fullScreen]="false" width="800" height="auto" title="Export" [shading]="true" [closeOnOutsideClick]="false"
    contentTemplate="contentTemplate" [(visible)]="formVisible">
    
    <div *dxTemplate="let data of 'contentTemplate'">
      <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-2"><label>Export Format:</label></div>
        <div class="col-sm-2">
          <dx-select-box [items]="filesType" [value]="selectedFileType" [width]="100" 
          (onValueChanged)="fileTypeValueChanged($event);" displayExpr="displayExpr" valueExpr="valueExpr">
          </dx-select-box>
        </div>
        <div class="col-sm-1"><label>Template:</label></div>
        <div class="col-sm-2">
          <dx-select-box [items]="exportTemplates" [value]="currentExportTemplate" [width]="130"
          (onValueChanged)="exportTemplateValueChanged($event);" displayExpr="Name" valueExpr="ID">
          </dx-select-box>
        </div>
        <div class="col-sm-5">
          <command-button *ngIf="isAddTemplateButtonEnabled" id="add-template-command" testid="add-template-command" (onClick)="addTemplate()" iconName="plus" title="Add" [pullRight]="false"></command-button>
          <command-button *ngIf="isEditDeleteTemplateButtonEnabled" id="edit-template-command" (onClick)="editTemplate()" testid="edit-template-command" iconName="edit" title="Edit" [pullRight]="false"></command-button>
          <command-button *ngIf="isEditDeleteTemplateButtonEnabled" id="delete-template-command" (onClick)="deleteTemplate()" testid="delete-template-command" iconName="delete" title="Delete" [pullRight]="false"></command-button>
        </div>
      </div>   
      <div *ngIf="isAddTemplateEnable" class="row" style="margin: 0px;">
          <dx-form id="saveTemplateForm" labelLocation="left" minColWidth="100" [colCount]="1" [items]="saveTemplateItems" [formData]="saveTemplateData" (onInitialized)='onSaveTemplateFormInit($event)'>
          </dx-form>
          <command-button testid="template-cancel-button" (onClick)="cancelSaveTemplate($event)" iconName="close" title="Cancel"></command-button>
          <command-button testid="template-add-button" (onClick)="saveTemplate($event)" iconName="floppy-o" title="Save"></command-button>
      </div>   
      <dx-data-grid [columns]="columns" [dataSource]="dataSource" (onSelectionChanged)="onSelectionChanged($event)" [paging]="{enabled: false}"
        [rowAlternationEnabled]="true" [height]="400" (onRowUpdated)='onRowUpdated($event)' (onContentReady)='onContentReady($event)' (onToolbarPreparing)="toolbarPreparing($event)">
        <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
        <dxo-editing mode="batch" [allowUpdating]="isAllowUpdatingEnabled" [allowDeleting]="false" [allowAdding]="false"></dxo-editing>
      </dx-data-grid>
      <command-button testid="search-export-cancel-button" (onClick)="cancel($event)" iconName="close" title="Cancel" [pullRight]="true"></command-button>
      <command-button testid="search-export-export-button" (onClick)="export($event)" iconName="floppy-o" title="Export" [pullRight]="true"></command-button>
    </div>
  </dx-popup>
</div>
