<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Uncomment TestingUserName and TestingPassword and provide values to test Services requiring creditials through the asmx page
        <add key="TestingUserName" value="t5_85"/>
        <add key="TestingPassword" value="t5_85"/>
		-->
    <add key="SimulationMode" value="false"/>
    <add key="AppName" value="REGISTRATION"/>
    <add key="ConfigurationName" value="Registration"/>
    <add key="ErrorControlStringLength" value="90"/>
    <!-- Settings for specifying how a user will be authenticated when using COE Framework Services
    For custom authentication set valuse to: Csla 
    For windows authentication set it to: Windows
    -->
    <add key="CslaAuthentication" value="Csla"/>
    <!--Settings for specifying how this application will call COE Framework Services-->
    <!--LOCAL:if the framework services are on this machine do not uncomment anything
    -->
    <!--REMOTE if framework services will be accessed via remoting calls uncomment the following lines and enter replace //localhost with the name of the server. For 
    for developement use http://localhost:4285/CambridgeSoft.COE.Framework.RemotingHost/RemotingPortal.rem  change the portnumber if you change the properties to dynamic port numbers
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.RemotingProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://localhost/COERemotingHost/RemotingPortal.rem"/>
    <add key="CslaEncryptRemoting" value="false"/>-->
    <!--WEBSERVICE:  if framework services will be accessed via webservice calls then uncomment the following lines and enter replace //localhost with the name of the server
    for developement use http://localhost:4283/CambridgeSoft.COE.Framework.WebServiceHost/WebServicePortal.asmx  change the portnumber if you change the properties to dynamic port numbers
      <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.WebServicesProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
      <add key="CslaDataPortalUrl" value="http://localhost/COEWebServiceHost/WebServicePortal.asmx"/>
    -->
  </appSettings>
</configuration>