<?xml version="1.0"?>
<configuration>
	<configSections>
		<section restartOnExternalChanges="true" name="coeClientConfiguration" type="CambridgeSoft.COE.Framework.Common.COEClientConfigurationSettings, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf"/>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=21f4688e7671500b"/>
		<section name="coeLoggingConfiguration" type="CambridgeSoft.COE.Framework.Common.COELoggingConfiguration, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf"/>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
		<section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<coeClientConfiguration file="web.config"/>
	<coeLoggingConfiguration logEntryIdentifier="COESecurity" enabled="false" categories="All" priority="10" severity="All"/>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="UIExceptionPolicy">
				<exceptionTypes>
					<add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="UnknownExceptionPolicy">
				<exceptionTypes>
					<add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="LogAndThrowNewException">
				<exceptionTypes>
					<add type="CambridgeSoft.COE.Framework.ExceptionHandling.COEBusinessLayerException, CambridgeSoft.COE.Framework" postHandlingAction="ThrowNewException" name="COE Business Exception">
						<exceptionHandlers>
							<add logCategory="Event Log" eventId="100" severity="Error" title="COE Business Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler"/>
							<add logCategory="Flat File" eventId="100" severity="Error" title="COE Business Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler"/>
						</exceptionHandlers>
					</add>
					<add type="CambridgeSoft.COE.Framework.ExceptionHandling.COEDALException,CambridgeSoft.COE.Framework" postHandlingAction="ThrowNewException" name="COE DAL Exception">
						<exceptionHandlers>
							<add logCategory="Event Log" eventId="100" severity="Error" title="COE DAL Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler"/>
							<add logCategory="Flat File" eventId="100" severity="Error" title="COE DAL Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="LogOnly">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Miscellaneous Exception">
						<exceptionHandlers>
							<add logCategory="Event Log" eventId="100" severity="Error" title="COE Base Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler"/>
							<add logCategory="Flat File" eventId="100" severity="Error" title="COE Base Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<appSettings>
		<add key="HomeLinkURL" value="~/forms/public/contentarea/Home.aspx"/>
		<add key="CslaAuthentication" value="Csla"/>
		<add key="LogCategoryMessages" value="0"/>
		<add key="AppPageTitle" value="CambridgeSoft COEManager Enterprise 12.0"/>
		<add key="AppName" value="MANAGER"/>
		<add key="ConfigurationName" value="Manager"/>
    <!-- Ignore the certifcation error    
    <add key="IgnoreSpotfireServerCertValidationError" value="true"/>
    -->
    <add key="DefaultGlobalUserName" value="COEUSER"/>
    <add key="DefaultGlobalUserPassword" value="sq7upACGmZNDXSXJ5k2UIw=="/>
	</appSettings>
	<infragistics.web imageDirectory="/COECommonResources/infragistics/20111CLR20/Images" javaScriptDirectory="/COECommonResources/infragistics/20111CLR20/Scripts" cssDirectory="/COECommonResources/infragistics/20111CLR20/Styles" formsDirectory="/COECommonResources/infragistics/20111CLR20/Forms"/>
	<connectionStrings>
		<!--<add name="my_personalization_app_con_string" connectionString=
      "User Id=coedb;Password=oracle;Data Source=orcl"/>-->
	</connectionStrings>
	<loggingConfiguration defaultCategory="Event Log">
		<categorySources>
			<add name="Event Log" switchValue="All">
				<listeners>
					<add name="Event Log Destination"/>
				</listeners>
			</add>
			<add name="Flat File" switchValue="All">
				<listeners>
					<add name="Flat File Destination"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<errors name="errors" switchValue="All">
				<listeners>
					<add name="Event Log Destination"/>
				</listeners>
			</errors>
		</specialSources>
		<listeners>
			<add name="Event Log Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="ChemBioOffice Enterprise 11" formatter="Default Formatter"/>
			<add name="Flat File Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="trace.log" formatter="Default Formatter"/>
		</listeners>
		<formatters>
			<add name="Default Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="&#xA;Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;      "/>
		</formatters>
	</loggingConfiguration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Infragistics2.WebUI.Documents.Excel.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.Misc.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.Shared.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebCalcManager.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebChart.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebListbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebNavigator.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebTab.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebToolbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebCombo.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebDataInput.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebDateChooser.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebHtmlEditor.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebNavBar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebSchedule.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebScheduleDataProvider.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebSpellChecker.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=21f4688e7671500b"/>
				<!--<add assembly="Oracle.DataAccess, Version=2.102.2.20, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<sessionState cookieless="false" timeout="20"/>
		<authentication mode="Forms">
			<forms path="/" name="COESSO" loginUrl="~/Forms/Public/ContentArea/Login.aspx" protection="All" timeout="20"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<machineKey validationKey="45CAC78F3314531A5717DFF2B63FCDF324A6AE4DEFBA3AD3FECB7E741C94969D61C4A9587204771087DA7B4C5402F8195DFD2CFE3DD5C94759C494D8F6059401" decryptionKey="EA164BA3FB87420D6E7D3D0AA31CEBFBBB5608AFA9B837E0" validation="SHA1"/>
		<trace enabled="false" requestLimit="100" pageOutput="true" traceMode="SortByCategory" localOnly="true" mostRecent="true"/>
		<globalization culture="auto:en-US" uiCulture="auto:en" enableClientBasedCulture="true"/>
		<pages styleSheetTheme="BLUE" validateRequest="false" masterPageFile="~/Forms/Master/MasterPage.master" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="COEManager" src="~/Forms/Public/UserControls/ErrorArea.ascx" tagName="ErrorArea"/>
				<add tagPrefix="COEManager" src="~/Forms/Public/UserControls/ConfirmationArea.ascx" tagName="ConfirmationArea"/>
				<add tagPrefix="COEManager" src="~/Forms/Public/UserControls/ImageButton.ascx" tagName="ImageButton"/>
				<add tagPrefix="COEManager" src="~/Forms/Public/UserControls/TextBoxWithPopUp.ascx" tagName="TextBoxWithPopUp"/>
			</controls>
		</pages>
		<membership defaultProvider="COEMembershipProvider">
			<providers>
				<add name="COEMembershipProvider" type="CambridgeSoft.COE.Framework.COESecurityService.COEMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" description="Logs user in to ChemOffice Enterprise"/>
			</providers>
		</membership>
    <clientTarget>
      <add alias="iecustom" userAgent="Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)" />
    </clientTarget>
		<!--<webParts >
      <personalization defaultProvider="CustomOraclePersonalizationProvider">
        <providers>
          <add name="CustomOraclePersonalizationProvider"
               type="Oracle.Web.Personalization.OraclePersonalizationProvider,
                     Oracle.Web, Version=2.111.6.20, Culture=neutral,
                     PublicKeyToken=89b483f429c47342"
               connectionStringName="my_personalization_app_con_string"
               applicationName="my_personalization_app"/>
        </providers>
      </personalization>
    </webParts>-->
		<httpRuntime executionTimeout="360" maxRequestLength="32768" requestValidationMode="2.0" />      
	</system.web>
	<system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="x-ua-compatible" value="IE=EmulateIE9" />
      </customHeaders>
    </httpProtocol>
    </system.webServer>
	<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	<dependentAssembly>
	<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
	<bindingRedirect oldVersion="2.102.0.0-2.122.1.0" newVersion="2.122.1.0"/>
	</dependentAssembly>
	</assemblyBinding>
	</runtime>
</configuration>
