<div class="viewcontainer" (window:resize)="onResize($event)">
  <reg-settings-page-header>Customize Forms</reg-settings-page-header>
  <dx-data-grid [columns]="configForms.columns" [dataSource]="dataSource" [paging]='{enabled: false}'
    [searchPanel]='{ visible: true }' [filterRow]='{ visible: true }' [height]="gridHeight" rowAlternationEnabled="true"
    [grouping]="{ autoExpandAll: true }" [wordWrapEnabled]="true"
    (onContentReady)='onInitialized($event)' (onCellPrepared)='onCellPrepared($event)' (onRowClick)="onRowClick($event)">
    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="false"></dxo-editing>
    <div *dxTemplate="let data of 'controlTypeTemplate'">
      {{ data.value.replace('CambridgeSoft.COE.Framework.Controls.COEFormGenerator.COE','') }}
    </div>
    <div *dxTemplate="let data of 'editControlTypeTemplate'">
      <dx-select-box [items]="data.data.controlTypeOptions" [value]="data.value"
        (onValueChanged)="editLookupValueChanged($event,data);" displayExpr="Key" valueExpr="Value" [disabled]='!data.data.controlEnabled'>
      </dx-select-box>
    </div>
    <div *dxTemplate="let data of 'editCssClassTemplate'">
      <dx-select-box [items]="configForms.cssClassItems" [(value)]="data.value" (onValueChanged)="editLookupValueChanged($event,data);">
      </dx-select-box>
    </div>
    <div *dxTemplate="let d of 'groupCellTemplate'">
      <div class="list-header tan">{{d.value}}</div>
    </div>
  </dx-data-grid>
</div>