/deep/ #addinHeader .btn-group.btn-group-xs.pull-right.m1 {
  margin-top: 25px !important;
}

/deep/ #configTable .dx-texteditor-buttons-container .dx-clear-button-area {
  display: none;
}

/deep/ .dx-command-edit .dx-link {
  font-size: 18px;
  margin: 0 3px;
  text-decoration: none;
}

/deep/ .dx-command-edit .dx-link:hover {
  opacity: 0.8;
}

/deep/ #select-position {
  display: inline-block;
  vertical-align: middle;
}

/deep/ .select-position span {
  margin-right: 10px;
  vertical-align: middle;
}

/deep/ .dx-button {
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #ffffff;
}

/deep/ .dx-button.dx-state-hover,
/deep/ .dx-button.dx-state-focused,
/deep/ .dx-toolbar-text-auto-hide .dx-button.dx-state-hover .dx-icon,
/deep/ .dx-toolbar-text-auto-hide .dx-button.dx-state-focused .dx-icon {
  background-color: #337ab7;
  color: #ffffff;
  opacity: 0.8;
}

/deep/ .dx-button-text {
  font-weight: 500;
}

/deep/ .dx-toolbar-text-auto-hide .dx-button .dx-icon {
  color: #ffffff;
}

/deep/ #addinConfigTextArea > .dx-texteditor-container > textarea {
  padding: 2px 4px;
  font-size: 13px !important;
  color: #c7254e;
  background-color: #f9f2f4;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.grid-icon {
  font-size: 14px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #e6e6e6;
  border-radius: 50%;
  border: 1x solid grey;
  padding: 5px;
  cursor: pointer;
}

.grid-icon-disabled {
  font-size: 14px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #e6e6e6;
  border-radius: 50%;
  border: 1x solid grey;
  padding: 5px;
  color: white;
  cursor: not-allowed;
}

.grid-icon:hover {
  background-color: #cccccc;
}

.list-header {
  text-decoration: none;
  cursor: pointer;
  margin: 8px;
  font-weight: 500;
  font-size: 16px;
}

.panel-heading a.list-header::before {
  content: '\F078';
  position: absolute;
  font-family: 'FontAwesome';
  right: 15px;
  font-size: 16px;
}

.right-space {
  float: right;
  margin-right: 20px;
}

ul#CustomTablesDropDown > li > a > i,
#SystemBehaviorsDropDown > li > a > i {
  width: 25px;
  text-align: center;
}
