<dx-drop-down-box [(value)]="value" valueExpr="valueExpr" displayExpr="displayExpr" placeholder="Select..." [showClearButton]="false" [dataSource]="dataSource">
  <div *dxTemplate="let data of 'content'">
    <dx-data-grid [dataSource]="dataSource" [columns]="columns" [selection]="{ mode: 'single' }" [hoverStateEnabled]="true" [paging]="{ enabled: true, pageSize: 10 }" [filterRow]="{ visible: true }" [scrolling]="{ mode: 'infinite' }" [height]="265">
      <div *dxTemplate="let data of 'structureTemplate'">
        <reg-structure-column-item-template [viewModel]="data"></reg-structure-column-item-template>
      </div>
    </dx-data-grid>
  </div>
</dx-drop-down-box>
