/* CSS Document */
.igWebToolBarMainSilver2k7{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	background-image: url(WebToolBar/igWebToolBarBg2.jpg);
	background-repeat: repeat-x;
	/* height: 25px;
	padding-top: 1px;
	 */
	 border-bottom: 1px solid #7C7C94;
	 height: 30px; 
}

.igWebToolBarMainSilver2k7 input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	/* padding-top: 2px;
	padding-bottom: 2px; */
	/* height: 23px; */
	width: 40px;
	border: 1px solid #FFFFFF;
}

.igWebToolBarNormalSilver2k7 {
	width:100px;
	padding-left: 2px;
	/* height: 23px; */
	font-size: 11px;
	}

.igWebToolBarHoverSilver2k7 {
	background-image: url(WebToolBar/igWebToolBarHover.jpg);
	background-repeat: repeat-x;
	background-color: #FFDB75;
	border: 1px solid #FFBD69;
	
/* height: 23px; */
	font-size: 11px;
	padding-left: 1px;

}

.igWebToolBarSelectedSilver2k7 {
	background-image: url(WebToolBar/igWebToolBarSelected.jpg);
	background-repeat: repeat-x;
	font-size: 11px;
	padding-left: 1px;
	border: 1px solid #FB8C3C;
	background-color: #FFB85E;
}