/*<meta />*/

/*
// {{MadCap}} //////////////////////////////////////////////////////////////////
// Copyright: MadCap Software, Inc - www.madcapsoftware.com ////////////////////
////////////////////////////////////////////////////////////////////////////////
// <version>5.0.1.0</version>
////////////////////////////////////////////////////////////////////////////////
*/

.MCDropDown
{
	
}

.MCDropDownHead
{
	
}

.MCDropDownHotSpot
{
	
}

.MCDropDownBody
{
	
}

.MCDropDownIcon
{
	border: none;
}

.MCExpanding
{
	
}

.MCExpandingHead
{
	
}

.MCExpandingBody
{
	
}

.MCExpandingIcon
{
	border: none;
}

.MCKLink
{
	
}

.MCKLinkSpot
{
	
}

.MCKLinkBody
{
	background-color: #bbccdd;
	border: solid 1px #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	cursor: pointer;
	cursor: hand;
	filter: alpha( opacity = 100 );
	-moz-opacity: 1.0;
	z-index: 2;
}

.MCKLinkBodyBG
{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 100 );
	-moz-opacity: 1.0;
	z-index: 1;
}

.MCKLinkBodyCell_Highlighted
{
	padding: 5px;
	background-color: Blue;
	color: White;
}

.MCKLinkBodyCell
{
	padding: 5px;
	background-color: Transparent;
	color: Black;
}

.MCKeywordLinkIcon
{
	border: none;
}

.MCConceptLinkIcon
{
	border: none;
}

.MCRelatedTopicsIcon
{
	border: none;
}

.MCPopup
{
	
}

.MCPopupSpot
{
	
}

.MCPopupBody
{
	background-color: #ffffff;
	border: solid 1px #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
}

.MCPopupBodyBG
{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 1;
}

.MCTextPopup
{
	
}

.MCTextPopupSpot
{
	
}

.MCTextPopupBody
{
	background-color: #bbccdd;
	border: solid 1px #000000;
	margin: 0px;
	padding: 5px;
	position: absolute;
	overflow: auto;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
}

.MCTextPopupBodyBG
{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 1;
}

.MCPopupThumbnail
{
	border: none;
}

.MCPopupThumbnail_Popup
{
	border: solid 1px Gray;
	position: absolute;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 102;
}

.MCToggler
{
	
}

.MCTogglerIcon
{
	border: none;
}

div.MCDialogWrapper
{
	width: 400px;
	position: fixed;
	z-index: 110;
}

div.MCDialog
{
	width: 400px;
	position: absolute;
	padding: 10px;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 2;
}

div.MCDialogShadow
{
	width: 400px;
	position: absolute;
	padding: 10px;
	filter: alpha( opacity = 0 );
	-moz-opacity: 0.0;
	z-index: 1;
}

div.MCDialog table.MCDialogOuterTable
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	border-collapse: collapse;
	table-layout: fixed;
}

div.MCDialog table.MCDialogOuterTable td.Label
{
	vertical-align: top;
}

endnotesBlock
{
	display: block;
}

endnoteBlock
{
	display: block;
}

footnotesBlock
{
	display: block;
}

footnoteBlock
{
	display: block;
}

div.MCBreadcrumbsBox_breadcrumbsProxy
{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 9pt;
	color: #646464;
	font-weight: bold;
}

div.MCMiniTocBox_minitoc
{
	padding-left: 20px;
	margin-top: 10px;
	padding-top: 10px;
	border-top-color: black;
	border-top-style: none;
	border-top-width: 1px;
	border-top: none;
	font-size: 9pt;
	font-style: normal;
	text-decoration: none;
	line-height: 13pt;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	color: #0000ff;
}

p.MiniTOC1
{
	margin: 1.12em 0;
	display: block;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	line-height: 15pt;
	text-indent: 0px;
	color: #000000;
	letter-spacing: 0em;
	font-weight: bold;
	margin-bottom: 2pt;
	margin-top: 2pt;
	margin-right: 0in;
	margin-left: 0pt;
	text-align: left;
}

a.MiniTOC1:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	color: #000000;
	font-size: 10pt;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	letter-spacing: 0em;
	text-decoration: none;
}

img.MCPopupThumbnail
{
	border: none;
}

a.MCXref_step
{
	text-decoration: underline;
	color: blue;
}

a.MCXref_step:link
{
	text-decoration: underline;
	color: blue;
}

a.MCXref_step:visited
{
	text-decoration: underline;
	color: blue;
}

a.MCXref_step:hover
{
	
}

a.MCXref_step:focus
{
	
}

table.AutoNumber_div_numlist1-1st
{
	text-align: left;
	letter-spacing: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-bottom: 5pt;
	margin-top: 5pt;
	text-indent: 0px;
	text-decoration: none;
	text-decoration-blink: false;
}

td.AutoNumber_div_numlist1-1st
{
	text-align: left;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	text-decoration: none;
	font-size: 10pt;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	line-height: 13.00pt;
}

table.AutoNumber_div_numlist1-inner
{
	text-align: left;
	letter-spacing: 0em;
	margin-bottom: 5pt;
	margin-top: 5pt;
	margin-left: 0in;
	margin-right: 0in;
	text-indent: 0px;
	text-decoration: none;
	text-decoration-blink: false;
}

table.AutoNumber_div_numlist1-last
{
	text-align: left;
	letter-spacing: 0em;
	margin-top: 4pt;
	margin-bottom: 8pt;
	margin-left: 0in;
	margin-right: 0in;
	text-indent: 0px;
	text-decoration: none;
	text-decoration-blink: false;
}

table.AutoNumber_div_numlist2-1st
{
	margin-left: 0.45em;
	text-align: left;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	letter-spacing: 0em;
	text-indent: 0px;
	text-decoration: none;
	text-decoration-blink: false;
}

a.MCXref_Heading_And_Page
{
	text-decoration: underline;
	color: blue;
}

a.MCXref_Heading_And_Page:link
{
	text-decoration: underline;
	color: blue;
}

a.MCXref_Heading_And_Page:visited
{
	text-decoration: underline;
	color: blue;
}

a.MCXref_Heading_And_Page:hover
{
	
}

a.MCXref_Heading_And_Page:focus
{
	
}

img.img_0
{
	border: none;
	margin-bottom: 0.9691278px;
	margin-right: 1.015911px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_1
{
	border: none;
	margin-bottom: 0.8676045px;
	margin-right: 0.6415041px;
	margin-left: 0.45072px;
}

img.img_2
{
	border: none;
	margin-bottom: 0.9683992px;
	margin-right: 0.9921609px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_3
{
	border: none;
	margin-bottom: 0.04967892px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_4
{
	border: none;
	margin-bottom: 0.9741555px;
	margin-right: 1.028156px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_5
{
	border: none;
	margin-bottom: 0.9741555px;
	margin-right: 0.9683954px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_6
{
	border: none;
	margin-bottom: 0.992159px;
	margin-right: 0.9921533px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_7
{
	border: none;
	margin-bottom: 0.9676858px;
	margin-right: 0.9921609px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_8
{
	border: none;
	margin-bottom: 1.008719px;
	margin-right: 1.015919px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_9
{
	border: none;
	margin-bottom: 1.016659px;
	margin-right: 0.9979211px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_10
{
	border: none;
	margin-bottom: 0.7495235px;
	margin-right: 6.000469px;
	margin-top: 0.75024px;
	margin-left: 5.99976px;
}

img.img_11
{
	border: none;
	margin-bottom: 0.0007206202px;
	margin-right: 6.000469px;
	margin-top: 1.49976px;
	margin-left: 5.99976px;
}

a.MCXref_Figure
{
	text-decoration: underline;
	color: blue;
}

a.MCXref_Figure:link
{
	text-decoration: underline;
	color: blue;
}

a.MCXref_Figure:visited
{
	text-decoration: underline;
	color: blue;
}

a.MCXref_Figure:hover
{
	
}

a.MCXref_Figure:focus
{
	
}

img.img_12
{
	border: none;
	margin-bottom: 0.9763223px;
	margin-right: 1.500473px;
	margin-top: 1.00008px;
	margin-left: 0.49968px;
}

img.img_13
{
	border: none;
	margin-top: 2.49984px;
	margin-left: 0.49968px;
}

img.img_14
{
	border: none;
	margin-bottom: 1.015919px;
	margin-right: 1.015919px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_15
{
	border: none;
	margin-bottom: 1.01664px;
	margin-right: 0.9684106px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_16
{
	border: none;
	margin-bottom: 0.9921609px;
	margin-right: 0.9928857px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_17
{
	border: none;
	margin-right: 2.267995px;
	margin-top: 2.00016px;
}

img.img_18
{
	border: none;
	margin-bottom: 2.818813px;
	margin-right: 1.243447px;
	margin-left: 0.50904px;
}

img.img_19
{
	border: none;
	margin-bottom: 1.015919px;
	margin-right: 1.016644px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_20
{
	border: none;
	margin-bottom: 6.001194px;
	margin-right: 5.976727px;
	margin-top: 5.99976px;
	margin-left: 5.99976px;
}

img.img_21
{
	border: none;
	margin-bottom: 5.999752px;
	margin-right: 6.000469px;
	margin-top: 5.99976px;
	margin-left: 5.99976px;
}

img.img_22
{
	border: none;
	margin-bottom: 1.03392px;
	margin-right: 1.028164px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_23
{
	border: none;
	margin-bottom: 0.9799234px;
	margin-right: 1.015926px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_24
{
	border: none;
	margin-bottom: 0.1231215px;
	margin-top: 3.25008px;
	margin-left: 1.50048px;
}

img.img_25
{
	border: none;
	margin-right: 0.2577625px;
	margin-top: 1.4796px;
}

img.img_26
{
	border: none;
	margin-bottom: 1.123919px;
	margin-right: 1.798553px;
	margin-top: 1.8756px;
	margin-left: 1.95192px;
}

img.img_27
{
	border: none;
	margin-bottom: 1.055506px;
	margin-right: 0.8200836px;
	margin-top: 2.47608px;
	margin-left: 4.5px;
}

img.img_28
{
	border: none;
	margin-bottom: 1.015923px;
	margin-right: 1.033917px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

img.img_29
{
	border: none;
	margin-right: 8.303755px;
	margin-top: 1.00944px;
	margin-left: 1.20096px;
}

img.img_30
{
	border: none;
	margin-bottom: 0.9741632px;
	margin-right: 0.9683954px;
	margin-top: 1.00008px;
	margin-left: 1.00008px;
}

div.MCTocProxy
{
	padding-left: 20px;
	margin-top: 10px;
	padding-top: 10px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
}

table.GenTOCTable1
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 2pt;
	margin-bottom: 2pt;
}

td.GenTOCText1
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	color: #000000;
	font-size: 10pt;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	letter-spacing: 0em;
	text-decoration: none;
}

a.GenTOCText1:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	color: #000000;
	font-size: 10pt;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	letter-spacing: 0em;
	text-decoration: none;
}

a.GenTOCText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	color: #000000;
	font-size: 10pt;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	letter-spacing: 0em;
	text-decoration: none;
}

td.GenTOCAutoText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	margin: 0;
	color: #000000;
	font-size: 10pt;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	letter-spacing: 0em;
	text-decoration: none;
}

td.GenTOCPageText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	margin: 0;
	color: #000000;
	font-size: 10pt;
	font-family: Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	letter-spacing: 0em;
	text-decoration: none;
	text-align: right;
	white-space: normal;
}

td.mcReset
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

MadCap|xref.TOCPageNumber
{
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	color: inherit;
}

