obj/
*.suo
*proj.user
**/PresentationTier/packages/
**/bin/*
!**/CommonRuntimeLibraries/*.dll
!**/CommonRuntimeLibraries/*.pdb
!**/Framework/**/bin/*.dll
!**/Framework/**/bin/*.refresh
!**/PyEngine/bin/*.dll
!**/SDKDocumentation/Bin/*
!**/RegistrationWebApp/Bin/*

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### StyleCop ###
StyleCop.Cache
package-lock.json
