obj/
*.suo
*proj.user
**/PresentationTier/packages/
**/bin/*
!**/CommonRuntimeLibraries/*.dll
!**/CommonRuntimeLibraries/*.pdb
!**/Framework/**/bin/*.dll
!**/Framework/**/bin/*.refresh
!**/PyEngine/bin/*.dll
!**/SDKDocumentation/Bin/*
!**/RegistrationWebApp/Bin/*



