<div #ToggleHeader class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
  <a class="list-header tan" data-toggle="collapse" href="#{{id}}">{{viewConfig.title}}</a>
  <span *ngIf="batchCommandsEnabled">
    <reg-batch-selector *ngIf="selectBatchEnabled" [viewModel]="viewModel.BatchList.Batch" (onSelected)="onBatchSelected($event)"></reg-batch-selector>
    <reg-batch-creator *ngIf="addBatchEnabled" [viewModel]="viewModel.BatchList.Batch" [viewConfig]="viewConfig"
    (onSelected)="onBatchSelected($event)" (onCreated)="onBatchCreated($event)"></reg-batch-creator>
    <reg-batch-editor *ngIf="editBatchEnabled" [viewModel]="viewModel.BatchList.Batch" [viewConfig]="viewConfig"
    (onSelected)="onBatchSelected($event)" (onEdit)="onBatchEdit($event)"></reg-batch-editor>
    <command-button *ngIf="deleteBatchEnabled" testid="delete-batch-command" (onClick)="deleteBatch($event)" iconName="trash" title="Delete Batch" [pullRight]="false"></command-button>
    <reg-batch-mover *ngIf="moveBatchEnabled" [defaultShow]="isMoveBatchVisible" [viewModel]="viewModel.BatchList.Batch" (onMoved)="onBatchMoved($event)" [batchId] = "selectedBatchId"></reg-batch-mover>
    <command-button *ngIf="createContainerButtonEnabled" testid="new-container" (onClick)="createInvContainer($event)" iconName="flask" title="New Container" [pullRight]="false"></command-button>
  </span>
</div>
<div #ToggleContent [id]="id" class="panel-collapse collapse in">
  <div class="p2">
    <reg-form-view [id]="id" (valueUpdated)="onValueUpdated($event)" [viewModel]="formData" [viewConfig]="items" [activated]="activated" [editMode]="editMode" [colCount]="colCount" [template]="template"></reg-form-view>
  </div>
  <div class="p2" *ngIf="batchContainersEnabled">
    <div class="dx-field-item-content dx-field-item-content-location-bottom">
      <div class="dx-form-group-with-caption dx-form-group dx-group-colcount-5">
        <div style="margin-bottom: 5px;">
          <span class="tan dx-form-group-caption"><strong>Batch Inventory Containers</strong> </span>
          <command-button *ngIf="showRequestMaterialButton" testid="request-material-record-details" (onClick)="requestMaterial()" iconName="flask" [pullRight]="false" title="Request Material" style="float: right; margin-right: 25px;"></command-button>
        </div>
        <div class="dx-form-group-content">
          <inventory-containers-form-group-item-view [invContainersVM]="batchContainers"></inventory-containers-form-group-item-view>
        </div>
      </div>
    </div>
  </div>
</div>
<dx-load-panel [position]="{at: 'center'}" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>
