.pointer-cursor {
  cursor: pointer;
}

.dx-command-select {
  width: 40px !important;
  min-width: 40px !important;
}

.dx-form-group-caption {
  font-size: 18px !important;
  font-weight: 500;
}

/deep/ .dx-toast-content {
  margin-bottom: 100px;
  max-width: 1000px;
  min-width: 400px;
}

.content {
  background: #f5f5f5;
  height: 100%;
  margin-top: 45px;
  overflow-y: scroll;
  padding-bottom: 89px;
  padding-left: 60px;
  padding-right: 5px;
  padding-top: 20px;
  position: fixed;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  width: 100%;
}

.background-white {
  background-color: #ffffff !important;
}

.border-light {
  border: 1px solid #dce0e3;
}

.yellow {
  color: #ebb700 !important;
}

.dropdown-menu .divider {
  background-color: #e5e5e5;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
}

.divider {
  height: 16px;
  width: 100%;
}

.welcome,
.username {
  font-size: 110%;
}

.text-relaxed {
  font-weight: normal;
  letter-spacing: 0.2em;
}

.coolgray {
  color: #a4aeb5 !important;
}

.text-relaxed {
  font-weight: normal;
  letter-spacing: 0.2em;
}

.black {
  color: #000000 !important;
}

.page-header {
  border-bottom: 1px solid #eeeeee;
  margin: 20px 0 20px !important;
  padding-bottom: 9px;
}

/* Grid style */

.reg-grid .dx-header-row {
  background-color: #a4aeb5;
  border-bottom: 1px solid transparent;
  border-color: #dce0e3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  padding: 10px 15px;
}

.reg-grid .dx-datagrid-filter-row {
  background-color: #dce0e3 !important;
}

.tools {
  background: #ffffff;
  height: 100%;
  left: 0;
  margin-left: 0;
  position: fixed;
  text-align: center;
  top: 55px;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  width: 60px;
  z-index: 1000;
}

#tools ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

#tools li {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  margin-bottom: 8px;
  padding-left: 3px;
}

#tools li:hover,
#tools li.active,
#tools li.selected {
  background: #f5f5f5;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}

#tools .selected {
  background: #f5f5f5;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #f5f5f5;
  border-top: 1px solid #eeeeee;
  color: #555555;
}

#expandIcon {
  bottom: 22px;
  left: 2px;
  position: fixed;
  z-index: 9999;
}

#compressIcon {
  bottom: 2px;
  left: 2px;
  position: fixed;
  z-index: 9999;
}

.footer-fullScreen {
  bottom: -24px;
  display: none !important;
  left: -60px;
}

.content-fullScreen {
  background: #f5f5f5;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  overflow-y: scroll;
  padding: 20px 2px 2px 2px !important;
  position: fixed;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  width: 100%;
}

.tools-fullscreen {
  display: none !important;
  margin-left: -60px !important;
  position: static !important;
  top: -45px !important;
  z-index: 0 !important;
}

.navbar-fullScreen {
  display: none !important;
  left: -60px;
  top: -110px;
}

.regcontainer {
  height: 100%;
  margin-left: 15px;
  margin-right: 10px;
}

.viewcontainer {
  padding-left: 15px;
  padding-right: 15px;
}
