<?xml version="1.0"?>

<configuration>

    <appSettings>
      <add key="HomeLinkURL" value="/COEManager/Forms/Public/ContentArea/Home.aspx"/>
      <add key="LogCategoryMessages" value="0"/>
      <add key="AppPageTitle" value="CambridgeSoft DocManager"/>
      <add key="PageControlsManager" value="DISABLE"/>      
      <add key="SimulationMode" value="false"/>
      <add key="DefaultSearchAction" value="ListsMode"/>
      <add key="DefaultSearchAction" value="ListForm"/>
      <add key="ShowStackTrace" value="true"/>      
      <add key="FormGroupId" value=""/>
      <add key="AppName" value="DOCMANAGER"/>
      <add key="ConfigurationName" value="DocManager"/>
      <add key="CslaAuthentication" value="Csla"/>
    </appSettings>
  
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
      <compilation debug="true">
        <assemblies>
          <add assembly="Infragistics2.WebUI.Shared.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
          <add assembly="Infragistics2.WebUI.UltraWebToolbar.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
          <add assembly="Infragistics2.WebUI.WebHtmlEditor.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
          <add assembly="Infragistics2.WebUI.WebNavBar.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
          <add assembly="Infragistics2.WebUI.WebSchedule.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
          <add assembly="Infragistics2.WebUI.WebScheduleDataProvider.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
          <add assembly="Infragistics2.WebUI.WebSpellChecker.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
          <add assembly="Infragistics2.WebUI.UltraWebTab.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>

          <add assembly="Infragistics2.WebUI.Misc.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
          <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
          <add assembly="Infragistics2.WebUI.UltraWebListbar.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
          <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          <add assembly="Infragistics2.WebUI.UltraWebNavigator.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        </assemblies>
      </compilation>
      <pages styleSheetTheme="BLUE" maintainScrollPositionOnPostBack="false">
      </pages>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms">
          <forms path="/" name="COESSO" loginUrl="/COEManager/Forms/Public/ContentArea/Login.aspx" protection="All"/>
        </authentication>
        <authorization>
          <deny users="?"/>
        </authorization>
        <machineKey validationKey="45CAC78F3314531A5717DFF2B63FCDF324A6AE4DEFBA3AD3FECB7E741C94969D61C4A9587204771087DA7B4C5402F8195DFD2CFE3DD5C94759C494D8F6059401" decryptionKey="EA164BA3FB87420D6E7D3D0AA31CEBFBBB5608AFA9B837E0" validation="SHA1"/>
        <membership defaultProvider="COEMembershipProvider">
          <providers>
            <add name="COEMembershipProvider" type="CambridgeSoft.COE.Framework.COESecurityService.COEMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" description="Logs user in to ChemOffice Enterprise"/>
          </providers>
        </membership>
    </system.web>
</configuration>
