<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChemBioVizExcelAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <ChemBioVizExcelAddIn.Properties.Settings>
      <setting name="AlignPictures" serializeAs="String">
        <value>2</value>
      </setting>
    </ChemBioVizExcelAddIn.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="CslaAuthentication" value="Csla"/>
    <add key="CslaDataPortalProxy" value=""/>
    <add key="CslaDataPortalUrl" value=""/>
    <add key="ignoreCertificateTrust" value="false"/>
    <add key="MAX_PROMPT_HITS" value="100"/>
    <add key="MAX_NO_HITS" value="500"/>
    <add key="STRUCTURE_MAX_HITS" value="100"/>
    <add key="STRUCTURE_MAX_HEIGHT" value="50"/>
    <add key="STRUCTURE_MAX_WIDTH" value="250"/>
    <add key="SQL_LOGGING_FILE" value="C:\CBVLog.txt"/>
    <add key="WorkBookPass" value="12345"/>
    <!-- Value for DefaultDisplayHeaderOption can be "All (1 cell)" or "All (Split Cells)" -->
    <add key="DefaultDisplayHeaderOption" value="All (1 cell)"/>
  </appSettings>
  <system.net>
    <!--<defaultProxy>
      <proxy usesystemdefault="True" bypassonlocal="True" />
    </defaultProxy>-->
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
