.navbar-top {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  font-size: 100% !important;
  margin-bottom: 0;
  margin-top: 0;
  padding: 2px 15px 0 15px;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  width: 100%;
}