<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CambridgeSoft.COE.Security.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SingleSignOnCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CambridgeSoft.COE.Security.Services.Properties.Settings>
            <setting name="SingleSignOnWebService" serializeAs="String">
                <value>http://localhost/COESingleSignOn/SingleSignOn.asmx</value>
            </setting>
        </CambridgeSoft.COE.Security.Services.Properties.Settings>
    </applicationSettings>
</configuration>