<div class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
  <a class="list-header tan" data-toggle="collapse" href="#{{id}}">Inventory Containers</a>
  <command-button testid="request-material-record-details" *ngIf="showRequestMaterialButton" (onClick)="requestMaterial()" iconName="flask" [pullRight]="false" title="Request Material" style="float: right;
  margin-right: 25px;"></command-button>
</div>
<div [id]="id" class="panel-collapse collapse in">
  <div class="p2">
    <inventory-containers-form-group-item-view [invContainersVM]="invContainers.containers"></inventory-containers-form-group-item-view>
  </div>
</div>
