<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HomeLinkURL" value="~/forms/public/contentarea/Home.aspx" />
    <add key="CslaAuthentication" value="Csla" />
    <add key="LogCategoryMessages" value="0" />
    <add key="AppPageTitle" value="CambridgeSoft COEManager Enterprise 12.0" />
    <add key="AppName" value="MANAGER" />
    <add key="ConfigurationName" value="Manager" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DefaultGlobalUserName" value="COEUSER" />
    <add key="DefaultGlobalUserPassword" value="sq7upACGmZNDXSXJ5k2UIw==" />
    <!-- Ignore the certifcation error    
    <add key="IgnoreSpotfireServerCertValidationError" value="true"/>
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.111.7.10" newVersion="2.111.7.10" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>