<?xml version="1.0"?>
<configuration>
  <appSettings>
<!-- 
    log:        on = record ChemScript log
    logfolder:  Where to save log files?
    logdays:    How long the log files are kept, in days?
    debug:      Debug mode. It logs all all to ChemScript
    pythoncoreverion:  Which python core version to be use?  2.4 ot 2.5
-->
    <add key="log" value="on" />
    <add key="logfolder" value="C:\Inetpub\wwwroot\ChemOffice\chem_reg\ChemScript\log\" />
    <add key="logdays" value="30" />
    <add key="debug" value="on" />
    <add key="pythoncoreversion" value="2.5" />
  </appSettings>
  
  <connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
    
<!--
  FROM: http://www.bluevisionsoftware.com/WebSite/TipsAndTricksDetails.aspx?Name=AspNetAccount
  
  1. On XP and W2K, an Administrator account need to be create for the PyEngine/ChemScript - ChemScript
  need this permission to check reg code via RegCOM.
  
  2. On Win2003, please specify Application pool identity
-->    
    <identity  impersonate="true" userName="camsoft_admin"  password="cambridgesoft" />
	</system.web>
</configuration>
