<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=21f4688e7671500b"/>
		<section name="coeLoggingConfiguration" type="CambridgeSoft.COE.Framework.Common.COELoggingConfiguration, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf"/>
		<section name="coeClientConfiguration" type="CambridgeSoft.COE.Framework.Common.COEClientConfigurationSettings, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf"/>
		<section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="UIExceptionPolicy">
				<exceptionTypes>
					<add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="UnknownExceptionPolicy">
				<exceptionTypes>
					<add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.Web.HttpRequestValidationException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpRequestValidationException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
					<add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
						<exceptionHandlers>
							<add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<coeLoggingConfiguration logEntryIdentifier="COEChemBioViz" enabled="false" categories="All" priority="10" severity="All"/>
	<coeClientConfiguration/>
	<appSettings>
		<add key="HomeLinkURL" value="/COEManager/Forms/Public/ContentArea/Home.aspx"/>
		<!--<add key="CslaAuthentication" value="Csla"/>-->
		<add key="LogCategoryMessages" value="0"/>
		<add key="AppPageTitle" value="CambridgeSoft ChemBioViz"/>
		<add key="PageControlsManager" value="ENABLE"/>
		<add key="SaveToURL" value="/COERegistration/Forms/BulkRegisterMarked/ContentArea/RegisterMarked.aspx?COESavedHitListID={0}"/>
		<add key="DeleteURL" value="/COERegistration/Forms/BulkRegisterMarked/ContentArea/DeleteMarked.aspx?COESavedHitListID={0}"/>
		<!--This allows hard coded single user login
    <add key="LogInSimulationMode" value="CSSADMIN"/> -->
		<add key="SimulationMode" value="false"/>
		<!--<add key="DefaultSearchAction" value="ListsMode"/>-->
		<add key="DefaultSearchAction" value="ListForm"/>
		<add key="ShowStackTrace" value="true"/>
		<!-- For Alanine REGDB (SimulationMode = false)-->
		<!--<add key="FormGroupId" value="16"/>
    <add key="AppName" value="REGISTRATION"/>-->
		<!-- For Simulation Mode (files in folder C:\Documents and Settings\All Users\Application Data\CambridgeSoft\ChemOfficeEnterprise12.1.0.0\SimulationFolder\Framework)-->
		<add key="FormGroupId" value=""/>
		<add key="AppName" value="CHEMBIOVIZ"/>
		<add key="ConfigurationName" value="CHEMBIOVIZ"/>
		<!--
    <add key="FormGroupId" value="3"/>
    <add key="AppName" value="CHEMINVDB2"/>-->
		<!--
    <add key="FormGroupId" value="1"/>
    <add key="AppName" value="REGISTRATION"/>-->
		<!--
    <add key="FormGroupId" value="2"/>
    <add key="AppName" value="BIODMDB"/>-->
	<add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
    <add key="HitsPerPage" value="10"/>
	</appSettings>
	<infragistics.web imageDirectory="/COECommonResources/infragistics/20111CLR20/Images" javaScriptDirectory="/COECommonResources/infragistics/20111CLR20/Scripts" cssDirectory="/COECommonResources/infragistics/20111CLR20/Styles" formsDirectory="/COECommonResources/infragistics/20111CLR20/Forms"/>
	<!--this should be commented out only in developement environments 
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <linkedConfiguration href="file://C:\Documents and Settings\All Users\Application Data\PerkinElmer\ChemOfficeEnterprise\COESharedAssemblyConfig.xml"/>
</assemblyBinding>-->
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93BE5FDC093E4C30"/>
				<add assembly="Infragistics2.WebUI.UltraWebTab.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.Misc.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.Shared.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebDataInput.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebDateChooser.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebListbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebCombo.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.Documents.Excel.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebNavigator.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebToolbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<add verb="GET" path="ServeImage.axd" type="CambridgeSoft.COE.Framework.Controls.COEFormGenerator.ServeImage, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf"/>
		</httpHandlers>
		<sessionState cookieless="false" timeout="20"/>
		<!--comment out authorization section to hard code login also need to add user to login simulation mode-->
		<!--<identity impersonate="true" userName="camsoft_admin" password="cambridgesoft"/>-->
		<authentication mode="Forms">
			<forms path="/" name="COESSO" loginUrl="/COEManager/Forms/Public/ContentArea/Login.aspx" protection="All" timeout="20"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<machineKey validationKey="45CAC78F3314531A5717DFF2B63FCDF324A6AE4DEFBA3AD3FECB7E741C94969D61C4A9587204771087DA7B4C5402F8195DFD2CFE3DD5C94759C494D8F6059401" decryptionKey="EA164BA3FB87420D6E7D3D0AA31CEBFBBB5608AFA9B837E0" validation="SHA1"/>
		<trace enabled="true" requestLimit="100" pageOutput="false" traceMode="SortByCategory" localOnly="true" mostRecent="true"/>
		<globalization culture="auto:en-US" uiCulture="auto:en" enableClientBasedCulture="true"/>
		<pages styleSheetTheme="BLUE" maintainScrollPositionOnPostBack="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<membership defaultProvider="COEMembershipProvider">
			<providers>
				<add name="COEMembershipProvider" type="CambridgeSoft.COE.Framework.COESecurityService.COEMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" description="Logs user in to ChemOffice Enterprise"/>
			</providers>
		</membership>
    <httpRuntime requestValidationMode="2.0"/>
    <clientTarget>
      <add alias="iecustom" userAgent="Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)" />
    </clientTarget>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
<bindingRedirect oldVersion="2.102.0.0-2.122.1.0" newVersion="2.122.1.0"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
</configuration>
