<div class="viewcontainer" [hidden]="currentIndex!=0" (window:resize)="onResize($event)">
  <reg-page-header testid="configuration-heading" id="qa-configuration-heading">
    <span *ngIf="records.temporary">Temporary</span> Registration Records
  </reg-page-header>
  <dx-popup [width]="300" [height]="250" [showTitle]="true" title="Save Query" [dragEnabled]="false" [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
      <dx-form id="editHitlistForm" labelLocation="left" minColWidth=300 [colCount]="1" [items]="hitlistVM.saveQueryVM.editColumns"
        [formData]="hitlistVM.saveQueryVM.data"></dx-form>
      <div style="margin-top: 15px">
        <button class="mr1 btn btn-primary" (click)="saveHitlist()">Save</button>
        <button class="mr1 btn btn-primary" (click)="cancelSaveQuery()">Cancel</button>
      </div>
    </div>
  </dx-popup>
  <div>
    <dx-load-panel #loadPanel [position]="{ of: '#divDataGrid' }" [(visible)]="loadIndicatorVisible" [showIndicator]="true" [showPane]="true"
      [shading]="false" [closeOnOutsideClick]="false">
    </dx-load-panel>
    <div id="divDataGrid">
      <dx-data-grid [height]="gridHeight" id="grdRecords" [columns]=records.gridColumns [dataSource]="records.data.rows" rowAlternationEnabled=true
        (onToolbarPreparing)="onToolbarPreparing($event)" (onSelectionChanged)="onSelectionChanged($event)" (onContentReady)='onContentReady($event)'
        (onCellPrepared)='onCellPrepared($event)' (onInitNewRow)='onInitNewRow($event)' (onRowPrepared)='onRowPrepared($event)'
        (onEditingStart)='onEditingStart($event)' [hoverStateEnabled]="true" [selectedRowKeys]="[]">
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="records.temporary" [allowAdding]="false"></dxo-editing>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-scrolling mode="infinite"></dxo-scrolling>
        <dxo-remote-operations [sorting]="true"></dxo-remote-operations>
        <dxo-sorting mode="single"></dxo-sorting>
        <dxo-filter-row [visible]="records.filterRow"></dxo-filter-row>
        <dxo-search-panel [visible]="records.filterRow" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing>
        <div *dxTemplate="let data of 'toolbarContents'">
          <div class="count green" [hidden]="recordsVM.totalRecordCount==0">
            <div class="count-type">Record matching</div>
            <div class="count-type-amount border-green round border-2 padding-xs">
              {{recordsVM.totalRecordCount}}
              <i class="fa fa-book" aria-hidden="true"></i>
            </div>
          </div>
          <div class="count orange" [hidden]="selectedRows.length==0">
            <div class="count-type">Marked Hits</div>
            <div class="count-type-amount border-orange round border-2 padding-xs">
              {{selectedRows.length}}
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div class="btn-group btn-group-sx">
            <button class="btn btn-group btn-group-sx rose text-relaxed" data-original-title="New Query" (click)="newQuery()">
          <i class="fa fa-list-alt"></i>New Query</button>
          </div>
          <div class="btn-group btn-group-sx">
            <button class="btn btn-group btn-group-sx rose text-relaxed" (click)="saveQuery(false)" data-original-title="Save Query">
          <i class="fa fa-floppy-o"></i>Save Query</button>
          </div>
          <div class="btn-group btn-group-sx">
            <button class="btn btn-group btn-group-sx rose text-relaxed" (click)="editQuery(1)" data-original-title="Save Query">
          <i class="fa fa-pencil-square-o"></i>Edit Current Query</button>
          </div>
          <div class="btn-group btn-group-sx">
            <button class="btn btn-group btn-group-sx rose text-relaxed" data-original-title="Print" (click)="printRecords()">
          <i class="fa fa-print"></i>Print</button>
          </div>
          <div class="btn-group btn-group-sx" *ngIf="!rowSelected">
            <button type="button" class="btn dropdown-toggle rose text-relaxed" data-original-title="Marked" (click)="showMarked()">
          <i class="fa fa-filter"></i>Show Marked 
          </button>
          </div>
          <div class="btn-group btn-group-sx" *ngIf="selectedRows.length>0">
            <button type="button" class="btn dropdown-toggle rose text-relaxed" data-original-title="Marked" (click)="saveQuery(true)">
          <i class="fa fa-floppy-o"></i>Save Marked 
          </button>
          </div>
          <div class="btn-group btn-group-sx" *ngIf="rowSelected">
            <button type="button" class="btn dropdown-toggle rose text-relaxed" data-original-title="Marked" (click)="showSearchResults()">
          <i class="fa fa-level-up"></i>Show Search Results 
          </button>
          </div>
          <div class="btn-group btn-group-sx" *ngIf="!records.temporary">
            <button class="btn btn-group btn-group-sx rose text-relaxed" (click)="manageQueries()">
          <i class="fa fa-bookmark"></i>Manage Queries</button>
          </div>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>
<div class="viewcontainer" [hidden]="currentIndex!=1">
  <reg-search-query [hitlistVM]="hitlistVM" (onClose)="headerClicked($event)"></reg-search-query>
</div>
<div class="viewcontainer" [hidden]="currentIndex!=2">
  <reg-record-search (onClose)="headerClicked($event)"></reg-record-search>
</div>