<div class="viewcontainer" (window:resize)="onResize($event)">
  <command-button *ngIf="id >= 0 &amp;&amp; !editMode" testid="edit-record-details-button" (onClick)="edit()" iconName="edit" title="Edit"></command-button>
  <command-button *ngIf="editMode" testid="cancel-record-details-button" (onClick)="cancel()" iconName="undo" title="Cancel"></command-button>
  <command-button *ngIf="id < 0 || editMode" testid="save-record-details-button" (onClick)="save()" iconName="floppy-o" title="Save"></command-button>
  <command-button *ngIf="(temporary &amp;&amp; !editMode) || id < 0" testid="register-record-details-button" (onClick)="register()" iconName="registered" title="Register"></command-button>
  <reg-page-header testid="configuration-heading" id="qa-configuration-heading">
    {{title}}
  </reg-page-header>
  <dx-scroll-view id="detailScrollView" [height]="parentHeight" scrollByContent="true" scrollByThumb="true" showScrollbar="true">
    <form class="form-inline" role="form" ng-submit="search(query)">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
            <a class="list-header tan" data-toggle="collapse" href="#structurePanel">Structure Information</a>
          </div>
          <div id="structurePanel" class="panel-collapse collapse in">
            <div class="panel-body">
              <div style="width:100%;height:100%;" resize>
                <div class='cdContainer'>
                  <div class='click_catch'>
                    <div class='toastMessagePresenter'></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
            <a class="list-header tan" data-toggle="collapse" href="#registryPanel">Registry Information</a>
          </div>
          <div id="registryPanel" class="panel-collapse collapse in">
            <div class="panel-body">
              <dx-form id="registryForm" [formData]="regRecordVM" [colCount]="2" [items]="regRecordVM.columns" [readOnly]="!editMode"></dx-form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
            <a class="list-header tan" data-toggle="collapse" href="#componentPanel">Component Information </a>
          </div>
          <div id="componentPanel" class="panel-collapse collapse in">
            <div class="panel-body">
              <dx-form id="componentForm" [formData]="regRecordVM.componentList[0]" [items]="regRecordVM.componentList[0].columns" [readOnly]="!editMode"></dx-form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
            <a class="list-header tan" data-toggle="collapse" href="#batchPanel">Batch Information </a>
          </div>
          <div id="batchPanel" class="panel-collapse collapse in">
            <div class="panel-body">
              <dx-form id="batchForm" [formData]="regRecordVM.batchList[0]" [items]="regRecordVM.batchList[0].columns" [readOnly]="!editMode"></dx-form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </dx-scroll-view>
</div>
