<div class="container-fluid border-light background-white">
  <div>
    <form class="form-inline" role="form" ng-submit="search(query)">
      <div>
        <button (click)="edit()" class="mr1 btn btn-primary pull-right" *ngIf="id >= 0 &amp;&amp; !editMode">Edit</button>
        <button (click)="cancel()" class="mr1 btn btn-primary pull-right" *ngIf="editMode">Cancel</button>
        <button (click)="save()" class="mr1 btn btn-primary pull-right" *ngIf="id < 0 || editMode">Save</button>
        <button (click)="register()" class="mr1 btn btn-primary pull-right" *ngIf="(temporary &amp;&amp; !editMode) || id < 0 ">Register</button>
      </div>
      <reg-page-header testid="configuration-heading" id="qa-configuration-heading">
           {{title}}
      </reg-page-header>
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">Structure</a></li>
            <li><a href="#tab2default" data-toggle="tab">Registry</a></li>
            <li><a href="#tab3default" data-toggle="tab">Component</a></li>
            <li><a href="#tab4default" data-toggle="tab">Batch</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
              <h4>Structure Information</h4>
              <div style="width:100%;height:100%;" resize>
                <div class='cdContainer'>
                  <div class='click_catch'>
                    <div class='toastMessagePresenter'></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab2default">
              <h4>Registry Information</h4>
              <dx-form id="registryForm" [formData]="regRecordVM" [colCount]="2" [items]="regRecordVM.columns"></dx-form>
            </div>
            <div class="tab-pane fade" id="tab3default">
              <h4>Component Information</h4>
              <dx-form id="componentForm" [formData]="regRecordVM.componentList[0]" [colCount]="2" [items]="regRecordVM.componentList[0].columns"></dx-form>
              <h4>Fragment Information</h4>
              <dx-form id="fragmentForm" [formData]="regRecord.ComponentList.Component[0].Compound.FragmentList.Fragment[0]" [colCount]="2" [items]="fragmentItems"></dx-form>
            </div>
            <div class="tab-pane fade" id="tab4default">
              <h4>Batch Information</h4>
              <dx-form id="batchForm" [formData]="regRecordVM.batchList[0]" [colCount]="2" [items]="regRecordVM.batchList[0].columns"></dx-form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
