<div id="bulk-record-view" [hidden]="detailViewVisible===true">
  <command-button testid="close-button" (onClick)="cancel($event)" iconName="close" title="Close"></command-button>
  <reg-header testid="templates-heading" id="templates-heading">
    Bulk Register Marked
  </reg-header>
  <dx-data-grid [columns]="columns" [dataSource]="datasource" rowAlternationEnabled="true" [height]="gridHeight" (onToolbarPreparing)="onToolbarPreparing($event)">
    <dxo-sorting mode="single"></dxo-sorting>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true" placeholder="Search..."></dxo-search-panel>
    <dxo-selection mode="single"></dxo-selection>
    <div *dxTemplate="let data of 'toolbarContents'">
      <div class="count tan pull-left">
        <div class="count-type">Total Number of Records:</div>
        <div class="count-type-amount border-tan round border-2 padding-xs">
          {{ datasource ? datasource.length : '' }}
          <i class="fa fa-book" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div *dxTemplate="let data of 'tempViewTemplate'">
      <a *ngIf="!data.key.REGNUMBER" (click)="reviewRecord(data)" style="font-weight:bold;text-decoration:none;cursor:pointer">{{data.value}}</a>
    </div>
    <div *dxTemplate="let data of 'recorrdViewTemplate'">
      <a (click)="reviewRecord(data)" style="font-weight:bold;text-decoration:none;cursor:pointer">{{data.value}}</a>
    </div>
    <div *dxTemplate="let data of 'cellTemplate'">
      <reg-structure-image [src]="data.value"></reg-structure-image>
    </div>
  </dx-data-grid>
</div>
<div *ngIf="detailViewVisible===true">
  <command-button testid="close-button" (onClick)="cancelDetailView($event)" iconName="backward" title="Back"></command-button>
  <reg-header testid="templates-heading" id="templates-heading" isMenu="false">
    {{currentRecord.temporary?'Temp ':''}} Registry Record: {{currentRecord.temporary?currentRecord.ID:currentRecord.RegNumber}}
  </reg-header>
  <dx-scroll-view id="detailScrollView" [height]="gridHeight" scrollByContent="true" scrollByThumb="true" showScrollbar="true">
    <span class="form-inline">
        <reg-record-detail-base *ngIf="detailViewVisible===true" [id]="currentRecord.ID" 
        [template]="false" [temporary]="currentRecord.temporary" displayMode="view"
         [activated]="true" (contentReady)="lodingCompleted();"></reg-record-detail-base>
      </span>
  </dx-scroll-view>
</div>
<dx-load-panel #loadPanel [position]="{at: 'center'}" [(visible)]="loadIndicatorVisible" [showIndicator]="true" [showPane]="true"
  shadingColor="rgba(128, 128, 128, .5)" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>