<div class="container-fluid border-light background-white">
  <reg-page-header testid="configuration-heading" id="qa-configuration-heading">
    {{title}}
  </reg-page-header>
  <div class="btn-toolbar">
    <div class="btn-group">
      <div class="btn-group btn-group-sm">
        <button class="btn btn-group btn-group-sm rose text-relaxed" (click)="back()" data-original-title="Back"><i class="fa fa-backward"></i> Back</button>
      </div>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn dropdown-toggle rose text-relaxed" data-toggle="dropdown">
			Restore Query <span class="caret"></span>
		  </button>
        <ul class="dropdown-menu" role="menu">
          <li><a class="rose text-relaxed">Restore Last Hitlist</a></li>
          <li><a class="rose text-relaxed">Perform Last Query</a></li>
          <li><a class="rose text-relaxed">Restore Last Query To Form</a></li>
        </ul>
      </div>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-group btn-group-sm rose text-relaxed" data-original-title="Back">
          <i class="fa fa-database"></i> Retrieve All</button>
    </div>
  </div>
  <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1default" data-toggle="tab">Advanced Search</a></li>
        <li><a href="#tab2default" data-toggle="tab">Query Management</a></li>
        <li><a href="#tab3default" data-toggle="tab">Preferences</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1default">
          <div class="row" style="margin-bottom:5px">
            <button (click)="clear()" class="mr1 btn btn-primary pull-right">
              <i class="fa fa-eraser"></i>
              Clear</button>
            <button (click)="search()" class="mr1 btn btn-primary pull-right">
              <i class="fa fa fa-search"></i>
              Search</button>
          </div>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading" style='border-left: 4px solid #f38787;'>
                <h4 class="panel-title">
                  <span class="list-header" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                                    Registry Information</span>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div>
                    <span style="color: #333;font-weight: 700;font-size:12px">Search Type:</span>
                    <dx-select-box [items]="regsearch.registrySearchVM.searchTypeItems" [value]="regsearch.registrySearch.searchTypeValue">
                    </dx-select-box>
                  </div>
                  <chem-draw-tool></chem-draw-tool>
                  <dx-form id="registrySearchForm" labelLocation="top" minColWidth=300 [colCount]="3" [formData]="regsearch.registrySearch" [items]="regsearch.registrySearchVM.columns"></dx-form>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" style='border-left: 4px solid #65c465;'>
                <h4 class="panel-title">
                  <span class="list-header" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Structure Information</span>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <dx-form id="structureSearchForm" labelLocation="top" minColWidth=300 [colCount]="3" [formData]="regsearch.structureSearch" [items]="regsearch.structureSearchVM.columns"></dx-form>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" style='border-left: 4px solid #98b3fa;'>
                <h4 class="panel-title">
                  <span class="list-header" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        Component Information </span>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <dx-form id="componentSearchForm" labelLocation="top" minColWidth=300 [colCount]="3" [formData]="regsearch.componentSearch" [items]="regsearch.componentSearchVM.columns"></dx-form>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" style='border-left: 4px solid #9900ff;'>
                <h4 class="panel-title">
                  <span class="list-header" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Batch Information </span>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  <dx-form id="batchSearchForm" labelLocation="top" minColWidth=300 [colCount]="3" [formData]="regsearch.batchSearch" [items]="regsearch.batchSearchVM.columns"></dx-form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab2default">
          <div class="row">
            <div class="panel col-sm-6">
              <div class="panel-heading" style="border-bottom:1px solid #f0f0f0">
                <h4 class="panel-title">
                  <span class="list-header" data-toggle="collapse" data-parent="#accordion" href="#collapseQueryOne">
                                                                    Recent Queries</span>
                </h4>
              </div>
              <div id="collapseQueryOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <ul class="list-group">
                    <li *ngFor="let tempQuery of regsearch.queryManagementVM.latestQueriesList" class="list-group-item">
                      <a class="dropdown-toggle query-list-item" data-toggle="dropdown">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; {{tempQuery.Name}} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="query-list-item text-relaxed">Restore Hitlist</a></li>
                        <li class="divider"></li>
                        <li><a class="query-list-item text-relaxed">Perform Query</a></li>
                        <li class="divider"></li>
                        <li><a class="query-list-item text-relaxed">Restore Query To Form</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel col-sm-6">
              <div class="panel-heading" style="border-bottom:1px solid #f0f0f0">
                <h4 class="panel-title">
                  <span class="list-header" data-toggle="collapse" data-parent="#accordion" href="#collapseQueryTwo">
                                                                    Saved Queries</span>
                </h4>
              </div>
              <div id="collapseQueryTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                  <ul class="list-group">
                    <li *ngFor="let savedQuery of regsearch.queryManagementVM.savedQueriesList" class="list-group-item">
                      <a class="dropdown-toggle query-list-item" data-toggle="dropdown">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; {{savedQuery.Name}} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="query-list-item text-relaxed">Restore Hitlist</a></li>
                        <li class="divider"></li>
                        <li><a class="query-list-item text-relaxed">Perform Query</a></li>
                        <li class="divider"></li>
                        <li><a class="query-list-item text-relaxed">Restore Query To Form</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="panel col-sm-12">
              <div class="panel-heading" style="border-bottom:1px solid #f0f0f0">
                <h4 class="panel-title">
                  <span class="list-header" data-toggle="collapse" data-parent="#accordion" href="#collapseQueryThree">
                                                                    Manage Hitlist</span>
                </h4>
              </div>
              <div id="collapseQueryThree" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-sm-12">
                          <span class="col-sm-2" style="color: #333;font-weight: 700;font-size:12px">Hitlist :</span>
                          <dx-select-box class="col-sm-6" [items]="regsearch.hitlistVM.items" valueExpr="ID" displayExpr='Name' [(value)]="regsearch.hitlistVM.hitlistValue">
                          </dx-select-box>&nbsp;&nbsp;
                          <a *ngIf="regsearch.hitlistVM.hitlistValue" class="fa fa-pencil-square-o" title="Edit" (click)="editHitlist()" style="font-size:22px;text-decoration:none"></a>&nbsp;
                          <a *ngIf="regsearch.hitlistVM.hitlistValue" class="fa fa-recycle" title="Restore" (click)="restoreHitlist()" style="font-size:22px;text-decoration:none "></a>&nbsp;
                          <a *ngIf="regsearch.hitlistVM.hitlistValue" class="fa fa-trash" title="Delete" (click)="deleteHitlist()" style="font-size:22px;text-decoration:none "></a>
                        </div>
                        <!-- <h4>{{regsearch.hitlistVM.hitlistValue}}
                      </h4>-->
                      </div>
                    </div>
                    <div class="panel-body" *ngIf="regsearch.hitlistVM.hitlistEdit || regsearch.hitlistVM.hitlistRestore">
                      <div id="edit-hitlist" *ngIf="regsearch.hitlistVM.hitlistEdit">
                        <span style="color: #333;font-weight: 700;font-size:14px;margin-bottom:5px">Fill query details for editing
                        </span>
                        <dx-form id="editHitlistForm" labelLocation="left" minColWidth=300 [colCount]="1" [items]="regsearch.hitlistVM.editColumns"></dx-form>
                        <div style="margin-top: 15px">
                          <button class="mr1 btn btn-primary">Edit</button>
                          <button class="mr1 btn btn-primary">Cancel</button>
                        </div>
                      </div>
                      <div id="restore-hitlist" *ngIf="regsearch.hitlistVM.hitlistRestore">
                        <span style="color: #333;font-weight: 700;font-size:14px;margin-bottom:5px">Please choose a restore type below
                        </span>
                        <div class="radio">
                          <label><input type="radio" [value]="regsearch.hitlistVM.replaceHitlist" name="optradio">Replace current list</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" [value]="regsearch.hitlistVM.intersectHitlist" name="optradio">Intersect with current list</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" [value]="regsearch.hitlistVM.substractHitlist" name="optradio">Subtract from current list</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" [value]="regsearch.hitlistVM.unionHitlist" name="optradio">Union with current list</label>
                        </div>
                        <div style="margin-top:10px">
                          <button class="mr1 btn btn-primary">Restore</button>
                          <button class="mr1 btn btn-primary">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab3default">
          <dx-form id="preferenceForm" labelLocation="left" minColWidth=300 [colCount]="1" [items]="regsearch.preferenceVM.columns"></dx-form>
          <button class="mr1 btn btn-primary">Save</button>
          <button class="mr1 btn btn-primary">Restore Defaults</button>
        </div>
      </div>
    </div>
  </div>
