.record-detail-title {
  display: inline-block;
}

.cdContainer {
  height: 400px;
  width: 100%;
}

/deep/ .dx-command-edit .dx-link {
  font-size: 18px;
  margin: 0 3px;
  text-decoration: none;
}

/deep/ .dx-command-edit .dx-link:hover {
  opacity: 0.8;
}

/deep/ #select-position {
  display: inline-block;
  vertical-align: middle;
}

/deep/ .select-position span {
  margin-right: 10px;
  vertical-align: middle;
}

.list-header {
  text-decoration: none;
  cursor: pointer;
  margin: 8px;
  font-size: 16px;
}

.query-list-item {
  color: #634f55;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.query-list-btn {
  color: #634f55;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.grd-icon {
  font-size: 14px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #e6e6e6;
  border-radius: 50%;
  border: 1x solid grey;
  padding: 5px;
  color: #009900;
  cursor: pointer;
}

.grd-icon:hover {
  background-color: #cccccc;
}

.modal {
  position: absolute;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100%;
  padding-left: 75px;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
  left: -320px;
}

.modal.left.fade.in .modal-dialog {
  left: 0;
}

.modal.right.fade .modal-dialog {
  right: -320px;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.modal-content {
  border-radius: 0;
  border-left: 1px solid #ffffe6;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

.panel-heading a.list-header::before {
  content: '\F078';
  position: absolute;
  font-family: 'FontAwesome';
  right: 15px;
  font-size: 16px;
}

.panel-heading a.list-header.collapsed::before {
  content: '\F054';
  position: absolute;
  font-family: 'FontAwesome';
  right: 15px;
  font-size: 16px;
}