<command-button testid="close-search-button" (onClick)="cancel($event)" iconName="close" title="Cancel"></command-button>
<command-button testid="clear-search-button" (onClick)="clear()" iconName="eraser" title="Clear"></command-button>
<command-button testid="search-button" (onClick)="search()" iconName="search" title="Search"></command-button>
<div class="btn-group btn-group-xs pull-right" role="group" aria-label="" style="margin:5px">
  <button type="button" class="btn btn-default border-2 status background-blue border-blue">
    <i class="fa-undo white" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-default border-2 status border-blue blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">Restore <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><button type="button" class="btn">Last Hitlist</button></li>
    <li><button type="button" class="btn">Last Query</button></li>
    <li><button type="button" class="btn">Last Query to Form</button></li>
  </ul>
</div>
<reg-page-header testid="configuration-heading" id="qa-configuration-heading">
  {{ 'Search ' + (temporary ? 'Temporary' : 'Permanent') + ' Registry' }}
</reg-page-header>
<dx-scroll-view id="scrollview" [height]="parentHeight" scrollByContent=true scrollByThumb=true showScrollbar=true>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
        <a class="list-header tan" data-toggle="collapse" href="#collapseOne">{{regSearch.registrySearchVM.title}}</a>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <div>
            <span style="color: #333;font-weight: 700;font-size:12px">Search Type:</span>
            <dx-select-box [items]="regSearch.registrySearchVM.searchTypeItems" [value]="regSearch.registrySearchVM.searchTypeValue">
            </dx-select-box>
          </div>
          <chemdraw-web></chemdraw-web>
          <dx-form id="registrySearchForm" labelLocation="top" minColWidth=300 [colCount]="3" [formData]="regSearch.registrySearchVM.data"
            [items]="regSearch.registrySearchVM.columns"></dx-form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
        <a class="list-header tan" data-toggle="collapse" href="#collapseTwo">{{regSearch.componentSearchVM.title}} </a>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in">
        <div class="panel-body">
          <dx-form id="componentSearchForm" labelLocation="top" minColWidth=300 [colCount]="3" [formData]="regSearch.componentSearchVM.data"
            [items]="regSearch.componentSearchVM.columns"></dx-form>
          <dx-form id="structureSearchForm" labelLocation="top" minColWidth=300 [colCount]="3" [formData]="regSearch.structureSearchVM.data"
            [items]="regSearch.structureSearchVM.columns"></dx-form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
        <a class="list-header tan" data-toggle="collapse" href="#collapseThree">{{regSearch.batchSearchVM.title}} </a>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in">
        <div class="panel-body">
          <dx-form id="batchSearchForm" labelLocation="top" minColWidth=300 [colCount]="3" [formData]="regSearch.batchSearchVM.data" [items]="regSearch.batchSearchVM.columns"></dx-form>
        </div>
      </div>
    </div>
  </div>
</dx-scroll-view>