<div class="viewcontainer" [hidden]="currentIndex!=0" (window:resize)="onResize($event)">
  <command-button testid="print-records-button" (onClick)="printRecords()" iconName="print" title="Print"></command-button>
  <div *ngIf="!temporary">
    <command-button testid="manage-query-button" (onClick)="manageQueries()" iconName="tasks" title="Manage Queries"></command-button>  
    <command-button *ngIf="!!records.data.hitlistId" testid="edit-query-button" (onClick)="editQuery(records.data.hitlistId)" iconName="edit" title="Edit Query"></command-button>
    <command-button *ngIf="false" testid="save-query-button" (onClick)="saveQuery(false)" iconName="floppy-o" title="Save Query"></command-button>
    <command-button *ngIf="!records.data.hitlistId" testid="new-query-button" (onClick)="newQuery()" iconName="search" title="New Query"></command-button>
  </div>
  <reg-page-header testid="configuration-heading" id="qa-configuration-heading">
    <span *ngIf="records.temporary">Temporary</span> Registration Records
  </reg-page-header>
  <dx-popup [width]="300" [height]="250" [showTitle]="true" title="Save Query" [dragEnabled]="false" [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
      <dx-form id="editHitlistForm" labelLocation="left" minColWidth=300 [colCount]="1" [items]="hitlistVM.saveQueryVM.editColumns"
        [formData]="hitlistVM.saveQueryVM.data"></dx-form>
      <div style="margin-top: 15px">
        <button class="mr1 btn btn-primary" (click)="saveHitlist()">Save</button>
        <button class="mr1 btn btn-primary" (click)="cancelSaveQuery()">Cancel</button>
      </div>
    </div>
  </dx-popup>
  <div>
    <dx-load-panel #loadPanel [position]="{ of: '#divDataGrid' }" [(visible)]="loadIndicatorVisible" [showIndicator]="true" [showPane]="true"
      [shading]="false" [closeOnOutsideClick]="false">
    </dx-load-panel>
    <div id="divDataGrid">
      <dx-data-grid [height]="gridHeight" id="grdRecords" [columns]=records.gridColumns [dataSource]="dataStore" rowAlternationEnabled=true
        (onToolbarPreparing)="onToolbarPreparing($event)" (onSelectionChanged)="onSelectionChanged($event)" (onContentReady)='onContentReady($event)'
        (onCellPrepared)='onCellPrepared($event)' (onInitNewRow)='onInitNewRow($event)' (onRowPrepared)='onRowPrepared($event)'
        (onEditingStart)='onEditingStart($event)' [hoverStateEnabled]="true">
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="records.temporary" [allowAdding]="false"></dxo-editing>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-scrolling mode="infinite"></dxo-scrolling>
        <dxo-remote-operations [sorting]="true"></dxo-remote-operations>
        <dxo-sorting mode="single"></dxo-sorting>
        <dxo-filter-row [visible]="records.filterRow.visible"></dxo-filter-row>
        <dxo-search-panel [visible]="records.filterRow.visible" [width]="240" placeholder="Search..."></dxo-search-panel>
        <div *dxTemplate="let data of 'toolbarContents'">
          <div class="count green" [hidden]="records.data.totalCount==0">
            <div class="count-type">Record matching</div>
            <div class="count-type-amount border-green round border-2 padding-xs">
              {{records.data.totalCount}}
              <i class="fa fa-book" aria-hidden="true"></i>
            </div>
          </div>
          <div class="count orange" [hidden]="selectedRows.length==0">
            <div class="count-type">Marked Hits</div>
            <div class="count-type-amount border-orange round border-2 padding-xs">
              {{selectedRows.length}}
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
          </div>
          <div *ngIf="!rowSelected" testid="snow-marked-button" class="btn-group btn-group-xs pull-right" role="group" aria-label="" style="margin:5px">
            <button type="button" class="btn btn-default border-2 status background-blue border-blue" (click)="showMarked()">
              <i class="fa fa-check-square-o white" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-default border-2 status border-blue blue" (click)="showMarked()">Show Marked</button>
          </div>
          <div *ngIf="rowSelected" testid="show-all-records-button" class="btn-group btn-group-xs pull-right" role="group" aria-label="" style="margin:5px">
            <button type="button" class="btn btn-default border-2 status background-blue border-blue" (click)="showSearchResults()">
              <i class="fa fa-undo white" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-default border-2 status border-blue blue" (click)="showSearchResults()">Show All Records</button>
          </div>
          <div *ngIf="selectedRows.length > 0" testid="saved-marked-button" class="btn-group btn-group-xs pull-right" role="group" aria-label="" style="margin:5px">
            <button type="button" class="btn btn-default border-2 status background-blue border-blue" (click)="saveQuery(true)">
              <i class="fa fa-floppy-o white" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-default border-2 status border-blue blue" (click)="saveQuery(true)">Save Marked</button>
          </div>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>
<div class="viewcontainer" [hidden]="currentIndex!=1">
  <reg-search-query [hitlistVM]="hitlistVM" (onClose)="headerClicked($event)"></reg-search-query>
</div>
<div class="viewcontainer" [hidden]="currentIndex!=2">
  <reg-record-search (onClose)="headerClicked($event)" [parentHeight]="gridHeight"></reg-record-search>
</div>