.record-detail-title {
  display: inline-block;
}

.cdContainer {
  height: 400px;
  width: 100%;
}

/deep/ .dx-command-edit .dx-link {
  font-size: 18px;
  margin: 0 3px;
  text-decoration: none;
}

/deep/ .dx-command-edit .dx-link:hover {
  opacity: 0.8;
}

/deep/ #select-position {
  display: inline-block;
  vertical-align: middle;
}

/deep/ .select-position span {
  margin-right: 10px;
  vertical-align: middle;
}

.list-header {
  color: #928b81;
  font-size: 16px;
  cursor: pointer;
}

.query-list-item {
  color: #634f55;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.query-list-btn {
  color: #634f55;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.grd-icon {
  font-size: 14px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #e6e6e6;
  border-radius: 50%;
  border: 1x solid grey;
  padding: 5px;
  color: #009900;
  cursor: pointer;
}

.grd-icon:hover {
  background-color: #cccccc;
}
