<div (window:resize)="onResize($event)">
<command-button testid="close-search-button" (onClick)="cancel($event)" iconName="close" title="Cancel"></command-button>
<command-button testid="clear-search-button" (onClick)="clear()" iconName="eraser" title="Clear"></command-button>
<command-button testid="search-button" (onClick)="search()" iconName="search" title="Search"></command-button>
<command-dropdown-list  class="pull-right" iconName="history" [title]="'Restore'">
  <ul class="dropdown-menu">
    <!-- <li>
      <button type="button" class="btn">Last Hitlist</button>
    </li>
    <li>
      <button type="button" class="btn">Last Query</button>
    </li> -->
    <li>
      <button type="button" (click)="restoreLastQueryToForm()" class="btn">Last Query to Form</button>
    </li>
  </ul>
</command-dropdown-list>
<reg-header testid="configuration-heading" id="qa-configuration-heading">
  {{ 'Search ' + (temporary ? 'Temporary' : 'Permanent') + ' Registry' }}
</reg-header>
<dx-form class="pull-right" [formData]="optionData" style="padding-top:10px; min-width:170px;" (onFieldDataChanged)="onOptionChanged($event)">
  <dxi-item dataField="isHighLightSubstructure" editorType="dxCheckBox" [label]="{ text: 'Highlight sub-structure' }">
  </dxi-item>
</dx-form>
<badge-count color="green" icon="book" text="Total Searchable Records" [count]="totalSearchableCount"></badge-count>
  <form class="form-inline" role="form" ng-submit="search(query)">
    <dx-scroll-view id="scrollview" [height]="scrollViewHeight" scrollByThumb=true showScrollbar="onHover" >
      <reg-search-form-group-view [viewModel]="searchCriteria" [viewConfig]="viewGroups" [editMode]="true" [displayMode]="displayMode"
      [activated]="cddActivated" (valueUpdated)="onValueUpdated($event)"></reg-search-form-group-view>
    </dx-scroll-view>
  </form>
</div>