BODY
{
    FONT-SIZE: 12px;
    MARGIN-LEFT: 0px;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
DIV.navigation
{
    MARGIN-LEFT: -34px
}
DIV.navigation P
{
    MARGIN-TOP: 6px
}
PRE
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 6px;
    COLOR: maroon;
    FONT-FAMILY: "Courier New", courier, monospace;
    BACKGROUND-COLOR: #fffff0
}
SPAN.codemark
{
    FONT-WEIGHT: bold;
    COLOR: black;
    BACKGROUND-COLOR: #d3d3d3
}
CODE
{
    DISPLAY: inline;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: "Courier New", courier, monospace;
    BACKGROUND-COLOR: #fffff0
}
H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 20px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: -34px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: -24px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: -12px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #fffff0
}
H5
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
H5.param
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 6px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
P.param
{
    MARGIN-TOP: 3px;
    MARGIN-LEFT: 6px
}
TABLE
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, arial, helvetica, sans-serif
}
TABLE.proc
{
    MARGIN-TOP: 12px;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: -12px;
    FONT-FAMILY: Verdana, arial, helvetica, sans-serif
}
TH
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #cccccc
}
UL P
{
    MARGIN-TOP: 6px;
    MARGIN-BOTTOM: 6px
}
UL P LI
{
    MARGIN-TOP: 6px
}
UL LI LI
{
    MARGIN-TOP: 12px
}
OL UL
{
    MARGIN-LEFT: 36px
}
OL UL LI
{
    MARGIN-LEFT: 0px;
    LIST-STYLE-TYPE: square
}
UL UL
{
    MARGIN-LEFT: 36px
}
UL UL LI
{
    MARGIN-LEFT: 0px;
    LIST-STYLE-TYPE: square
}
OL P
{
    MARGIN-TOP: 6px;
    MARGIN-BOTTOM: 6px
}
OL P LI
{
    MARGIN-TOP: 6px
}
OL LI LI
{
    MARGIN-TOP: 12px
}
TD UL
{
    MARGIN-TOP: 6px
}
TD.proc
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TD.copy
{
    FONT-SIZE: 10px;
    COLOR: gray;
    BACKGROUND-COLOR: #fffff0
}
OL PRE
{
    MARGIN-TOP: 3px;
    MARGIN-BOTTOM: 0px;
    COLOR: maroon;
    BACKGROUND-COLOR: #fffff0
}
PRE BR
{
    DISPLAY: none
}
DIV.proc
{
    MARGIN-LEFT: -18px
}
OL LI
{
    MARGIN-TOP: 10px
}
LI.first
{
    MARGIN-TOP: -22px
}
SPAN.required
{
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
SPAN.GuiFeedback
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: maroon;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
INPUT
{
    FONT-SIZE: 12px;
    CURSOR: auto;
    COLOR: black;
    FONT-FAMILY: verdana, Arial, helvetica, sans-serif
}
SELECT
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, arial, helvetica, sans-serif
}
A
{
    TEXT-DECORATION: none
}
.MenuLink
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.MenuLink:link
{
    FONT-SIZE: 8pt;
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
A.MenuLink:visited
{
    FONT-SIZE: 8pt;
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
A.MenuLink:hover
{
    FONT-SIZE: 8pt;
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
SPAN.GrayedText
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 12px;
    COLOR: gray;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
