/deep/ .dx-command-edit .dx-link {
  font-size: 18px;
  margin: 0 3px;
  text-decoration: none;
}

/deep/ .dx-command-edit .dx-link:hover {
  opacity: 0.8;
}

/deep/ #select-position {
  display: inline-block;
  vertical-align: middle;
}

/deep/ .select-position span {
  margin-right: 10px;
  vertical-align: middle;
}

.grid-icon {
  font-size: 14px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #e6e6e6;
  border-radius: 50%;
  border: 1x solid grey;
  padding: 5px;
  cursor: pointer;
}

.grid-icon-disabled {
  font-size: 14px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #e6e6e6;
  border-radius: 50%;
  border: 1x solid grey;
  padding: 5px;
  color: white;
  cursor: not-allowed;
}

.grid-icon:hover {
  background-color: #cccccc;
}

.list-header {
  text-decoration: none;
  cursor: pointer;
  margin: 8px;
  font-weight: 500;
  font-size: 16px;
}

ul#CustomTablesDropDown > li > a > i,
#SystemBehaviorsDropDown > li > a > i {
  width: 25px;
  text-align: center;
}
