<div class="viewcontainer" (window:resize)="onResize($event)" [hidden]="!popup.visible">
  <command-button testid="close-button" (onClick)="cancel($event)" iconName="close" title="Close"></command-button>
  <command-button testid="save-button" (onClick)="saveXml($event)"  iconName="save" title="Save Xml"></command-button>
  <command-button testid="save-button" (onClick)="copyToClipboard($event)"  iconName="copy" title="Copy to Clipboard"></command-button>
  <command-button testid="save-button" (onClick)="pasteFromClipboard($event)"  iconName="paste" title="Paste from Clipboard"></command-button>
  <reg-page-header testid="configuration-heading" id="qa-configuration-heading">
    {{popup.title}} - XML
  </reg-page-header>
  <dx-text-area [height]="gridHeight" [(value)]="popup.data"></dx-text-area>
</div>
<div class="viewcontainer" (window:resize)="onResize($event)" [hidden]="popup.visible">
  <reg-settings-page-header>Edit Form XML</reg-settings-page-header>
  <dx-data-grid [dataSource]="dataSource" [paging]='{pageSize: 10}' [pager]='{ showPageSizeSelector: true, allowedPageSizes: [5, 10, 20], showInfo: true }'
    [searchPanel]='{ visible: true }' [filterRow]='{ visible: true }' [height]="gridHeight" rowAlternationEnabled="true" (onContentReady)='onContentReady($event)'
    (onEditingStart)="onEditingStart($event)" (onCellPrepared)='onCellPrepared($event)'>
    <dxo-editing mode="form" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="false"></dxo-editing>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
    <dxi-column caption="Name" [width]="230" [fixed]="true" dataField="name" dataType="string"></dxi-column>
    <dxi-column dataField="data" [allowSorting]="false" cellTemplate="xmlCellTemplate"></dxi-column>
    <div *dxTemplate="let data of 'xmlCellTemplate'">
      <code [title]="data.value">
      {{data.value}}
      </code>
    </div>
  </dx-data-grid>
</div>