<div class="viewcontainer" (window:resize)="onResize($event)">
  <reg-settings-page-header>System Settings</reg-settings-page-header>
  <dx-data-grid [dataSource]="dataSource" [columns]="columns" [paging]="{enabled: false}"
    [searchPanel]="{ visible: true }" [filterRow]="{ visible: true }" [height]="gridHeight"
    [grouping]="{ autoExpandAll: true }"
    rowAlternationEnabled="true" (onContentReady)="onContentReady($event)"
    (onCellPrepared)="onCellPrepared($event)" (onRowCollapsing)="onRowCollapsing($event)">
    <dxo-editing mode="row" [allowUpdating]="true"></dxo-editing>
    <div *dxTemplate="let d of 'valueEditTemplate'">
      <reg-setting-value-form-item-template [viewModel]="d"></reg-setting-value-form-item-template>
    </div>
    </dx-data-grid>
</div>