
    /*********** Styles for Form generator controls *************/

    .COEValidationSummary
    {
    font-family: Verdana;
    font-size: 10px;
    font-weight:bold;
    cursor:hand;
    border: 1px solid rgb(0, 153, 255);
    }

    .COECell
    {
    background-color: White;
    font-family: Verdana;
    font-size: 10px;
    overflow: hidden;
    color: rgb(0, 51, 153);
    }
    .COEFakeCell
    {
    /*border: 1px solid rgb(0, 153, 255);*/
    border-left: #0099FF 1px solid;
    border-right: #0099FF 1px solid;
    border-bottom: #0099FF 1px solid;
    background-color: White;
    font-family: Verdana;
    font-size: 10px;
    /*border-collapse: collapse;*/
    overflow: hidden;
    color: rgb(0, 51, 153);
    }
    .COEFakeHeader
    {
    border: 1px solid rgb(0, 153, 255);
    font-family: Verdana;
    font-size: 10px;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color:#0099FF;
    text-align: left;
    }
    .LinkButton
    {
    font-family: Verdana;
    font-size: 10px;
    color:#0E0E6E;
    font-weight:bold;
    cursor:hand;
    text-decoration:underline;
    }
    .COEComplexLink{
    font-family: Verdana;
    font-size: 10px;
    color:#0099FF;
    cursor:hand;
    text-decoration:underline;
    }
    /* TEXTBOX */
    .COETextBox
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color: #FFF;
    border-color:#BCBCBC;
    /*border-width:thin;*/
    width: 150px;
    height: 20px;
    }

    .COETextBoxLong
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#fff;
    border-color:#BCBCBC;
    border-width:thin;
    width: 650px;
    height: 15px;
    }
    .COETextBoxLongView
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#EAEAEA;
    border:0px;
    width: 653px;
    height: 15px;
    }
    .COETextBoxNew
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#fff;
    border-color:#BCBCBC;
    border-width:thin;
    width: 120px;
    height: 15px;
    }
    .COETextBoxNewView
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#EAEAEA;
    border:0px;
    width: 120px;
    height: 15px;
    }
    .COETextBox2
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#fff;
    border-color:#BCBCBC;
    border-width:thin;
    width: 617px;
    height: 15px;
    }
    .COETextBoxView
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#EAEAEA;
    border:0px;
    width: 150px;
    height: 15px;
    }
    .COETextBoxViewNew
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#EAEAEA;
    border:solid 1px #999999;
    width: 80px;
    height: 15px;
    }
    .COETextBoxViewNewView
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#EAEAEA;
    border:0px;
    width: 80px;
    height: 15px;
    }
    .COETextBox2View
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#EAEAEA;
    border:0px;
    width: 617px;
    height: 15px;
    }

    .COELine
    {
    border-color:#ff9900;
    border-width:1px;
    }

    /* TEXTAREA */
    .COETextAreaComments
    {
    width: 150px;
    height: 70px;
    font-size: 11px;
    font-family: Verdana;
    color:#484848;
    margin-left:5px;
    background-color:#fff;
    border-color:#B2B2B2;
    border-width:thin;
    }
    .COETextAreaComments2
    {
    width: 615px;
    height: 70px;
    font-size: 11px;
    font-family: Verdana;
    color:#484848;
    margin-left:5px;
    background-color:#fff;
    border-color:#B2B2B2;
    border-width:thin;
    }
    .COETextAreaCommentsView
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#EAEAEA;
    border:0px;
    width:150px;
    }
    .COETextAreaComments2View
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#EAEAEA;
    border:0px;
    width:617px;
    }

    /* LABEL */
	.ContentCOELabelTitle
	{
	height:19px;
	border-bottom:1px solid #90004c;
	margin-left:4px;
	margin-Bottom:15px;
	}
    .COELabelTitle
    {
    font-size:11px;
    font-family: Verdana;
    color:#90004c;
    font-weight: bold;
    }
    .COELabelSeparador
    {
    font-size:11px;
    font-family: Verdana;
    color:#8C8CBF;
    font-weight: bold;
    }
    .COELabelTitle2
    {
    font-size:11px;
    font-family: Verdana;
    color:#90004c;
    font-weight: bold;
    padding-left:7px;
    }
    .COELabel
    {
    color: #374257;
    font-family:Verdana;
    font-size:11px;
    /*background-color:buttonface;*/
	margin-bottom:4px;
    }
    .COELabelListItems
    {
    color: #374257;
    font-family:Verdana;
    font-size:10px;
    }
    .COELabelView:before
    {
    content:"*";
    color: #90004c;
    font-family:Verdana;
    font-size:11px;
    background-color:white;
    }
    .COELabelTextBox
    {
    color: #484848;
    font-family:Verdana;
    font-size:11px;
    background-color:white;

    }

    /* TEXTAREALONG */
    /*.COETextAreaLong
    {
    border-color: #484848;
    border-width:thin;
    font-family:Verdana;
    font-size:11px;
    color:#484848;
    height: 50px;
    width: 620px;
    } */
    .COETextAreaLongView
    {
    font-size: 11px;
    font-family: Verdana;
    color: #484848;
    background-color:#EAEAEA;
    border:0px;
    width: 653px;
    height: 15px;
    }
    .COETextAreaLong
    {
    border-color: #484848;
    border-width:thin;
    font-family:Verdana;
    font-size:11px;
    color:#484848;
    height: 50px;
    width: 650px;
    }

    /* CHEMDRAW */
    .COEChemDraw
    {
    border-color: #B3B3CC;
    border-width: 2px;
    border-style:solid;
	width:300px;
	height:300px;
    }
	
	.COEChemDraw div
    {
	width:300px;
	height:300px;
    }
	
	.COEChemDraw embed
    {
	width:300px;
	height:300px;
    }

    /* DROPDOWN */
    .COEDropDownListNewView
    {
    font-size: 11px;
    font-family: Verdana;
    color: #000000;
    background-color:#EAEAEA;
    border:0px;
    width: 120px;
    height: 20px;
    }

    /* VARIOS */
    .COEGridView
    {
    font-size: 11px;
    font-family: Verdana;
    color: #90004c;
    text-align:left;
    background-color:#fff;
    border:none;
    width: 270px;
    height: 15px;
    }


    .COERequiredField
    {
    color: #FF0000;
    font-family:Verdana;
    font-size:11px;
    background-color:white;
    }
    .COERequiredField:before
    {
    content:"*";
    }

    .MessagesArea
   {

    }
    .MessagesAreaTextLabel
    {
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:11px;
    font-family: Verdana;
    color:#90004c;
    font-weight: bold;
    }

    .HomePageLinks
    {
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:14px;
    font-family: Verdana;
    color:#90004c;
    }
    .HomePageLinks:hover
    {
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:14px;
    font-family: Verdana;
    color:#0000AA;
    }
    .HomePageLinkImages
    {
    cursor: pointer;
    }

    .COELabelTextBox
    {
    color: Green;
    }
    .LeftPanelUC
    {
    height : 425px;
    }

    .HomeTitleBig
    {
    font-size: 18px;
    color: #90004c;
    font-family: Verdana;
    font-weight:bold;
    }

    .HomeTitleMedium
    {
    font-size: 11px;
    color: #484848;
    font-family: Verdana;
    font-weight:lighter;
    }

    .HomeDescription
    {
    font-size: 10px;
    color: #484848;
    font-family: Verdana;
    text-align:left;
    font-weight:lighter;
    height:50px;
    width:120px;
    }

    h1
    {
    font-size: 18px;
    color: #90004c;
    font-family: Verdana;
    font-weight:bold;
    margin-left:30px;
    }

    h4
    {
    font-size: 11px;
    color: #484848;
    font-family: Verdana;
    margin-left:30px;
    font-weight:lighter;
    }
    /*p
    {
    font-size: 10px;
    color: #484848;
    font-family: Verdana;
    text-align:left;
    margin-left:30px;
    font-weight:lighter;
    height:50px;
    width:120px;
    }*/

    .LinksHome a:link
    {

    font-size: 12px;
    color: #90004c;
    font-weight:bold;
    padding-left:30px;
    cursor:hand;
    width:150px;
    text-decoration:none;
    }
    .LinksHome a:hover

   {

    font-size: 12px;
    color: #999999;
    font-weight:bold;
    text-decoration:underline;
    padding-left:30px;
    cursor:hand;
    }

    .LinksHome a:selected
    {

    font-size: 12px;
    color: #90004c;
    padding-left:30px;
    font-weight:bold;
    text-decoration:none;
    cursor:hand;
    }
    .LinksHome a:visited
    {
    font-size: 12px;
    color: #90004c;
    padding-left:30px;
    font-weight:bold;
    text-decoration:none;
    cursor:hand;
    }



   /*********** Home Buttons *************/

    .HomeButtons
    {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    cursor: hand;
    margin-left: 30px;
    vertical-align: top;
    text-align: left;
    border: none;
    }
    .SelectAllText
    {
    cursor: pointer;
    font-size: 10px;
    font-family: Verdana;
    color:#90004c;
    text-decoration: underline;
    padding-left:28px;
    }
    .SelectAllText a:hover
    {
    cursor: pointer;
    font-size: 10px;
    font-family: Verdana;
    color:#ff0000;
    text-decoration: underline;
    padding-left:28px;
    }
    .CurrentUserText
    {
    color: #90004c;
    font-family:Verdana;
    font-size:11px;
    font-weight: bold;
    margin-bottom: 15px;
    }
    .SelectedTextNode
    {
    background-color: #BABAD6;
    font-weight: bold;
   }
    .TextNode
    {
    }
    .myTableClass{
    border: 1px solid #ddd;
    background-color: White;
    font-family: Verdana;
    font-size: x-small;
    width: 96%;
    border-collapse: collapse;
	margin:5px 0px 5px 5px;
	color:#333;
    }
	
	.myTableClass th{
    background: #333 url(../Common/Images/HeaderGrid.gif);
	font-weight: bold; 
	font-family: Verdana; 
	font-size: 10px;
	padding-left:5px;
    }
	
	.myTableClass td{
	padding-left:5px;
    }
	

    .MessagesAreaTextLabel
    {
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:11px;
    font-family: Verdana;
    color:#90004c;
    font-weight: bold;
    }

    .COELabelTextBox
    {
    color: Green;
    }
    .COEValidationSummary
    {
    font-family: Verdana;
    font-size: 10px;
    border-style: none;
    /*border-color: #000;*/
    color: #FF0000;
    }
    .COEErrorDiv
    {
    display: none;
    position: absolute;
    border: 2px solid #555;
    color: #F00;
    z-index: 100;
    background-color: #FFDC8A;
    }
    .COEForm
    {
    background-image:url(resolviendo1.jpg)
    }


/*special classes for each formElement on Sumbit Mixture*/

.id1
{
height:450px;
width:750px;
Margin-Bottom:35px;
Margin-Left:5px;
}

.idnTitleLabel
{
	Height:19px;
	Border-bottom:1px solid #000099;
	top:0px;
	width:730px;
	font-size:11px;
    font-family: Verdana;
    color:#90004c;
    font-weight: bold;
}

.id1TextBoxView
{
    width: 170px;
    height: 15px;
	top:40px;
	left:480px;
}

.id1COEChemDraw
{
height:300px;
width:300px;
top:40px;
left:15px;
}

.id1COEErrorDiv
{
display: none;
position: absolute;
color: #F00;
z-index: 100;
background-color: #FFDC8A;
height:15px;
border-style:none;
visibility:visible;
display:block;
top:345px;
left:15px;
}

.id1CheckBox
{
top:360px;
left:15px;
}

.id1Grid
{
width:200px;
top:95px;
left:375px;
}
				
.idn
{
width:750px;
margin-bottom:35px;
Margin-Left:5px;
}

.id0
{
width:750px;
margin-bottom:35px;
Margin-Left:5px;
overflow-x:hidden;
overflow-y:hidden;
}

.id4DateCreatedTextBox
{
height:40px;
/*width:212px;*/
}


/*Search Permanent*/

.idSearch
{
width:990px;
margin-bottom:35px;
Margin-Left:5px;
}

.idSearch .idnTitleLabel
{
width:990px;
margin-bottom:10px;
}

iframe
{
border:none;
}

.COEStructureQuery
{
padding-top:10px;
width:340px;
}

.COEStructureQuery .LinkButton
{
display:block;
left:-20px;
position:relative;
}




/* START >>> <coeForm id="1" name="VW_MIXTURE_STRUCTURE" dataMember="">*/

.COEChemDrawContent
{
width:100px;
margin:0px auto;
}

.idSearch .myTableClass {
text-align:center;
}
.myTableOrderIndex {
background-color:White;
border:1px solid #000099;
border-collapse:collapse;
color:#333333;
font-family:Verdana;
font-size:x-small;
margin:5px 0 5px 5px;
padding-left:5px;
width:20%;
}
.idSearch .COEValidationSummary
{
width:90%;
}

/* START >>> <coeForm id="1" name="VW_MIXTURE_STRUCTURE" dataMember="">*/

/* GRILLAS */

.HeaderStyleCSS
{ 
background: #B6B6B6;
color:#fff;
text-align:center; 
border: none;
}
.AddButtonCSS 
{ 
background:transparent url(../Common/Images/AddButton.jpg) left center no-repeat;
padding-left:30px;
height:30px;
color:#000;
text-decoration:underline;
border:none; 
margin-left:15px;
}

.RowAlternateStyleCSS
{
 background: #F3F3F3; 
 border: 1px solid #B6B6B6;
}

.RowStyleCSS
{ 
background: #fff; 
border: 1px solid #B6B6B6;
}


