<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=21f4688e7671500b"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="coeLoggingConfiguration" type="CambridgeSoft.COE.Framework.Common.COELoggingConfiguration, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf"/>
  </configSections>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
      <add name="Picklist Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
    </cacheManagers>
  </cachingConfiguration>
  <coeLoggingConfiguration logEntryIdentifier="COERegistration" enabled="true" categories="Registration" priority="10" severity="Error"/>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Reg_UIExceptionPolicy">
        <exceptionTypes>
          <add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Reg_UnknownExceptionPolicy">
        <exceptionTypes>
          <add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
          <add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogAndThrowNewException">
        <exceptionTypes>
          <add type="CambridgeSoft.COE.Framework.ExceptionHandling.COEBusinessLayerException, CambridgeSoft.COE.Framework" postHandlingAction="ThrowNewException" name="COE Business Exception">
            <exceptionHandlers>
              <add logCategory="Event Log" eventId="100" severity="Error" title="COE Business Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler"/>
              <add logCategory="Flat File" eventId="100" severity="Error" title="COE Business Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler"/>
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.ExceptionHandling.COEDALException,CambridgeSoft.COE.Framework" postHandlingAction="ThrowNewException" name="COE DAL Exception">
            <exceptionHandlers>
              <add logCategory="Event Log" eventId="100" severity="Error" title="COE DAL Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler"/>
              <add logCategory="Flat File" eventId="100" severity="Error" title="COE DAL Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogOnly">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Miscellaneous Exception">
            <exceptionHandlers>
              <add logCategory="Event Log" eventId="100" severity="Error" title="COE Base Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler"/>
              <add logCategory="Flat File" eventId="100" severity="Error" title="COE Base Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <loggingConfiguration defaultCategory="Event Log">
    <categorySources>
      <add name="Event Log" switchValue="All">
        <listeners>
          <add name="Event Log Destination"/>
        </listeners>
      </add>
      <add name="Flat File" switchValue="All">
        <listeners>
          <add name="Flat File Destination"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners>
          <add name="Event Log Destination"/>
        </listeners>
      </errors>
    </specialSources>
    <listeners>
      <add name="Event Log Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="ChemBioOffice Enterprise 11" formatter="Default Formatter"/>
      <add name="Flat File Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="trace.log" formatter="Default Formatter"/>
    </listeners>
    <formatters>
      <add name="Default Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template=" Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine}       "/>
    </formatters>
  </loggingConfiguration>
  <appSettings>
    <!-- TestingUserName and TestingPassword provide 'Credentials' values through the asmx page.
    These should be UNcommented ONLY for testing purposes. -->
    <add key="TestingUserName" value="T5_85"/>
    <add key="TestingPassword" value="T5_85"/>
    <add key="SimulationMode" value="false"/>
    <add key="AppName" value="RegWebSoapSvc"/>
    <add key="ConfigurationName" value="Registration"/>
    <!-- Settings specifying how a user will be authenticated when using COE Framework Services:
    (1) For custom authentication set valuse to: Csla 
    (2) For windows authentication set it to: Windows
    -->
    <add key="CslaAuthentication" value="Csla"/>
  </appSettings>
  <location path="COERegistrationWebServices.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <httpRuntime executionTimeout="300"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
      <!-- This file provides a custom WSDL-helper page when browsing the web service itself (.asmx) -->
      <wsdlHelpGenerator href="CustomWsdlHelpGenerator.aspx"/>
    </webServices>
    <!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
  -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
  -->
    <authentication mode="Windows"/>
    <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

  <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
  </customErrors>
  -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>