<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section restartOnExternalChanges="true" name="coeClientConfiguration" type="CambridgeSoft.COE.Framework.Common.COEClientConfigurationSettings, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf"/>
  </configSections>


  <!--Config files should now be installed in all_users and the file pointer for coeClientConfiguration should point there
  For now there is simply a call to another directory to prove the point.
  for example this should be: C:\Documents and Settings\All Users\Application Data\COESearchServerTest\COEClientConfiguration.config-->
  <coeClientConfiguration file="RemoteConfigFiles/COEClientConfiguration.config"/>

  <!--same explanation as for COEClientConfig.-->
  <appSettings file="RemoteConfigFiles/AppSettings.config"/>


  <!--this should be commented out only in developement environments
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <linkedConfiguration href="file://C:\Documents and Settings\All Users\Application Data\ChemOfficeEnterprise11\COESharedAssemblyConfig.xml"/>
    </assemblyBinding>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
