
/*********** Styles for Form generator controls *************/

/*****COEForm Display******/
.Footer { display:none; } /* hides the embedded CBV Web Footer */
.COEFormDisplay
{
	background-color: #EEEEEE;
	margin-bottom:10px;
	padding-bottom: 5px;
	Margin-Left:5px;
	height: auto;
	min-height: 520px;
	/*overflow-x:scroll;
	overflow-y:scroll;
	width: 100%;*/
}

/*****COEForm Title******/
.COEFormTitle
{
	border-bottom:1px solid #17365D;
	color:#17365D;
	font-family: Verdana;
	font-size:11px;
	font-weight: bold;
	height:19px;	
	margin-top:10px;
	margin-bottom:10px;
	width:98%;	
}
	
/********************************FORM ELEMENTS********************************/

/*****Styles**************/
.Std20x40
{    
    /*border-color: #FF00FF;
	border-style:solid;*/
	width:19%;    	
	height:41px;
	overflow:hidden;
}
.Std25x40
{      
	width:24%;    	
	height:41px;
	overflow:hidden;
}
.Std50x40
{    
    width:49%;    
	height:41px;
	overflow:hidden;
}
.Std50x80
{   
    width:49%;    
	height:81px;
	overflow:hidden;
}
.Std75x40
{    
    width:74%;    
	height:41px;
	overflow:hidden;
}
.Std100x40
{      
	width:99%;    
	height:41px;
	overflow:hidden;
}
.Std100x80
{    
	width:99%;    
	height:81px;
	overflow:hidden;
}
.COEListUpload
{
	margin-top:-100px;
}
	
/********LABELS********/

.FETitle
{    
	color:#17365D;
    font-family:Arial;
    font-size:11px;
	margin-bottom:4px;
	margin-top:4px;	
}
.FELabel
{    
	color:#17365D;
    font-family:Verdana;
    font-size:11px;  
	margin-bottom:4px;
	margin-top:4px;
}
.FELabelForDoc
{
	width: 135px;
	color:#17365D;
    font-family:Verdana;
    font-size:11px;  
	margin-bottom:8px;
	margin-top:4px;
}
.FETitleTempID
{    
	color:#E4005C;
    font-family:Verdana;
    font-size:11px; 
	font-weight: bold;	
	margin-bottom:4px;
	margin-top:4px;
}
.FETableItem
{
	color: #000000;
	font-family: Verdana;
	font-size: 11px;    	
    width: 90%;
    overflow: hidden;
}	

/********LINKS********/
.FELinkResolveDuplicates
{
    color:#DF0174;
	cursor:pointer;
	font-family: Verdana;
    font-size: 11px;    
    font-weight:bold;
    text-decoration:underline;
}
.FELinkRestoreStructure  /*Use for Restore originalStr*/
{    
	color:#E4005C;
	cursor:pointer;
    font-family:Verdana;
    font-size:11px; 	
	margin-bottom:4px;
	margin-top:4px;	
	text-decoration:underline;
}
.FELinkButton
{
    color:#17365D;
	cursor:pointer;
	font-family: Verdana;
    font-size: 10px;    
	font-weight:bold;
    text-decoration:underline;
    white-space:nowrap;
}
.COERequiredLabel
{
    font-family:Verdana;
    font-size:11px;   
}
.COERequiredField:before
{    
	content:"*";
	color: #FF0000;
}
.WebGridHeaderLinkButton  { color:#17365D; }

/********TEXTBOX********/

.FETextBox
{
    background-color: #FFF;
   	border : 1px solid #888888;
	color: #000000;
	font-family: Verdana;
	font-size: 11px;    
	height:18px;
    /*border-width:thin;*/
    width: 98%;   
}	
.FETextBoxViewMode 
{
	background-color: #FFF;
	border : 1px solid #888888;
	color:#787878;
	font-family: Verdana;
	font-size: 11px;
	height: 18px;
	width: 98%;
}
	
/********TEXTAREA********/	
.FETextArea
{
    background-color: #FFF;
	border : 1px solid #888888;
	color: #000000;
	font-family: Arial;
	font-size: 11px; 
	height: 50px;
	width:97%; 
}	
.FETextAreaViewMode
{
    background-color:#FFF;
	border : 1px solid #888888;
    color: #787878;
	font-family: Verdana;
	font-size: 11px; 
	height: 50px;
	width:97%; 
}	

/********DROPDOWNLIST********/
.FEDropDownList
{
    background-color: #FFF;
  	border : 1px solid #888888;
	color: #000000;
	font-family: Verdana;
	font-size: 11px; 
	height: 22px;
	width:98%;   
}	
.FEDropDownListViewMode
{   
	background-color:#FFF;
	border-color:#B3B3CC;
	border-style:solid;
	border-width: 1px;
	color: #787878;
	font-family: Verdana;
	font-size: 11px; 
	height: 20px;
	width:98%;   
}	
.FEDropDownListGrid /*Used on Grids*/
{
    border-color: #BCBCBC;
    color:#000000;
    font-family:Verdana;
    font-size:11px;
    height: 20px;
    width: 140px;
}
.FEDropDownListGridViewMode /*Used on Grids*/
{
    border-color: #BCBCBC;
    color:#787878;
    font-family:Verdana;
    font-size:11px;
    height: 20px;
    width: 140px;
}

/********ChemDraw ********/	
.FEStructure /*Use for Add/Edit Mode*/
{
    border : 1px solid #888888;
	height: 300px;
    width: 350px;
    
}
.FEStructureWide  /*Use for Structure Agregation Style*/
{
    border : 1px solid #888888;
	top:30px;
    height: 285px;
    width: 700px;
}
.FEStructureViewMode  /*Used to set the Structure box on View Mode*/
{
    border-color: #B3B3CC;
	border-style:solid;
	border-width: 1px;
	width:200px;    	
	height:200px;
   /* top:60px;
    left:4px;*/
}
.FENormStructureViewMode /*Used to set the Normalize Structure box on View Mode*/
{
    border-color: #B3B3CC;
	border-style:solid;
	border-width: 1px;
	width:200px;    	
	height:200px;
}
.FEChemDraw /*Used for Search Forms*/
{
    border-color: #B3B3CC;
	border-style:solid;
	border-width: 1px;
	height: 200px;
    width: 240px;
}
.FEStructureDivQuery  /*Used for Search Forms*/
{
    width:280px;
	height:280px;
	padding-top:10px;
	margin-right: 40px;
}

/*COEChemDrawToolbar*/
.chem_table {
	width: 200px;
	/*height: 38px;*/
	min-width: 180px;
	max-width: 720px;
	background-color:#B5B5CD;
}
.chem_table ul {
	position: static;
	height: 32px;
	min-width: 180px;
	display: block;
	float: left;
	text-align: center;
	width: 100%;
	padding-top: 3px;
	background-color:#B5B5CD;
}
.chem_table ul li {
	width: 24%;
	height: 26px;
	background-color: #CDDEE6;
	display: inline;
	float: left;
	padding-top: 2px;
	margin: 0 1px 0 1px;
	text-align: center;
	cursor:pointer;
}
.chem_table ul li img {
	width: 20px;
	height: 20px;
	padding-top: 2px;
}
#selected {
	background-color: #ffffff;
}

/********************************GRID STYLES********************************/

/* Styles Applied to Fragments and COEWebGridUltra */
.HeaderStyleCSS
{ 
	background: #B6B6B6;
	color:#fff;
	text-align:center; 
	border: 1px solid #888;
	height: 17px;
}
.AddButtonCSS 
{ 
	background:transparent url(../Blue/Images/Add.png) Left 0px no-repeat;
	cursor:pointer;
	padding-left:30px;
	height:20px;
	color:#000;
	text-decoration:underline;
	border:none; 
	margin-left:15px;
}
.RemoveButtonCSS 
{ 
	background:transparent url(../Blue/Images/Remove.png) Left 0px no-repeat;
	cursor: pointer;
	padding-left:30px;
	height:20px;
	color:#000;
	text-decoration:underline;
	border:none; 
	margin-left:15px;
}
.RowAlternateStyleCSS
{
	 background: #F3F3F3; 
	 border: 1px solid #B6B6B6;
}
.RowStyleCSS
{ 
	background: #fff; 
	border: 1px solid #888;
}
.RowSelectedStyleCSS
{ 
	background: #ddd; 
	border: 1px solid #888;
}
/********************************TABLES STYLES********************************/

/********LogTables ********/
.LogTableClass
{
	background-color: white;
    border: 1px solid #17365D;
	border-collapse: collapse;
    font-family: Verdana;
    font-size: 10px;
	margin:5px 0px 5px 5px;
	padding-left:5px;
	text-align:center;
    width: 97%;  
}
.myTableClass
{
    border: 1px solid #888;	
    background-color: #E8E8E8;
    font-family: Verdana;
    font-size: x-small;
    width: 50%;
    border-collapse: collapse;
	margin:5px 0px 5px 5px;
	padding-left:5px;
	color:#333;
}
.myTableClass th
{
    /*background: #333 url(../Common/Images/HeaderGrid.gif);*/	
    background: #B6B6B6;   
	font-family: Verdana; 
	font-size: 11px;
	padding-left:5px;
	height: 17px;
}
.myTableClass td{ padding-left:5px; }
.FETableTextBox
{
    background-color: #FFFFFF;    
	border:0px;
	color: #000000;
	font-family: Verdana;
	font-size: 11px;    
	height:18px;
    /*border-width:thin;*/
    width: 100%;   
}
.FETableTextBoxViewMode
{
    background-color: #E8E8E8;    
	border:0px;
	color: #000000;
	font-family: Verdana;
	font-size: 11px;    
	height:18px;
    /*border-width:thin;*/
    width: 100%;   
}
.FETableItem
{
	color: #000000;	
	font-family: Verdana;
	font-size: 11px;    	
    width: 90%;   
}		
/*********** Styles for Form generator controls *************/
.COEValidationSummary
{
    color: #FF0000;
	font-family: Verdana;
    font-size: 10px;
    font-weight:bold;
    cursor:hand;
    border: 1px solid rgb(0, 153, 255);
}
.COEErrorDiv
{
    display: none;
    position: absolute;
    border: 2px solid #555;
    color: #F00;
    z-index: 100;
    background-color: #FFDC8A;
}
.id1COEErrorDiv
{
	display: none;
	color: #F00;
	z-index: 100;
	height:15px;
	border-style:none;
	margin: 10px;
	visibility:visible;
	display:block;
}
.id1COEErrorDiv ul { list-style-type:disc; }
.id1COEErrorDiv ul li { list-style-type:disc; }
.COECell
{
	background-color: White;
	font-family: Verdana;
	font-size: 10px;
	overflow: hidden;
	color: rgb(0, 51, 153);
}
.COEFakeCell
{
    /*border: 1px solid rgb(0, 153, 255);*/
    border-left: #0099FF 1px solid;
    border-right: #0099FF 1px solid;
    border-bottom: #0099FF 1px solid;
    background-color: White;
    font-family: Verdana;
    font-size: 10px;
    /*border-collapse: collapse;*/
    overflow: hidden;
    color: rgb(0, 51, 153);
}
.COEFakeHeader
{
    border: 1px solid rgb(0, 153, 255);
    font-family: Verdana;
    font-size: 10px;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color:#0099FF;
    text-align: left;
}
.COELine
{
    border-color:#ff9900;
    border-width:1px;
}
.COEGridView
{
    font-size: 11px;
    font-family: Verdana;
    color: #000099;
    text-align:left;
    background-color:#fff;
    border:none;
    width: 270px;
    height: 15px;
}
.COEStructureQuery
{	
	padding-top:10px;
	margin-right: 40px;
}
.COEStructureQuery .LinkButton
{
	display:block;
	position:relative;
	padding-left: 50px;
}
.MessagesArea { }
.MessagesAreaTextLabel
{
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:11px;
    font-family: Verdana;
    color:#000099;
    font-weight: bold;
}
.HomePageLinks
{
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:14px;
    font-family: Verdana;
    color:#000099;
}
.HomePageLinks:hover
{
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:14px;
    font-family: Verdana;
    color:#0000AA;
}
.HomePageLinkImages { cursor: pointer; }
.COELabelTextBox { color: Green; }
.HomeTitleBig
{
    font-size: 18px;
    color: #000099;
    font-family: Verdana;
    font-weight:bold;
}
.HomeTitleMedium
{
	font-size: 11px;
	color: #484848;
	font-family: Verdana;
	font-weight:lighter;
}
.HomeDescription
{
    font-size: 10px;
    color: #484848;
    font-family: Verdana;
    text-align:left;
    font-weight:lighter;
    height:50px;
    width:120px;
}
h1
{
    font-size: 18px;
    color: #000099;
    font-family: Verdana;
    font-weight:bold;
    margin-left:30px;
}
h4
{
    font-size: 11px;
    color: #484848;
    font-family: Verdana;
    margin-left:30px;
    font-weight:lighter;
}
/*
p
{
	font-size: 10px;
	color: #484848;
	font-family: Verdana;
	text-align:left;
	margin-left:30px;
	font-weight:lighter;
	height:50px;
	width:120px;
}
*/
.LinksHome a:link
{
    font-size: 12px;
    color: #000099;
    font-weight:bold;
    padding-left:30px;
    cursor:hand;
    width:150px;
    text-decoration:none;
}
.LinksHome a:hover
{
    font-size: 12px;
    color: #999999;
    font-weight:bold;
    text-decoration:underline;
    padding-left:30px;
    cursor:hand;
}
.LinksHome a:selected
{
    font-size: 12px;
    color: #000099;
    padding-left:30px;
    font-weight:bold;
    text-decoration:none;
    cursor:hand;
}
.LinksHome a:visited
{
    font-size: 12px;
    color: #000099;
    padding-left:30px;
    font-weight:bold;
    text-decoration:none;
    cursor:hand;
}

/*********** Home Buttons *************/
.HomeButtons
{
    width: 70px;
    height: 70px;
    vertical-align: middle;
    cursor: hand;
    margin-left: 30px;
    vertical-align: top;
    text-align: left;
    border: none;
}
.SelectAllText
{
    cursor: pointer;
    font-size: 10px;
    font-family: Verdana;
    color:#000099;
    text-decoration: underline;
    padding-left:28px;
}
.SelectAllText a:hover
{
    cursor: pointer;
    font-size: 10px;
    font-family: Verdana;
    color:#ff0000;
    text-decoration: underline;
    padding-left:28px;
}
.CurrentUserText
{
    color: #000099;
    font-family:Verdana;
    font-size:11px;
    font-weight: bold;
    margin-bottom: 15px;
}
.SelectedTextNode
{
    background-color: #BABAD6;
    font-weight: bold;
}
.TextNode { }
.COEForm { background-image:url(resolviendo1.jpg) }

/***COPIED FROM SEARCH FORM*/

.cdPreferencesLink
{
	writing-mode: tb-rl;
	font-size: 9px;
	font-family: Verdana;
	color: #ffffff;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
	vertical-align: top;
}
.cdPreferencesLink:visited
{
	font-size: 9px;
	font-family: Verdana;
	color: #999999;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}
.cdPreferencesTab
{
	cursor:pointer;
	float:left;
	width:7px;
	height: 90px;
	border:outset 1px #E6E6E6;
	text-align:center;
	padding: 7px;
	padding: 9px 7px 5px 7px;
	color: Black;
	line-height: 10px;
	background: #00009C;
}
.cdPreferencesTab:hover
{
	cursor:pointer;
	background-color: #0000CE;
}
.COEStructureQueryCDContainer { float:left; }
.COEStructureQueryTabsContainer
{
	background-color: #CECEF6;
	width:400px;
	height: 370px;
	border: 1px solid #00009C;
	z-index: 9999999999999;
}
.COEStructureQueryTab
{
	background-color: #EEEEFD;
	cursor:pointer;
	display:block;
	float:left;
	font-family:Verdana;
	font-size: 13px;
	text-align:center;
	color: #00009C;
	padding: 7px;
	width: 185px;
	height: 15px;
	border-bottom: 1px solid #00009C;
	margin-bottom: 15px;
}
.COEStructureQueryTabSelected
{
	background-color: #CECFF7;
	display:block;
	float:left;
	color: #00009C;
	font-family:Verdana;
	font-size: 13px;
	font-weight:bold;
	text-align:center;
	padding: 7px;
	width: 185px;
	height: 15px;
	border-left: 1px solid #00009C;
	border-right: 1px solid #00009C;
}
.COEStructureQueryTab:hover
{
	background-color: #A2A4F0;
	cursor:pointer;
	display:block;
	float:left;
	color: #ffffff;
	font-family:Verdana;
	font-size: 13px;
	padding: 7px;
	width: 185px;
	height: 15px;
}
.COEStructureQueryGroupPanel
{
	padding: 5px;
	height: 140px;
	float:left;
	font-size:11px;
	font-family:Verdana;
	width: 190px;
}
.COEStructureQueryImage32x32
{
	height: 32px;
	width: 32px;
	padding: 1px;
}
.contents 
{
	font-family: Verdana;
	font-size: 8pt;
	visibility: inherit;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center; 
	float:left; 
	margin-left: 30px;
	width: 330px;
}
.contents TD 
{
	font-family: Verdana;
	font-size: 8pt;
	visibility: inherit;
	margin: 0;
	padding: 4px;
}
.labelCell 
{
	text-align: left;
	padding-top: 20px;
	border-bottom: 1px solid black;
	width: 300px;
}
.valueCell 
{
	width: 100px;
	text-align: left;
	border-bottom: 1px solid black;
	width: 10px;
}
.ImageButton
{
	/*background: transparent url(Images/Button2RegAdmin.gif) no-repeat scroll center center;*/
	height: 24px;
	padding-left: 8px;
	padding-right: 8px;
	width: 80px;
	color:Black;
}
