/* =CSS RESET
------------------------------------------------------------------------------------------ */

* { margin: 0; padding: 0; text-decoration: none; font-size: 1em; outline: none; }
code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext { font: inherit; font-size: 1em; white-space: normal; }
dfn, i, cite, var, address, em { font-style: normal; }
th, b, strong, h1, h2, h3, h4, h5, h6 { font-weight: normal; }
img, a img, iframe, form, fieldset, abbr, acronym, object, applet, 
a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
body { line-height: 1; background: white; color: black; }
q { quotes: "" ""; }
ul, ol, dir, menu { list-style: none; }
sub, sup { vertical-align: baseline; }
a { color: inherit; }
hr { display: none; } /* we don't need a visual hr in layout */
font { color: inherit !important; font: inherit !important; color: inherit !important; } /* disables some nasty font attributes in standard browsers */
marquee { overflow: inherit !important;}
blink { text-decoration: none; }
nobr { white-space: normal; }

.Clear
	{
		clear:both;
	}



/*------------ BODY -----------*/
.Body 
{
	background-color: #fff;
	margin-top: 0px;
	margin-left: 0px;
	padding: 0px;
	font-family:Tahoma, Verdana, Arial, sans-serif;
	color:#333333;	
	font-size:11px;
	line-height:16px;
	
}
.Wrapper{
	display:block;
	margin: 0px auto;
	width:980px;
	float:left;
	background-color:#fff;
	/*border-left:1px solid #000099;
	border-right:1px solid #000099;
	border-bottom:4px solid #000099;*/
	border: 1px solid #000066;
	height: auto;
}

.ContentHome
	{
	display:block;
	position:relative;
	float:left;
	background-color:#fff;
	width:400px;
	margin:0px auto;
	padding: 0px 5px 150px 5px;
	/*width: 1014px;*/
	}


/*------------------ HEADER ------------------*/
.Header
{
	background-image:url(Images/HeadBk.jpg);
	width:980px;
	height:95px;
	cursor: pointer;
	
	
}

.MainContent
{
width:980px;
margin: 0;
/*margin:0px 0px 0px -1px;*/
}

.MenuHeader{
display:block;
position:relative;
border-width: 0px; 
z-index: 1000; 
height: 20px; 
text-align: right;
float:right;
margin-top:33px;
}
	
		.Brand
		{
			display:block;
			position:relative;
			width:420px;
			height:51px;
			margin: 18px 0px 0px 0px;
			left:40px;
			background:transparent url(Images/DocManager.gif) top left no-repeat scroll;
			float:left;
		}
		
		.userstatus
		{
			display:block;
			position:relative;
			float:right;
			width:120px;
			height:16px;
			margin:25px 5px 0px 0px;
			text-align:left;
			padding-left:25px;
			padding-bottom: 2px;
			background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/user.gif) center left no-repeat scroll 		
		}
		
	.logingbut
	{
		display:block;
		position:relative;
		float:right;
		width:72px;
		height:24px;
		background:transparent url(/coecommonresources/Utility_Images/BackGroundImages/DarkButton.gif) top left no-repeat scroll;
		margin:22px 5px 0px 0px;
		padding:0px 0px 0px 0px;
		font-weight: bold;
		font-size: 9px;
		text-align:center;
		color:#FFFFFF;
		cursor:pointer;
		text-decoration: none;
	}
	
	.logingbut:hover
	{
		background:transparent url(/coecommonresources/Utility_Images/BackGroundImages/DarkButton2.gif) top left no-repeat scroll;
		text-decoration:underline;
	}


/*----------------- MENU ---------------*/
.Menu 
{
	border-style:none;
	color:#FFFFFF;
	font-family:Verdana;
	font-size:11px;
	height:20px;
	text-align:center;
	vertical-align:top;
	width:80px;
	cursor:pointer;
}

.MenuHover 
{
	font-family: Verdana;
	font-size: 11px;
	text-align:center;
	text-decoration: underline;
	color:#fff;
	height: 20px;
	width:80px;
	vertical-align:top;
	border-style:none;
	cursor:pointer;
}
.MenuSelected 
{
	font-family: Verdana;
	font-size: 11px;
	text-align:center;
	text-decoration: underline;
	color:#ffffff;
	height: 20px;
	width:80px;
	vertical-align:top;
	border-style:none;
	cursor:pointer;
}

/*------------------- LABELS -----------------*/
.Label
{
	padding-right: 5px;
	font-size: 8pt;
	font-family: Verdana;
	color: #484848;

}

/*------------------------ CHECKBOX --------------------*/
.CheckBox
{
	padding-right: 5px;
	font-size: 8pt;
	font-family: Verdana;
	color: #484848;
	vertical-align:bottom;

}


/*------------------- LinkButton ---------------------*/

.LinkButton
{
	
	font-family: Verdana;
	font-size: 10px;
	color:#000099;
	font-weight:bold;
	cursor:pointer;
}
.LinkButtonHover
{
	
	font-family: Verdana;
	font-size: 10px;
	color:#ff9900;
	font-weight:bold;
	cursor:pointer;
}
.LinkButtonSelected
{
	
	font-family: Verdana;
	font-size: 10px;
	color:#000099; 
	font-weight:bold;
	cursor:pointer;
}

/******** WEBPANEL ********/
/*------------------ WebPanelButtons ----------------*/
.igwlbExplorerBarHeaderExpanded 
{
	border-bottom:2px solid #000099; 
	background-color:#FFFFFF; 
	/*width:150px;*/
	height: 22px;
	font-size: 11px;
	color: #000099; 
	font-weight: bold;
	padding-right: 11px;
	padding-left: 15px;
	margin-top: 2px;
	cursor:pointer;	
}
.igwlbExplorerBarHeaderCollapsed 
{
	border-bottom:2px solid #000099; 
	background-color:#FFFFFF; 
	/*width:150px;*/
	height: 22px;
	font-size: 11px;
	color: #000099; 
	font-weight: bold;
	padding-left: 15px;
	padding-right: 11px;
	margin-top: 2px;	
	cursor:pointer;
}
.igwlbExplorerBarHeaderHover 
{
	border-bottom:2px solid #000099; 
	background-color:#FFFFFF; 
	/*width:150px;*/
	height: 22px;
	font-size: 11px;
	color: #000099; 
	font-weight: bold;
	padding-right: 11px;
	padding-left: 15px;
	margin-top: 2px;
	cursor:pointer;	
}

/*-------------------- DefaultGroupStyle ----------------------*/
.igwlbGroupExplorerBarNormal
{
	height:100%;
	font-size: 11px;
	font-family: Verdana;
	color:#484848;
	Background-color: #F5F5F5;
	padding-top: 10px;
	/*padding-left: 10px;*/
}

/*------------------ WebPanelItem ----------------*/
.igwlbItemNormal 
{
	background-color: white;
	color: #48AAF3;
	text-align: left;
	/*padding-left: 5px;*/
	cursor: default;

	
}
.igwlbItemHover
{
	text-align: left;
	color: #48AAF3;
	text-decoration: underline;
	/*padding-left: 5px;*/
	cursor:default;
}

.igwlbItemSelected
{
	text-align: left;
	color: #48AAF3;
	text-decoration: underline;
	/*padding-left: 5px;*/
	cursor:default;

}

/*------------------- MESSAGES --------------------*/

.MessageLabel
{
	font-size: 11px;
	color: #333333; 
	font-family: Verdana;
}
.ConfirmationMessagesRow
{
	background-color: #bebebe;
	height: 20px;
}
.ConfirmationMessages
{
	font-size: 10px;
	padding-right: 30px;
	color: #FFFFFF;
	font-family: Verdana;
	font-weight:bold;
}
.MessageAreaTable
{
    border-right: #FFF7D2 thin solid;
    border-top: #000066 thin solid;
    border-left: #FFF7D2 thin solid;
    border-bottom: #000066 thin solid;
    background-color: #FFF7D2;
    text-align:center;
    height: 30px;
    width:100%;
}

.MessageTable
{
	margin-bottom:20px;
}
.MessageTableRegAdmin
{
	margin-bottom:20px;
	margin-top:20px;
	width:960px;
}

/*----------------- ERRORMESSAGE -----------------*/

.ErrorMessages
{
	font-size: 11px;
	color: #FF0000;
	font-family: Verdana;
}
.ErrorMessagesRow
{
	font-size: 11px;
	color: #ff0000;
	font-family: Verdana;
}
/*------------------- ACORDEON -----------------*/


.PanelLeft
{
	
	background-color: #FFF;
	/* width: 150px;*/
	height: 100%;

}

TD
{
	font-size: 8pt;
	font-family: Verdana;
}

.labelStyle
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 8pt;
	font-family: Verdana;
	height: 20px;
}

.columnListbox
{
	border-right: #666666 1px solid;
	border-top: #666666 1px solid;
	border-left: #666666 1px solid;
	border-bottom: #666666 1px solid;
}

.error
{
	font-weight: normal;
	font-size: 8pt;
	color: #cc0000;
	font-family: verdana;
	text-decoration: none;
}
.descriptionPanel 
{
	FONT-SIZE: x-small;
	font-weight:normal;
	PADDING-TOP: 2px; 
	BACKGROUND-COLOR: #FAFAFA;
	width:100%;
	height:100px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:2px;
	padding-right:5px;
	color: #3C7FD1; /* royalblue; */
	cursor:default;
}
.descriptionPanelContent
{
	border: solid 1px silver;
	BACKGROUND-COLOR: #FDFDFD;
}
.descriptionPanelHeader 
{ 
	FONT-FAMILY: verdana;
	FONT-WEIGHT: bold; 
	FONT-SIZE: x-small; 
	BACKGROUND-IMAGE: url(Images/silverglass.gif); 
	COLOR: red; 
	PADDING-TOP: 2px; 
	PADDING-LEFT: 3px; 
	BORDER-LEFT: silver 1px solid; 
	BORDER-RIGHT: silver 1px solid; 
}
.content
{
	/*background-color:F9F9F9; */
	margin: 0px;
	padding: 0px;
	border: 1px solid #000000;
	float: left;
}

.chartGalleryPanel
{
	float:left;	
}

.AcordeonLine
{

    background-color:#000099; 
    height: 1px;
    width: 210px;
    margin-top:20px;

}

/*------------------- WebPanelInside --------------------*/

.igmiscexpanded
{
	font-size: 11px;
	font-family: Verdana;
	color:#000099; 
	margin-left:10px;
	Background-color: #DFCADB;
	width:210px;
	height:20px;
	cursor:pointer;
	border-left:solid 8px #F1F1F1;
	border-bottom:solid 3px #F1F1F1;
	border-top:solid 3px #F1F1F1;
}
.igmischover
{

	font-size: 11px;
	font-family: Verdana;
	color:#DFCADB;
	margin-left:10px;
	Background-color: #ff0000;
	width:210px;
	height:20px;
	cursor:pointer;
	border-left:solid 8px #F1F1F1;
	border-bottom:solid 3px #F1F1F1;
	border-top:solid 3px #F1F1F1;
	
}
.igmisccollapsed
{
	font-size: 11px;
	font-family: Verdana;
	color:#000099; 
	margin-left:10px;
	Background-color: #DFCADB;
	width:210px;
	height:20px;
	cursor:pointer;
	border-left:solid 8px #F1F1F1;
	border-bottom:solid 3px #F1F1F1;
	border-top:solid 3px #F1F1F1;
}


/*----------------- TextBox -------------------*/

.WebTextEdit
{

	font-size: 11px;
	font-family: Verdana;
	color:#484848;
	background-color:#fff;
	border-color:#cccccc;
	border-width:thin;

}


/*----------------- UltraWebTab -----------------*/

.UltraWebTab
{
	font-size: 11px;
	font-family: Verdana;
	font-weight:bold;
	color:#333333;
	margin-left:10px;
	height:100%;
}


/*--------------- ContentPane ---------------*/

.igwpPanel{
	background-image:url(Images/igwp_panel.jpg);
	background-repeat: repeat-x;
	background-color: #000099; 
	width:100%;
}

/*----------------- Search UC -----------------*/

.SearchUCTitleText
{
	font-size: 10px;
	color: #000099; 
	font-family: Verdana;
	font-weight:bold;
}



/*----------------- Footer -----------------*/
.Footer
{
	font-size: 10px;
	color: #000099;
	margin-left:100px;
	font-family: Verdana;
	background-color:#ffffff;
	border-top: 2px solid #000099;
	width:100%;
	margin:0px;
	clear:both;
}

.Copyright{
line-height:15px;
float:left;
margin-left:30px;
}
.Version{
line-height:15px;
float:right;
margin-right:30px;}

.CurrentUserText
{
    color: #000099;
	font-family:Verdana;
	font-size:11px;
	font-weight: bold;
	position:absolute;
	top:30px;
	left:77%;
}
.SelectedTextNode
{
	background-color: #BABAD6;
	font-weight: bold;
}



/*-----------------Go to -----------------*/
.GoTo
{
	display:block;
	width: 170px;
	height:24px;
	font-family: Verdana;
	font-size: 15px;
	font-weight: bold;
	cursor:pointer;
	position:relative;
	left:-350px;
	top:67px;
	/*z-index:100;
	margin:0px;
	padding-left: 15px;*/
	float:left;
}

.Header_GoTo
{
	background-color: Green;
	color: Fuchsia;
}

.GoTo td
{
height:24px;
}
.GoTo td td
{
height:24px;
}

.Item
{
	width: 165px;
	height:24px;
	color: #2B29D2;
	border: 1px solid #2B29D2;
	background-color: #ffffff;
	cursor: default;
	padding-left: 10px;
	/*background-color:#00008A;*/
	/*background-image:url(Images/HeadBk.jpg);
	background-position:left bottom;*/
	/*cursor:pointer;
	font-family:Verdana;
	color: #FAFAFA;
	font-size:11px;
	border: #DDD 1px solid;*/
	/*border-bottom: #000099 1px solid;*/
}
.ItemHover
{
	width: 165px;
	height:24px;
	background-color: #2B29D2;
	color: #fff;
	border: 1px solid white;
	cursor: default;
	padding-left: 10px;
	/*background-image:url(../Common/Images/sprite.png);
	background-position:left top;
	cursor:pointer;
	font-family:Verdana;
	font-size:11px;*/
}



/*--------------table manager styles----------------*/

.pnlEditRecordStyle
{
	background-color:white;
	font-size: 10px;
	font-family:Verdana;
	color:#000099; 
	margin-left:auto;
	margin-right:auto;
}
.pnlEditBtnStyle
{
	background-color:white;
	border-bottom-width:thick;
	border-bottom-color:Blue;
	margin-left:auto;
	margin-right:auto;
}
.pnlPageStyle
{
	background-color:white;
	border-bottom-width:thick;
	border-bottom-color:Blue;
}
.pnlTableDescriptionStyle
{
	background-color:white;
	border-bottom-width:thick;
	border-bottom-color:Blue;
	margin-bottom: 10px;
	width: 100%;
}
.pnlViewTableStyle
{
	background-color:white;
	border-bottom-width:thick;
	border-bottom-color:Blue;
	margin:10px auto;
	overflow:auto;	
}
.ShortActionButton
{
	width: 90px;
	height: 20px;
	font-size: 10px;
	cursor: pointer;
	font-weight: bold;
	color: #000099; 
	font-family:Verdana;
	background:url(YUI/sprite.png);
	border-left: #BBBBBB 1px solid;
	border-top: #BBBBBB 1px solid;
	border-right: #BBBBBB 2px solid;
	border-bottom: #BBBBBB 2px solid;
}

.TableEditorListBox
{
	font-size: 11px;
	font-family: Verdana;
	color: #000099;
	background-color:#FFFFFF;
	height: 300px;
	width: 75px;	
	border-top: #C0C0C0 1px solid;
	border-left: #C0C0C0 1px solid;
	border-right: #C0C0C0 1px solid;
	border-bottom: #C0C0C0 1px solid;
}

.TableEditorHeaderStyle
{
	font-size: 10px;
	cursor:pointer;
	font-family:Verdana;
	color:#000099;
	font-weight:bold;
	height:20px;
	background-image:url(images/HeaderGrid.gif);
	text-align:center;
	border-style:solid;
    border-width:1px;
    border-color:#B3B3CC;
}

.CellTableName
{
	font-weight: bold;
}

.CellContainerValue
{
	width:150px;
	height:30px;
	text-align:left;
	padding-left:10px;
}

.TableDescription
{
	text-align: left;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
}

/*--------------------- UltraWebGrid -----------------------*/
.BandLabel
{
	font-size: 11px;
	border-width:thin;
	border-color:#6372D4;
	background-color:#000066;
	height:15px;
	color:#fff;
	font-weight:bold;
}

.HeaderStyle
{
	font-size: 10px;
	cursor:pointer;
	font-family:Verdana;
	color:#000099; 
	font-weight:bold;
	height:20px;
	background-image:url(../Common/Images/HeaderGrid.gif);
	text-align:center;/*to fix header style in table editor. add on 2008/08/11*/

}
.SelectedHeaderStyle
{
	font-size: 10px;
	cursor:pointer;
	font-family:Verdana;
	color:#000099; 
	height:20px;
	background-image:url(Images/HeaderGrid.gif);
	text-align:center;/*to fix cell text style in table editor. add on 2008/08/11*/
}
.FrameStyle
{
	font-size: 10px;
	cursor:pointer;
	font-family:Verdana;
	color:#000099; 
	height:20px;
	border-color:#000099; 
	background-color:#EDEDF3;
    border-right-style:solid;
	border-right-width:1px;
	border-right-color:#B3B3CC;
	border-left-style:solid;	
	border-left-width:0px;/*to fix frame style when click the delete button in table 

editor.add on 2008/08/11*/
	border-left-color:#B3B3CC;
}
.FixedCellStyle
{
	height:20px;
	width:100%;
	background-color:#E2E2E2;
	text-align:right;
	
}
.SmallBoldText
{
	font-size: 10px;
	color: #000000;
	font-family: Verdana;
	font-weight:bold;
}
.SmallText
{
	font-size: 10px;
	color: #000000;
	font-family: Verdana;
}

/*to fix the row style in table editor.add on 2008/08/11*/
.RowStyle
{
    background-color:White;
    height:20px;
    border-style:solid;
    border-width:1px;
    border-color:#B3B3CC;
    padding-left:5px;
}

/*---------------------- CompoundDetails -----------------------*/
.LinkLabel 
{
	
	background-image:url(../Common/Images/buttonimage.gif);
	width:80px;
	height: 20px;
	font-size: 11px;
	color: #000000;
	cursor:pointer;
	border: none;
}
.LinkLabelHover 
{
	background-image:url(../Common/Images/buttonimage.gif);
	width:80px;
	height: 20px;
	font-size: 11px;
	color: #000000;
	cursor:pointer;
	border: none;
}

.LinkLabelSelected 
{
	
	background-image:url(../Common/Images/buttonimage.gif);
	width:80px;
	height: 20px;
	font-size: 11px;
	color: #980065;
	cursor:pointer;
	border: none;
	
}

/*********** Styles for Form generator controls *************/

/*---------------------- TEXTBOX ----------------------*/
.COETextBox
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#fff;
 border-color:#BCBCBC;
 border-width:thin;
 width: 150px;
 height: 15px;
}
.COETextBoxLong
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#fff;
 border-color:#BCBCBC;
 border-width:thin;
 width: 650px;
 height: 15px;
}
.COETextBoxLongView
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#EAEAEA;
 border:0px;
 width: 653px;
 height: 15px;
}
.COETextBoxNew
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#fff;
 border-color:#BCBCBC;
 border-width:thin;
 width: 120px;
 height: 15px;
}
.COETextBoxNewView
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#EAEAEA;
 border:0px;
 width: 120px;
 height: 15px;
}
.COETextBox2
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#fff;
 border-color:#BCBCBC;
 border-width:thin;
 width: 617px;
 height: 15px;
}
.COETextBoxView
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#EAEAEA;
 border:0px;
 width: 150px;
 height: 15px;
}
.COETextBoxViewNew
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#EAEAEA;
 border:solid 1px #999999;
 width: 80px;
 height: 15px;
}
.COETextBoxViewNewView
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#EAEAEA;
 border:0px;
 width: 80px;
 height: 15px;
}
.COETextBox2View
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#EAEAEA;
 border:0px;
 width: 617px;
 height: 15px;
}

.COELine
{
 border-color:#ff9900;
 border-width:1px;
}

/*-------------------- TEXTAREA ---------------------*/
.COETextAreaComments
{
 width: 150px;
 height: 70px;
 font-size: 11px;
 font-family: Verdana;
 color:#484848;
 margin-left:5px;
 background-color:#fff;
 border-color:#B2B2B2;
 border-width:thin;
}
.COETextAreaComments2
{
 width: 615px;
 height: 70px;
 font-size: 11px;
 font-family: Verdana;
 color:#484848;
 margin-left:5px;
 background-color:#fff;
 border-color:#B2B2B2;
 border-width:thin;
}
.COETextAreaCommentsView
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#EAEAEA;
 border:0px;
 width:150px;
}
.COETextAreaComments2View
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#EAEAEA;
 border:0px;
 width:617px;
}

/*--------------- LABEL ---------------*/
.COELabelTitle
{
 font-size:11px;
 font-family: Verdana;
 color:#000099; 
 font-weight: bold;
}
.COELabelSeparador
{
 font-size:11px;
 font-family: Verdana;
 color:#8C8CBF;
 font-weight: bold;
}
.COELabelTitle2
{
 font-size:11px;
 font-family: Verdana;
 color:#000099;
 font-weight: bold;
 padding-left:7px;
}
.COELabel
{
    color: #484848;
	font-family:Verdana;
	font-size:11px;
	background-color:white;
}
.COELabelView:before
{
	content:"*";
    color: #000099; 
	font-family:Verdana;
	font-size:11px;
	background-color:white;
}
.COELabelTextBox
{
    color: #484848;
	font-family:Verdana;
	font-size:11px;
	background-color:white;

}

/*-------------- TEXTAREALONG --------------*/
/*.COETextAreaLong
{
    border-color: #484848;
    border-width:thin;
    font-family:Verdana;
    font-size:11px;
    color:#484848;
    height: 50px;
    width: 620px;
} */  
.COETextAreaLongView
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#EAEAEA;
 border:0px;
 width: 653px;
 height: 15px;
}
.COETextAreaLong
{
    border-color: #484848;
    border-width:thin;
    font-family:Verdana;
    font-size:11px;
    color:#484848;
    height: 50px;
    width: 650px;
} 

/*----------------------- CHEMDRAW ----------------------*/
.COEChemDraw2
{
    border-color: #B3B3CC;
    height: 300px;
    width: 300px;
    border:2px;
    border-style:solid;

}
.COEChemDraw1
{
    border-color: #B3B3CC;
    height: 200px;
    width: 200px;
    border:2px;
    border-style:solid;
}
.COEChemDraw
{
    border-color: #B3B3CC;
    height: 300px;
    width: 300px;
    border-width: 2px;
    border-style:solid;

}
.COEChemDrawThin
{
    border-color: #B3B3CC;
    height: 250px;
    width: 200px;
    border-width: 2px;
    border-style:solid;

}
.COEChemDrawWide
{
    border-color: #B3B3CC;
    height: 285px;
    width: 725px;
    border-width: 2px;
    border-style:solid;
	top:30px;
}

/*------------------- DROPDOWN -------------------*/
.COEDropDownList
{
    color: #484848;
    font-family:Verdana;
    font-size:11px;
    height: 15px;
    width: 155px;
    border: solid 1px #999999;
}
.COEDropDownListNew
{
    border-color: #BCBCBC;
    color: #484848;
    font-family:Verdana;
    font-size:11px;
    height: 20px;
    width: 140px;
}
.COEDropDownListNewView
{
 font-size: 11px;
 font-family: Verdana;
 color: #000000;
 background-color:#EAEAEA;
 border:0px;
 width: 120px;
 height: 20px;
}
.COEDropDownListView
{
 font-size: 11px;
 font-family: Verdana;
 color: #000000;
 background-color:#EAEAEA;
 border:0px;
 width: 155px;
 height: 20px;
}

.COEDropDownListStatus
{
 font-size: 11px;
 font-family: Verdana;
 color: #484848;
 background-color:#BABAD6;
 border:0px;
 width: 155px;
 height: 20px;
}
/*---------------------- DATEPICKER -------------------*/
.COEDatePicker
{
    border-color: #BCBCBC;
    color: #484848;
    font-family:Verdana;
    text-align:left;
    font-size:11px;
    height: 20px;
    width: 150px;
}

/*------------------- VARIOS --------------------*/
.COEGridView
{
 font-size: 11px;
 font-family: Verdana;
 color: #000099; 
 text-align:left;
 background-color:#fff;
 border:none;
 width: 270px;
 height: 15px;
} 
 

.COERequiredField
{
 color: #FF0000;
 font-family:Verdana;
 font-size:11px;
 background-color:white;
}
.COERequiredField:before
{
 content:"*";
}


.MessagesArea
{

}
.MessagesAreaTextLabel
{
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:11px;
    font-family: Verdana;
    color:#000099; 
    font-weight: bold;
}



/******** Buttons ********/  /*CLASE DUPLICADA VERIFICAR CUAL SE USA!!!!!!*/
.ToolbarButton 
{
	
	background:transparent url(Images/Button.gif) center center no-repeat;
	width:84px;
	height: 23px;
	font-size: 11px;
	color: #000000;
	cursor:pointer;
	border: none;	
	margin: 8px;
}

.ToolbarButton:hover 
{	
	background:transparent url(Images/Button2.gif) center center no-repeat;
	text-decoration: underline;		
}

.GridToolbarButton
{
	background:transparent url(Images/Button.gif) center center no-repeat;
	/*width: 84px;
	height: 30px;*/
	font-size: 11px;
	color: #000000;
	cursor: pointer;
	border: none;
}
.GridToolbarButton:hover 
{	
	background:transparent url(Images/Button2.gif) center center no-repeat;
	text-decoration: underline;		
}

.GridToolbarDeleteButton
{
	background:transparent url(/COECommonResources/Utility_Images/BackGroundImages/DeleteRow.png) center center no-repeat;
}

.GridToolbarDeleteButton:hover 
{	
	background:transparent url(/COECommonResources/Utility_Images/BackGroundImages/DeleteRow_h.png) center center no-repeat;	
}

.GridToolbarEditButton
{
	background:transparent url(/COECommonResources/Utility_Images/BackGroundImages/EditRow.png) center center no-repeat;
	text-align:center;
}

.GridToolbarEditButton:hover 
{	
	background:transparent url(/COECommonResources/Utility_Images/BackGroundImages/EditRow_h.png) center center no-repeat;	
}

.ButtonBig 
{
	background:transparent url(Images/Button.gif) center center no-repeat;
	width:84px;
	height: 23px;
	font-size: 11px;
	color: #000000;
	cursor:pointer;
	border: none;
}
.ButtonBig:hover 
{
	background:transparent url(Images/Button2.gif) center center no-repeat;
	text-decoration: underline;	
}

.ButtonBigRegAdmin 
{
	background:transparent url(Images/ButtonRegAdmin.gif) center center no-repeat;
	width:100px;
	height: 23px;
	font-size: 10px;
	color: #000000;
	cursor:pointer;
	border: none;
}
.ButtonBigRegAdmin:hover 
{
	background:transparent url(Images/Button2RegAdmin.gif) center center no-repeat;
	text-decoration: underline;	
}

.ButtonXL  /*VERIFICAR CUAL SE USA!!!!!!*/
{
	background-image:url(Images/graybuttonback.jpg);
	width:100px;
	height: 20px;
	font-size: 11px;
	color: #000000;
	cursor:pointer;
	border: none;
}

.DocImage 
{
	background:url(Images/WordDocument.png) top left no-repeat;
	width:32px;
	height: 32px;	
	cursor:pointer;
	border: none;
}


.HyperLinkLike
{
    height: 15px;
    font-size: 10px;
    color: #000099;
    cursor: pointer;
    border: none;
    background-color: Transparent;
    text-decoration: underline;
}
.HyperLinkLike a:hover
{
    height: 15px;
    font-size: 10px;
    color: red;
    cursor: pointer;
    border: none;
    background-color: Transparent;
    text-decoration: underline;
}

.Button{
	
	font-family: Verdana;
	font-size: 10px;
	color:#000099; 
	font-weight:bold;
	padding-left:9px;
	Height:17px;
	Width:60px;
	cursor:default;

}


/******** CONTENTPages ***************/
.Home
{
	height: 100px;
	width: 100%;
	background: #fff url(Images/watermarkhome.jpg) no-repeat center top;
}
.Home2
{
	height: 100px;
	width: 100%;
	background: #fff;
}
.PagesContentTable
{
	height: 100%;
	width: 100%;
	background: #fff url(Images/watermark.jpg) no-repeat right bottom;
}
.SearchPagesContentTable
{
	height: 100%;
	width: 980px;
	background: #fff url(Images/watermark.jpg) no-repeat right bottom;
	border-width:medium;
	border-color:Black;
}
.PagesToolBar
{
	background:#fff;
}
.MenuToolBar
{
	background:#fff;
}
.ColumnContentHeader
{
	width:15px;
}

.ContentPageTitle
{
	font-size: 14px;
	padding-right: 30px;
	color: #333333;
	font-family: Verdana;
	font-weight:bold;
	float:right;
	text-align:right;
	margin-left:auto;	
}
.ContentPageTitleTableEditor
{
	font-size: 14px;
	padding-right: 30px;
	color: #333333;
	font-family: Verdana;
	font-weight:bold;
	float:left;
	text-align:left;
	width: 150px;
}
.ContentPageTitleSmall
{
	font-size: 12px;
	padding-right: 30px;
	color: #000099;
	font-family: Verdana;
	font-weight:bold;
	width:185px;
}
.ContentPageTitle2
{
	font-size: 14px;
	padding-right: 30px;
	color: #333333;
	font-family: Verdana;
	font-weight:bold;
	width:100px;
}

.HomePageLinks
{
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:14px;
    font-family: Verdana;
    color:#000099; 
}
.HomePageLinks:hover
{
    background-attachment: fixed;
    vertical-align: middle;
    text-transform: none;
    text-align: center;
    font-size:14px;
    font-family: Verdana;
    color:#0000AA;
}
.HomePageLinkImages
{
    cursor: pointer;
}

.COELabelTextBox
{
    color: Green;
}
.LeftPanelUC
{
    height : 425px;
}
.HomeTitleBig
{
	font-size: 18px;
	color: #000099; 
	font-family: Verdana;
	font-weight:bold;
}

.HomeTitleMedium
{
	font-size: 11px;
	color: #484848;
	font-family: Verdana;
	font-weight:lighter;
}

.HomeDescription
{
	font-size: 10px;
	color: #484848;
	font-family: Verdana;
	text-align:left;
	font-weight:lighter;
	height:50px;
	width:120px;
}

h1
{
	font-size: 18px;
	color: #000099; 
	font-family: Verdana;
	font-weight:bold;
	margin-left:30px;
}
h4
{
	font-size: 11px;
	color: #484848;
	font-family: Verdana;
	margin-left:30px;
	font-weight:lighter;
}

p
{	
	text-align:left;
	margin-left:30px;
	font-weight:lighter;
	/*height:50px;*/
	
}

.LinksHome a:link
{

	font-size: 12px;
	color: #000099; 
	font-weight:bold;
	padding-left:30px;
	cursor:pointer;
	width:150px;
	text-decoration:none;
}
.LinksHome a:hover 

{

	font-size: 12px;
	color: #999999;
	font-weight:bold;
	text-decoration:underline;
	padding-left:30px;
	cursor:pointer;
}

.LinksHome a:selected 
{

	font-size: 12px;
	color: #000066;
	padding-left:30px;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}
.LinksHome a:visited
{
	font-size: 12px;
	color: #000099; 
	padding-left:30px;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}


/*********** Home Buttons *************/

.HomeButtons
{
	width: 70px;
	height: 70px;
	vertical-align: middle;
	cursor: pointer;
	margin-left: 30px;
	vertical-align: top;
	text-align: left;
	border: none;
}
.SelectAllText 
{
    cursor: pointer;
    font-size: 10px;
    font-family: Verdana;
    color:#000099; 
    text-decoration: underline;
    padding-left:28px;
}
.SelectAllText a:hover 
{
    cursor: pointer;
    font-size: 10px;
    font-family: Verdana;
    color:#ff0000;
    text-decoration: underline;
    padding-left:28px;
}

/*------------------ Menu Reg Admin --------------------*/



	.MenuRegAdmin
	{
	display:block;
	margin:20px 5px;	
	}
	
		.MenuRegAdmin li
		{
		margin:5px 0px;
		color:#333333;
		font-weight:bold;
		padding-left:25px;
		}
		
			.MenuRegAdmin li a
			{
			color:#333333;
			text-decoration:none;
			}
		
		.MenuRegAdmin ul.SubMenu
		{
		margin:5px 0px 5px 15px;
		}
		
		.MenuRegAdmin ul.SubMenu li
		{
		margin:5px 0px;
		color:#333333;
		font-weight:bold;
		}
		
			.MenuRegAdmin ul.SubMenu li a
			{
			color:#333333;
			text-decoration:none;
			font-weight:normal;
			}



		/* PANNEL - Application Home Only ----------------*/
		
		.AplMenu
		{ 
		display:block;
		position:relative;
		float:none;
		clear:both;
		width:450px;
		margin:30px auto 30px auto;
		background:#e8e8e8 url(../Common/Images/panelBk.jpg) bottom right no-repeat scroll;
		padding-bottom:10px;
		}
		
		.AplMenuHomeReg
		{ 
		display:block;
		position:relative;
		float:none;
		clear:both;
		width:60%;
		margin:30px auto 0px auto;
		background:#e8e8e8 url(../Common/Images/panelBk.jpg) bottom right no-repeat scroll;
		padding-bottom:10px;
		}
		
		
			.PAplMenu
			{
			font-weight:bold;
			width:90%;
			margin:0px auto;
			top:15px;
			}
			
			
			.Items
			{
			font-weight:bold;
			width:90%;
			top:15px;
			margin:15px 20px;
			font-weight:bold;
			padding-top:15px;
			}
			
			/* HEAD PANELS STYLES (11 applications) */
			
		
			/*DataView Manager*/
			
			.Dvmanager
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #0099ff;
			color:#0099ff;
			}
			
			.DvmanHelp 
			{
			display:block;
			position:absolute;
			width:20px;
			height:20px;
			float:right;
			margin:-26px 0px 0px 90%; /*ie6 y 7*/
			z-index:98;
			background: transparent url(Images/dvmanager_help2.jpg) top right 

no-repeat scroll;
			}
				
			/*DocManager*/
			
			.Docmanager
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #000099;
			color:#000099;
			}
			
	
			.DocmanHelp 
			{
			display:block;
			position:absolute;
			width:20px;
			height:20px;
			float:right;
			margin:-26px 0px 0px 90%; /*ie6 y 7*/
			z-index:98;
			background: transparent url(Images/docmanag_help2.jpg) top right 

no-repeat scroll;
			}
				
				
			/*DocManger Enterprise*/
			.DocManager
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			font-size:12px;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #000099;
			color:#000099;
			}
				
			/*Security*/
			
			.Security
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #000099;
			color:#000099;
			}
				
			/*Inventory*/
			
			.Inventory
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #009966;
			color:#009966;
			}
			
			/*ChemBioViz Enterprise*/
			
			.Chembioviz
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #0099ff;
			color:#0099ff;
			}
			
				
			/*DrugDeg Enterprise*/
			
			.Drugdegent
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #904400;
			color:#904400;
			}
			
				
			/*Configuration Manager*/
			
			.Configuration
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #000099;
			color:#000099;
			}
	
				
			/*Data Loader*/
			
			.Dloader
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #680084;
			color:#680084;
			}
	
				
			/*DrugDeg Database*/
			
			.Drugdegdb
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #731e00;
			color:#731e00;
			}
	
				
			/*Chem ACX*/
			
			.Chemacx
			{
			display:block;
			position:relative;
			clear:both;
			height:15px;
			margin:0px 0px 5px 0px;
			font-weight:bold;
			padding:5px 5px 5px 10px;
			background-color:#FFFFFF;
			border-bottom: 3px solid #900004;
			color:#900004;
			}

		/*PANNEL - Help information ----------------------------------*/
			
	.HelpButton 
	{
		display:block;
		position:absolute;
		text-decoration:none;
		width:20px;
		height:20px;
		float:right;
		margin:-26px 0px 0px 0px;
		left:95%;
		z-index:98;
		background: transparent url(Images/QuestionSign.jpg) top right no-repeat scroll;
    }
    
 

	.HelpButton2 
	{
		width:20px;
		height:20px;
		float:right;
		background: transparent url(Images/QuestionSign_3.png) top right no-repeat scroll;
		position: relative;
		text-decoration: none !important; 		
		font-weight:bold !important; 
	}
	
		.HelpButton2:hover 
		{
			z-index:999;			
		}

		.HelpButton2 span 
		{
			display: none; 
		}

		.HelpButton2:hover span 
		{
			display: block; 
			position: absolute; 
			top:-17px; left:26px; 
			width:605px;
			height:45px; 
			padding:5px; 
			background-color: #000099; 
			color: #FFFFFF; 
		}
    
    .HelpInfo
    {
		display:none;
		position:absolute;
		background:#cccccc;
		width:100%;
		padding-bottom:20px;
		color:#191919;
		margin:-5px 0px 0px 0px;
		z-index:1000;     
		left:0px;                         
    }
    
    .HelpInfo span 
    {                                               
		display:block;
		font-weight:bold; 
		cursor:default;
		margin:25px;
    }

.MenuButton
{
	font-family: Verdana;
	font-size: 10px;
	border: solid 1px white;
	cursor: pointer;
	padding: 2px;
	margin: 3px 5px 3px 5px;
}
.MenuButton a
{
	color:#000099;
	text-decoration: none;
}
.MenuButton a:hover
{
	text-decoration: underline;
}
.MenuButton:hover
{
	border: solid 1px gray;
}

.MenuItemContainer
{
	z-index: 500;
	position:absolute;
	background-color: #C2CCCC;
	border: outset 1px gray;
	text-align:center;
}

.MenuItemLink
{
	color:#000099;
	text-decoration: none;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
}
.MenuItemLink:hover
{
	text-decoration: underline;
}


/*--------------- PANNEL - LIST OF ICONS --------------------------------------------*/
		
		.AplMenuHomeReg .UlAplMenu{
			display:block;
			position:relative;
			width:90%;
			min-height:130px;
			margin:25px auto 45px;
			}
			
			.AplMenuHomeReg ul li{
			display:block;
			position:relative;
			float:left;
			width:73px;
			height:77px;
		    margin: 3px 4% 5px 4%;
		    *margin: 3px 15px 5px 15px !important; /* Hack IE7*/
			text-align:center;
			}
			
			.AplMenuHomeReg ul li.Clear{
			display:block;
			position:relative;
			float:none;
			clear:both;
			width:90%;
			height:35px;
		    margin:0px;
		    list-style-type:none;
			}
				.AplMenuHomeReg ul li:hover{
				border: 1px solid #999999;
				height:75px;
				width:71px;
				}
				
				.AplMenuHomeReg ul li.Clear:hover{
				border: none;
				height:35px;
				width:100%;
				}
				
				.AplMenuHomeReg ul li img.I24{
				display:block;
				position:relative;
				margin:5px -18px !important;
				margin:5px -10px;
				left:50%;
				left:34px !important;				
				clear:both;
				background: transparent url(Images/Button.png) center center 

no-repeat scroll;
				padding:4px 10px 10px 7px;
				
				}
					.AplMenuHomeReg ul li img.I24:focus
				{
					border:none;
				}		
				
				.AplMenuHomeReg ul li img.I32{
				display:block;
				position:relative;
				margin:3px auto;
				clear:both;
				background: transparent url(Images/blue_48.png) bottom left 

no-repeat scroll;
				padding:2px 10px 9px 7px;
				}
				
				.AplMenuHomeReg ul li a.HItem{
				display:block;
				position:relative;
				text-align:center;
				text-decoration:none;
				clear:both;
				color:#333333;
				line-height:12px;
				}
				
				.AplMenuHomeReg ul li a.HItem:link, a.HItem:active, 

a.HItem:focus, a.HItem:hover{
				color:#333333;
				text-decoration:none;
				}
				
				
				/*reg admin panel*/
		.UlAplMenu
			{
			display:block;
			position:relative;
			margin:-10px 10px 45px 90px;
			}	
				.LiAplMenu
				{
				display:block;
				position:relative;
				margin: 5px;
				/*float:left;*/
				clear:both;
				list-style-type:none
				}
				
				.ClearLiAplMenu
				{
				display:block;
				position:relative;
				float:none;
				clear:both;
				width:100%;
				height:0px;
				margin:0px;
				}					
					
					.I24{					
					display:block;
					position:relative;
					float:left;
					margin:5px;
					background: transparent url(../Common/Images/button.png) 

center center no-repeat scroll;
					padding:4px 10px 10px 7px;
					margin-top:-10px;					
					}
					.I24:focus
					{
						border:none;
					}
					
					.I32
					{
					display:block;
					position:relative;
					float:left;
					margin:3px;
					background: transparent url(Images/blue_48.png) bottom 

left no-repeat scroll;
					padding:2px 10px 9px 7px;
					margin-top:-10px;
					}
					
			 .MenuItem
					{
	cursor:pointer;
	display:block;	
	text-decoration:underline;
	padding: 5px;
	position:relative;
	color:#17365D;
    font-family:Verdana;
    font-size:11px; 
	line-height:11px;
					}
 .MenuItem:link, .MenuItem:active, .MenuItem:focus
 			{
 				color:#333333;
				text-decoration:underline;
			}
.MenuItem:hover
{
	/*font-weight:bold;*/
	color:#E4005C;
	text-decoration:underline;	
}

/*Tabs Layout
-------------------------------------------------------------------*/


/*Tabs Layout=HEADER
-----------------------------*/

.UlTabsHeader 
{
list-style: none;
padding:0;
margin:0;
display:block;
height:32px;
background: transparent url(../Common/Images/Tabs/UlBk.jpg) left top repeat-x scroll;
width: 971px;
}
	.LiTabsHeader 
	{
	display:block;
	float: left;
	margin:0px;
	position:relative;
	background: transparent url(../Common/Images/Tabs/TabBk2.jpg) left 1px repeat-x scroll;	
	}
	
	.LiFirstTabsHeader 
	{
	position:relative;
	display:block;
	float: left;
	margin:0px 5px 0px 0px;
	width:14px;
	height:32px;
	background: transparent url(../Common/Images/Tabs/LeftCorner.jpg) left 1px no-repeat 

scroll;
	}
	
	.LiLastTabsHeader 
	{
	display:block;
	position:relative;
	float: right;
	margin:0px;
	width:14px;
	height:32px;
	background: transparent url(../Common/Images/Tabs/RighCorner.jpg) left 1px no-repeat 

scroll;
	}
	
	.ATabsHeader 
	{
	padding:0px;
	color:#CCCCCC;
	font-weight:bold;
	text-decoration:none;
	display:block;
	float:left;
	margin-top:12px;
	font-size:12px;
	width:115px;
	text-align:center;
	}
	
	.ATabsHeaderEditXml 
	{ /*we need to resize links's font to fix width*/
	padding:0px;
	color:#999999;
	font-weight:bold;
	text-decoration:none;
	display:block;
	float:left;
	margin-top:11px;
	font-size:10px;
	width:175px;
	text-align:center;
	}
	

	.LeftCornerTabsHeader 
	{
	display:block;
	float:left;
	width:14px;
	height:32px;
	background: transparent url(../Common/Images/Tabs/LeftTabCorner2.jpg) left 1px no-repeat 

scroll;
	}
	
	.RigthCornerTabsHeader 
	{
	display:block;
	float:left;
	width:14px;
	height:32px;
	background: transparent url(../Common/Images/Tabs/RightTabCorner2.jpg) right 1px 

no-repeat scroll 
	}
	
	.SelectedTabsHeader 
	{
	display:block;
	float: left;
	margin:0px;
	position: relative;
	top: 1px;
	background:transparent url(../Common/Images/Tabs/TabBk.jpg) left top repeat-x scroll;
	}
	
		.SelectedTabsHeader .ATabsHeader 
		{
		color:#333333;
		}
		
		.SelectedTabsHeader .ATabsHeaderEditXml 
		{/*Advanced Customization Section*/
		color:#000099;
		}
		
		.SelectedTabsHeader .LeftCornerTabsHeader 
		{
		background:transparent url(../Common/Images/Tabs/LeftTabCorner.jpg) top left 

no-repeat scroll; 
		}
		
		.SelectedTabsHeader .RigthCornerTabsHeader 
		{
		background:transparent url(../Common/Images/Tabs/RightTabCorner.jpg) top right 

no-repeat scroll; 
		}



/*Tabs Layout=CONTENT
-----------------------------*/

.TabsContent 
{
clear: both;
background:transparent url(../Common/Images/Tabs/TabBodyBk.jpg) right top repeat-y scroll;
border-left: 2px solid #CCCCCC;
padding-top:0;
width: 970px;
}

	.Goto2
	{ /* Links at top right, under tabs header */
	float:right;
	font-family: Verdana;
	font-size: 10px;
	color:#000099;
	font-weight:bold;
	cursor:pointer;
	margin-right:40px;
	color: #000099;	
	}
	
	.PTabsContent
	{ /* <span> */
	display:block;
	margin:10px 20px;
	clear:both;
	color:#2A28D1;
	}
	.PTabsContent2
	{ /* <span> */
	width: 12em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	margin-top: 0.5em;
	display: block;		
	color:#2A28D1;
	}
	.EventList
	{
	display:block;
	margin:10px 20px;
	clear:both;
	padding-left:262px;
	}
	
	.AddInList	
	{
	display:block;
	margin:10px 20px;
	clear:both;
	padding-left:20px;	
	}
	
	.PTabsSubTittle
	{
	color:#2A28D1;	
	}
	
	.TextBoxSubTittle
	{	
	width:240px;
	height:15px;
	margin-left:4px;
	}
	
	.FieldsetTabsContent
	{
	margin: 0px 40px 20px 30px;
	border:1px solid #999999;
	}
	
		.LegendTabsContent
		{
		margin-left: 7px;
		padding:0px 5px;
		font-weight:bold;
		color:#333333;
		font-size:11px;
		}
		
		.DivFieldset
		{ /* Center elements into Fieldsets */
		display:block;
		margin: 0px auto;
		width: 60%;
		}
		
		.DivFieldset2
		{ /* Center elements into Fieldsets */
		display:block;
		/*margin: 0 0 0 10px;*/
		margin-left:158px;
		width: 60%;		
		}

		
		.DivFieldset .Div
		{ /* Used to Organize */
		display:block;
		margin: 0px;
		clear:both;
		width:100%;
		}
		
		.DivFieldset .DivCent
		{ /* Center elements */
		display:block;
		margin: 0px;
		clear:both;
		width:100%;
		text-align:center;
		}
		
		.DivFieldsetEm 
		{ /* Emphasized text */
		background-color:#F8F8F8;
		display:block;
		float:left;
		margin:2px;
		padding-left:10px;
		width:172px;
		}
		
		.H1Fieldset
		{
		display:block;
		margin: 5px;
		clear:both;
		font-size:11px;
		color:#666666;
		font-weight:normal;
		margin-left:50px;}
		
		/*.h1Fieldset {
			margin: 0;
			padding: 0 0 1em 0;
			font-size: 11px;
		} */
		
		
		
		.LabelFieldset 
		{ /* They have specified with to center and aling with inputs into a DivFieldset*/
		width: 12em;
		float: left;
		text-align: right;
		margin-right: 0.5em;
		margin-top: 0.5em;
		display: block;
		color:#2A28D1;
		}
		.LabelFieldsetAddIn 
		{ /* They have specified with to center and aling with inputs into a DivFieldset */
		width: 30em;
		float: left;
		text-align: right;
		margin-right: 0.5em;
		margin-top: 0.5em;
		display: block;
		color:#2A28D1;
		}
		.AddInConfig
		{
			width: 900px;
			height: 100px;
			margin-bottom:2%;
		}
	
		/* TabsContent footer */
		
		.TabsFooter
		{
		display:block;
		height:10px;
		background:transparent url(../Common/Images/Tabs/TabFooter2Bk.jpg) right bottom 

repeat-x scroll;
		}
		.DivFooter
		{
		display:block;
		float:right;
		width:14px;
		height:10px;
		background:transparent url(../Common/Images/Tabs/TabFoterBk.jpg) right bottom 

no-repeat scroll;
		}
	
	/*Form elements USED INTO TABSCONTENT*/
	
	.ControlElements
	{ /* Inputs - Setup Property Lists */
	display:block;
	float:left;
	border: 2px inset #cccccc;
	background-color:#f8f8f8;
	margin:2px;
	font-size:11px;
	width:182px;
	}
	
	/* Form elements - special classes */
	
	Select.ControlElements
	{
		width:188px;
	}
	
	.NumericInput
	{
	display:block;
	float:left;
	border: 2px inset #cccccc;
	background-color:#f8f8f8;
	margin:2px;
	font-size:11px;
	width:50px;
	}
	
	
	.DivFieldset p.MaxMinInput
	{
	clear:none;
	}
	
	.InputFile
	{
	margin:15px 20% 2px;	
	}
	
	Select.AddinProp
	{
		display:block;
		float:left;
		border: 2px inset #cccccc;
		background-color:#f8f8f8;
		margin:4px;
		font-size:11px;
		width:400px;
	}
	
	Select.AddinEvent /*addin section*/
	{
		display:block;
		float:left;
		border: 2px inset #cccccc;
		background-color:#f8f8f8;
		margin:4px 0px 4px 4px;
		font-size:11px;
		width:250px;
	}
	
	.MultilineInput /*textarea*/
	{
		display: block;
		clear: both;
		height: 150px;
		width: 75%;
		float: none;
		margin:0 auto 10px auto;
		border: 2px inset #cccccc;
		background-color:#f8f8f8;
	}
	
	.MultilineInputXmlEdit /*edit xml textarea - Advanced Customization Section */
	{
		display: block;
		clear: both;
		height: 500px;
		width: 940px;
		float: none;
		margin:5px 7px;
		border: 2px inset #cccccc;
		background-color:#f8f8f8;
		margin-left:10px;
	}
	
	.MultilineDisplayXml
	{
		margin-left:10px;
		width:950px; 
		overflow:auto;
		height:500px;
	}
	
	
/* BUTTONS */
	
	.Button
	{
	display:block;
	width:84px;
	height:23px;
	background:transparent url(Images/Button.gif) center center no-repeat scroll;
	color:#000000;
	font-weight:bold;
	text-align:center;
	float:right;
	margin:0px 10px 10px 0px;
	text-decoration:none;
	padding-top:7px;
	}
	
	.GetStructureInfoButton
	{
		position: absolute;
		width: 100px;
		cursor: pointer;
	}
	
	.Button2
	{
	height:23px;
	text-decoration:none;
	display:block;
	float:right;
	margin:5px;
	}
	
	.DivCent .Button2
	{
		float:none;
	}
	
	.Button2 a
	{
	text-decoration:none;
	float:left;
	background:transparent url(Images/ButBk.gif) left top repeat-x scroll;
	height:21px;
	padding-top:2px;
	}
	
	.Button2 a:hover, a:visited
	{
	color:#333333;
	}

	.Button2 .Left
	{
	background:transparent url(Images/ButLeft.gif) left top repeat-x scroll;
	height:23px;
	width:9px;
	float:left;
	}
	
	.Button2 .Right
	{
	background:transparent url(Images/ButRight.gif) left top repeat-x scroll;
	height:23px;
	width:9px;
	float:left;
	}
	
	.Button3
  {
   height:23px;
   text-decoration:none;
   display:block;
   float:right;
   margin:10px 40px 10px 0;
   }

		.Button3 a
	{
	text-decoration:none;
	float:left;
	background:transparent url(Images/ButBk_2.gif) left top repeat-x scroll;
	height:21px;
	padding-top:2px;
	}
	
	.Button3 a:hover, a:visited
	{
	color:Red;
	}
	.Button3 .Left
	{
	background:transparent url(Images/ButLeft_2.gif) left top repeat-x scroll;
	height:23px;
	width:9px;
	float:left;
	}
	
	.Button3 .Right
	{
	background:transparent url(Images/ButRight_2.gif) left top repeat-x scroll;
	height:23px;
	width:9px;
	float:left;
	}
	
	
	/*OTHER*/
	
	.Div .Label
	{
		float:left;
	}
	
	.ShowXML /*Advanced Customization Section*/
	{
	display: block;
	position: relative;
	width:660px;
	background-color:#f8f8f8;
	padding-left:20px;
	font-size:8px;
	}
	/*search*/

iframe
{
border:none;
}

.BackDupResolution
{
	background:transparent url(Images/Previous_B.png) top left no-repeat scroll;
	width: 90px;	
}
.BackDupResolutionD
{
	background:transparent url(Images/Previous_B_d.png) top left no-repeat scroll;
	width: 90px;	
}
.NextDupResolution
{
	background:transparent url(Images/Next_B.png) top left no-repeat scroll;
	width: 70px;	
}
.NextDupResolutionD
{
	background:transparent url(Images/Next_B_d.png) top left no-repeat scroll;
	width: 70px;	
}
.LeftWebPanelContainer
{
	margin-left: 1px;
}
.LeftPanelCollapsed
{
	/*background:transparent url(Images/Arrow_Left_B.png) top right no-repeat scroll;*/
	width: 10px;	
}
.LeftPanelExpanded
{
	/*background:transparent url(Images/Arrow_Right_B.png) top left no-repeat scroll;*/
	width: 10px;	
}
.DataListTable
{
	font-size: 11px; 
	font-family: Verdana; 
	color: #000066; 
	text-align: left;
	background-color: #fff; 
	width: 100%; 
	height: 15px; 
	margin-top: 7px;
	margin-bottom: 7px;
	border: 1px;
}
.FromPickListLabel
{
	font-family: Verdana; 
	font-size: 9px; 
	color: #009; 
	cursor: pointer;
}
.PickListDivTitle
{
	font-family: Verdana; 
	color: #009;
	font-size: 10px; 
}
.CustomizePropertyItem
{
	
}
.CustomizePropertyAltItem
{
	
}

.Err_BodyText{ color: #000;font-size:10px;}
.Err_FooterText{color: #009; font-size:9px; }
.Err_HeaderText{color: #ff4500;font-size:11px; margin-left: 10px;}

.overlay{     
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index:1001;
     opacity:.75;
     -moz-opacity: 0.75;
     filter: alpha(opacity=75);    
     text-align:center;
     text-align:center;            
}
.LeftPanel
{
	height: auto;
}

.AccordionHead
{
	font-family: Verdana;
	font-size: 14px;
	color: #009;
	margin-left: 10px;
	font-weight: bold;
}

.AboutTopContainer
{
	width: 500px;
	margin-left: 20px;
	margin-top: 20px;
	color: #009;
	font-family:Verdana;
	font-size:11px;	
}

.ConfigSettingManagerButtons
{
	text-align: right;
	margin-right: 20px;
	width:100%;	
}

.TableEditorChildTable
{
	padding-top: 30px;
}