<?xml version="1.0" encoding="utf-8"?>
<module>
  <id>BF06899C-0351-4347-A50D-A3D38E74F87A</id>
  <name>CBVN</name>
  <version>5.0.0.0</version>
  <intendedClient>Core</intendedClient>
  <assemblies>
    <assembly>
      <fullname>SpotfireIntegration.SpotfireAddin, Version=12.1.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>SpotfireIntegration.SpotfireAddin.dll</codebase>
      <compatibility>
        <min-version>12.1.0.0</min-version>
        <max-version>12.1.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>SpotfireIntegration.Common, Version=12.1.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>SpotfireIntegration.Common.dll</codebase>
      <compatibility>
        <min-version>12.1.0.0</min-version>
        <max-version>12.1.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>SharedLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=d569dc1aec3279c1</fullname>
      <codebase>SharedLib.dll</codebase>
      <compatibility>
        <min-version>1.0.0.0</min-version>
        <max-version>1.0.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>FormDBLib, Version=12.1.0.0, Culture=neutral, PublicKeyToken=068cf338a4357837</fullname>
      <codebase>FormDBLib.dll</codebase>
      <compatibility>
        <min-version>12.1.0.0</min-version>
        <max-version>12.1.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>FormWizard, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>FormWizard.dll</codebase>
      <compatibility>
        <min-version>1.0.0.0</min-version>
        <max-version>1.0.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf</fullname>
      <codebase>CambridgeSoft.COE.Framework.dll</codebase>
      <compatibility>
        <min-version>12.1.0.0</min-version>
        <max-version>12.1.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30</fullname>
      <codebase>Csla.dll</codebase>
      <compatibility>
        <min-version>2.1.1.0</min-version>
        <max-version>2.1.1.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Csla.Compression, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30</fullname>
      <codebase>Csla.Compression.dll</codebase>
      <compatibility>
        <min-version>2.1.1.0</min-version>
        <max-version>2.1.1.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>ICSharpCode.SharpZipLib, Version=0.86.0.518, Culture=neutral, PublicKeyToken=1b03e6acf1164f73</fullname>
      <codebase>ICSharpCode.SharpZipLib.dll</codebase>
      <compatibility>
        <min-version>0.86.0.518</min-version>
        <max-version>0.86.0.518</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=6579c5fdfc419d72</fullname>
      <codebase>Microsoft.Practices.EnterpriseLibrary.Common.dll</codebase>
      <compatibility>
        <min-version>2.0.0.0</min-version>
        <max-version>2.0.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Microsoft.Practices.EnterpriseLibrary.Data, Version=2.1.0.0, Culture=neutral, PublicKeyToken=152312c3a223b399</fullname>
      <codebase>Microsoft.Practices.EnterpriseLibrary.Data.dll</codebase>
      <compatibility>
        <min-version>2.1.0.0</min-version>
        <max-version>2.1.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=21f4688e7671500b</fullname>
      <codebase>Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll</codebase>
      <compatibility>
        <min-version>2.0.0.0</min-version>
        <max-version>2.0.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=7ae566350f7e2d48</fullname>
      <codebase>Microsoft.Practices.EnterpriseLibrary.Logging.dll</codebase>
      <compatibility>
        <min-version>2.0.0.0</min-version>
        <max-version>2.0.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Microsoft.Practices.ObjectBuilder, Version=1.0.51205.0, Culture=neutral, PublicKeyToken=2c79a496fd4bd8ae</fullname>
      <codebase>Microsoft.Practices.ObjectBuilder.dll</codebase>
      <compatibility>
        <min-version>1.0.51205.0</min-version>
        <max-version>1.0.51205.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Oracle.DataAccess, Version=2.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342</fullname>
      <codebase>Oracle.DataAccess.dll</codebase>
      <compatibility>
        <min-version>2.122.1.0</min-version>
        <max-version>2.122.1.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>QuickGraph.Algorithms, Version=2.1.2661.22230, Culture=neutral, PublicKeyToken=86e9aba414f6c605</fullname>
      <codebase>QuickGraph.Algorithms.dll</codebase>
      <compatibility>
        <min-version>2.1.2661.22230</min-version>
        <max-version>2.1.2661.22230</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>QuickGraph.Collections, Version=2.1.2661.22229, Culture=neutral, PublicKeyToken=360dbfce46d07a98</fullname>
      <codebase>QuickGraph.Collections.dll</codebase>
      <compatibility>
        <min-version>2.1.2661.22229</min-version>
        <max-version>2.1.2661.22229</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>QuickGraph.Concepts, Version=2.1.2661.22229, Culture=neutral, PublicKeyToken=d25c7a271d7196db</fullname>
      <codebase>QuickGraph.Concepts.dll</codebase>
      <compatibility>
        <min-version>2.1.2661.22229</min-version>
        <max-version>2.1.2661.22229</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>QuickGraph.Exceptions, Version=2.1.2661.22229, Culture=neutral, PublicKeyToken=4aa6e29d05bdc8a0</fullname>
      <codebase>QuickGraph.Exceptions.dll</codebase>
      <compatibility>
        <min-version>2.1.2661.22229</min-version>
        <max-version>2.1.2661.22229</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>QuickGraph.Predicates, Version=2.1.2661.22229, Culture=neutral, PublicKeyToken=e0730e9e9d3cdc3d</fullname>
      <codebase>QuickGraph.Predicates.dll</codebase>
      <compatibility>
        <min-version>2.1.2661.22229</min-version>
        <max-version>2.1.2661.22229</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>QuickGraph.Representations, Version=2.1.2661.22230, Culture=neutral, PublicKeyToken=454e3737b09e112f</fullname>
      <codebase>QuickGraph.Representations.dll</codebase>
      <compatibility>
        <min-version>2.1.2661.22230</min-version>
        <max-version>2.1.2661.22230</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.Win.Misc.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.Win.Misc.v8.2.dll</codebase>
      <compatibility>
        <min-version>8.2.20082.1000</min-version>
        <max-version>8.2.20082.1000</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.Win.UltraWinTree.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.Win.UltraWinTree.v8.2.dll</codebase>
      <compatibility>
        <min-version>8.2.20082.1000</min-version>
        <max-version>8.2.20082.1000</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.Win.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.Win.v8.2.dll</codebase>
      <compatibility>
        <min-version>8.2.20082.1000</min-version>
        <max-version>8.2.20082.1000</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.Shared.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.Shared.v8.2.dll</codebase>
      <compatibility>
        <min-version>8.2.20082.1000</min-version>
        <max-version>8.2.20082.1000</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>AssemblySettings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a1abf0e18c4e9528</fullname>
      <codebase>AssemblySettings.dll</codebase>
      <compatibility>
        <min-version>1.0.0.0</min-version>
        <max-version>1.0.0.0</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.UltraWebTab.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.UltraWebTab.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.WebDataInput.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.WebDataInput.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.Misc.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.Misc.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.WebDateChooser.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.WebDateChooser.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.UltraWebGrid.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.UltraWebGrid.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.WebCombo.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.WebCombo.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.UltraWebNavigator.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.UltraWebNavigator.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.UltraWebGrid.ExcelExport.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.UltraWebGrid.ExcelExport.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.UltraWebListbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.UltraWebListbar.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.UltraWebToolbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.UltraWebToolbar.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.Shared.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.Shared.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>Infragistics2.WebUI.Documents.Excel.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb</fullname>
      <codebase>Infragistics2.WebUI.Documents.Excel.v11.1.dll</codebase>
      <compatibility>
        <min-version>11.1.20111.1006</min-version>
        <max-version>11.1.20111.1006</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>CBVNStructureFilter, Version=11.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>CBVNStructureFilter.dll</codebase>
      <compatibility>
        <min-version>11.0.0.0</min-version>
        <max-version>#.#.*.*</max-version>
      </compatibility>
    </assembly>
    <assembly>
      <fullname>CBVNStructureFilterSupport, Version=11.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>CBVNStructureFilterSupport.dll</codebase>
      <compatibility>
        <min-version>11.0.0.0</min-version>
        <max-version>#.#.*.*</max-version>
      </compatibility>
    </assembly>
	<assembly>
      <fullname>COEServiceLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778</fullname>
      <codebase>COEServiceLib.dll</codebase>
      <compatibility>
        <min-version>0.0.0.0</min-version>
        <max-version>#.#.*.*</max-version>
      </compatibility>
    </assembly>
  </assemblies>
  <extensions>
    <addIn fullTypeName="SpotfireIntegration.SpotfireAddin.SpotfireCOETableDataSourceAddIn, SpotfireIntegration.SpotfireAddin, Version=12.1.0.0, Culture=neutral, PublicKeyToken=4d95002c27fab778" />
  </extensions>
  <resources>
    <publicResource name="Datalytix.help" relativePath="Help\default.htm" />
    <publicResource name="Datalytix.browseDataview" relativePath="Help\linktoadvancedsearchdataview.html" />
  </resources>
</module>