<div class="btn-group btn-group-xs pull-right" role="group" aria-label="" style="margin:5px">
  <button type="button" class="btn btn-default border-2 status background-blue border-blue">
    <i class="fa-undo white" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-default border-2 status border-blue blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">System Behaviors <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a [routerLink]="['/configuration/properties']" class="coolgray text-relaxed margin-none"><i class="fa fa-list-ol fa-lg  #A4AEB5"></i> Manage Data Properties</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/forms']" class="coolgray text-relaxed margin-none"><i class="fa fa-list-alt fa-lg  #A4AEB5"></i> Customize Forms</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/addins']" class="coolgray text-relaxed margin-none"><i class="fa fa-plus fa-lg  #A4AEB5"></i> Manage Addins</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/xml-forms']" class="coolgray text-relaxed margin-none"><i class="fa fa-code fa-lg  #A4AEB5"></i> Edit Form XML</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/settings']" class="coolgray text-relaxed margin-none"><i class="fa fa-wrench fa-lg #A4AEB5"></i> System Settings</a></li>
  </ul>
</div>
<div class="btn-group btn-group-xs pull-right" role="group" aria-label="" style="margin:5px">
  <button type="button" class="btn btn-default border-2 status background-blue border-blue">
    <i class="fa-undo white" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-default border-2 status border-blue blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">Custom Tables <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a [routerLink]="['/configuration/VW_PROJECT']" class="coolgray text-relaxed margin-none"><i class="fa fa-file-code-o fa-lg  #A4AEB5"></i> Projects</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/VW_PICKLIST']" class="coolgray text-relaxed margin-none"><i class="fa fa-bookmark fa-lg  #A4AEB5"></i> Picklist Values</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/VW_PICKLISTDOMAIN']" class="coolgray text-relaxed margin-none"><i class="fa fa-external-link fa-lg  #A4AEB5"></i> Picklist Domains</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/VW_NOTEBOOKS']" class="coolgray text-relaxed margin-none"><i class="fa fa-book fa-lg  #A4AEB5"></i> Notebooks</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/VW_FRAGMENT']" class="coolgray text-relaxed margin-none"><i class="fa fa-cubes fa-lg #A4AEB5"></i> Fragments</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/VW_FRAGMENTTYPE']" class="coolgray text-relaxed margin-none"><i class="fa fa-cube fa-lg #A4AEB5"></i> Fragment Types</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/VW_SEQUENCE']" class="coolgray text-relaxed margin-none"><i class="fa fa-bolt fa-lg #A4AEB5"></i> Sequences</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/VW_IDENTIFIERTYPE']" class="coolgray text-relaxed margin-none"><i class="fa fa-table fa-lg #A4AEB5"></i> Identifier Types</a></li>
    <li role="separator" class="divider"></li>
    <li><a [routerLink]="['/configuration/VW_SITES']" class="coolgray text-relaxed margin-none"><i class="fa fa-sitemap fa-lg #A4AEB5"></i> Sites</a></li>
  </ul>
</div>
<reg-page-header><ng-content></ng-content></reg-page-header>