<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
The keyword DEVNOTE in this document marks nodes/values specific to the development environment.
-->
  <configSections>
    <section name="coeLoggingConfiguration" type="CambridgeSoft.COE.Framework.Common.COELoggingConfiguration, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.1.0.0, Culture=neutral, PublicKeyToken=152312c3a223b399" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=21f4688e7671500b" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- To point to where the dlls are referenced, use this block and comment the next one -->
  <!-- For instance you can reference the RegAddIns dll from another folder, and take the py scripts from that relative path where that is dll running.-->
  <!-- DEVNOTE:
  If you are running from local assemblies, comment out the following assemblyBinding node entirely
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Documents and Settings\All Users\Application Data\CambridgeSoft\ChemOfficeEnterprise12.1.0.0\COESharedAssemblyConfig.xml"/>
  </assemblyBinding>
  -->
  <appSettings>
    <!-- DEVNOTE:
    If you uncomment TestingUserName and TestingPassword, you will be able to hit the webservice
    from the browser (in IIS, 'browse' COERegistrationServices.asmx) using the credentials provided.-->
    <add key="TestingUserName" value="T5_85" />
    <add key="TestingPassword" value="T5_85" />
    <add key="AppName" value="REGISTRATION" />
    <add key="ConfigurationName" value="Registration" />
    <add key="ConfigBatchNumber" value="1"/>
    <!-- Settings for specifying how a user will be authenticated when using COE Framework Services
    For custom authentication set valuse to: Csla 
    For windows authentication set it to: Windows
    -->
    <add key="CslaAuthentication" value="Csla" />
    <add key="CDJSUrl" value="http://localhost/cdjs" />
    <!--Settings for specifying how this application will call COE Framework Services-->
    <!-- LOCAL:
    If the framework services are on this machine do not uncomment anything -->
    <!-- REMOTE:
    If framework services will be accessed via remoting calls uncomment the following lines and enter replace //localhost with the name of the server. For 
    for developement use http://localhost:4285/CambridgeSoft.COE.Framework.RemotingHost/RemotingPortal.rem  change the portnumber if you change the properties to dynamic port numbers
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.RemotingProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://localhost/COERemotingHost/RemotingPortal.rem"/>
    <add key="CslaEncryptRemoting" value="false"/>-->
    <!-- WEBSERVICE:
    If framework services will be accessed via webservice calls then uncomment the following lines and enter replace //localhost with the name of the server
    for developement use http://localhost:4283/CambridgeSoft.COE.Framework.WebServiceHost/WebServicePortal.asmx  change the portnumber if you change the properties to dynamic port numbers
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.WebServicesProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://localhost/COEWebServiceHost/WebServicePortal.asmx"/>
    -->
  </appSettings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
      <add name="Picklist Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <coeLoggingConfiguration logEntryIdentifier="COERegistration" enabled="false" categories="All" priority="10" severity="All" />
  <exceptionHandling>
    <exceptionPolicies>
      <add name="RegUIExceptionPolicy">
        <exceptionTypes>
          <add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="RegUnknownExceptionPolicy">
        <exceptionTypes>
          <add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogAndThrowNewException">
        <exceptionTypes>
          <add type="CambridgeSoft.COE.Framework.ExceptionHandling.COEBusinessLayerException, CambridgeSoft.COE.Framework" postHandlingAction="ThrowNewException" name="COE Business Exception">
            <exceptionHandlers>
              <add logCategory="Event Log" eventId="100" severity="Error" title="COE Business Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler" />
              <add logCategory="Flat File" eventId="100" severity="Error" title="COE Business Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.ExceptionHandling.COEDALException,CambridgeSoft.COE.Framework" postHandlingAction="ThrowNewException" name="COE DAL Exception">
            <exceptionHandlers>
              <add logCategory="Event Log" eventId="100" severity="Error" title="COE DAL Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler" />
              <add logCategory="Flat File" eventId="100" severity="Error" title="COE DAL Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogOnly">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Miscellaneous Exception">
            <exceptionHandlers>
              <add logCategory="Event Log" eventId="100" severity="Error" title="COE Base Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler" />
              <add logCategory="Flat File" eventId="100" severity="Error" title="COE Base Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <loggingConfiguration defaultCategory="Event Log">
    <categorySources>
      <add name="Event Log" switchValue="All">
        <listeners>
          <add name="Event Log Destination" />
        </listeners>
      </add>
      <add name="Flat File" switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners>
          <add name="Event Log Destination" />
        </listeners>
      </errors>
    </specialSources>
    <listeners>
      <add name="Event Log Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="ChemBioOffice Enterprise 11" formatter="Default Formatter" />
      <add name="Flat File Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="trace.log" formatter="Default Formatter" />
    </listeners>
    <formatters>
      <add name="Default Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="&#xA;Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;      " />
    </formatters>
  </loggingConfiguration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <location path="index.html">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="assets">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="api/v1/auth">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="WebServices/COERegistrationServices.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location allowOverride="true">
    <system.web>
      <sessionState cookieless="false" timeout="20" />
      <authentication mode="Forms">
        <forms path="/" name="COESSO" loginUrl="index.html" protection="All" timeout="20" />
      </authentication>
      <authorization>
        <!--<allow users="*"/>-->
        <deny users="?" />
      </authorization>
      <clientTarget>
        <add alias="iecustom" userAgent="Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)" />
      </clientTarget>
      <!-- DEVNOTE:
    You must set debug="true" to enable debugging from your environment.
    Form deployment scenarios, use debug="false".
    -->
      <compilation debug="true" targetFramework="4.5">
        <assemblies>
          <add assembly="CambridgeSoft.COE.Framework, Version=19.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" />
          <add assembly="CambridgeSoft.COE.Registration.Services, Version=19.1.0.0, Culture=neutral, PublicKeyToken=f435ba95da9797dc" />
          <add assembly="Oracle.DataAccess, Version=2.122.1.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
          <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        </assemblies>
      </compilation>
      <customErrors mode="Off" />
      <globalization culture="auto:en-US" uiCulture="auto:en" enableClientBasedCulture="true" />
      <httpRuntime executionTimeout="300" requestValidationMode="2.0" />
      <!-- impersonation can be commented in development but should be present in production/testing environments -->
      <!--<identity impersonate="true" userName="camsoft_admin" password="CambridgeS0ft!" />-->
      <machineKey validationKey="45CAC78F3314531A5717DFF2B63FCDF324A6AE4DEFBA3AD3FECB7E741C94969D61C4A9587204771087DA7B4C5402F8195DFD2CFE3DD5C94759C494D8F6059401" decryptionKey="EA164BA3FB87420D6E7D3D0AA31CEBFBBB5608AFA9B837E0" validation="SHA1" />
      <pages styleSheetTheme="BLUE" maintainScrollPositionOnPostBack="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="Registration" src="~/Forms/Public/UserControls/MessagesArea.ascx" tagName="MessageArea" />
          <add tagPrefix="Registration" src="~/Forms/Public/UserControls/RegistryRecordNavigation.ascx" tagName="RegistryRecordNavigation" />
          <add tagPrefix="Registration" src="~/Forms/Public/UserControls/MessagesBox.ascx" tagName="MessagesBox" />
        </controls>
      </pages>
      <trace enabled="false" requestLimit="100" pageOutput="true" traceMode="SortByCategory" localOnly="true" mostRecent="true" />
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
        <!-- This file provides a custom WSDL-helper page when browsing the web service itself (.asmx) -->
        <wsdlHelpGenerator href="Webservices\CustomWsdlHelpGenerator.aspx" />
      </webServices>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.111.7.10" newVersion="2.111.7.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>        
	      <assemblyIdentity name="Registration.Core" publicKeyToken="f435ba95da9797dc"/>
	      <bindingRedirect oldVersion="12.1.0.0-19.1.0.0" newVersion="19.1.0.0"/>   
      </dependentAssembly>
      <dependentAssembly>
      	<assemblyIdentity name="CambridgeSoft.COE.Registration.RegistrationAddins" publicKeyToken="f435ba95da9797dc"/>
  		<bindingRedirect oldVersion="12.1.0.0-19.1.0.0" newVersion="19.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="(api)/" negate="true" />
            <add input="{REQUEST_URI}" pattern="(swagger)/" negate="true" />
          </conditions>
          <action type="Rewrite" url="." />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <level value="ALL" />
      </filter>
      <file type="log4net.Util.PatternString" value="${TMP}\RegServerLogs\Log_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
    </appender>
    <logger name="RegServer">
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>
</configuration>
