



/*-- Buttons ---------------------------------------------------------------------------------*/
.blue_none {
   
    text-align:left;
    padding: 3px;
    font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: block;
	overflow:auto;
    width:100%;
    vertical-align:top;
    vertical-align:top;  
}
.blue_none a:link, .blue_none a:visited {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:underline;
}

/*-- XSmall --*/
.blue_xsmall {
    position:relative;
    padding: 3px;
	margin: 2px 0px 5px 0px;
	border: 0px;
	min-height: 74px;
	height: 74px;
    display: block;
	float:left;
    width: 74px;
    text-align:left;
    font-family:Verdana;
	font-size: 10px;
    vertical-align:top; 
     
}

.blue_xsmall a:link, .blue_xsmall a:visited {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:underline;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_xsmall.png) no-repeat scroll 0px -40px;
}

.blue_xsmall a:hover, .blue_xsmall a:active {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:none;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_xsmall.png) no-repeat scroll -40px 0px;
}


/*-- Small --*/
.blue_small 
{
    position: relative;
    /*padding: 0px 30px 20px 0px;
	margin: 0px 0px 5px 0px;
	clear:both;*/
	min-height: 88px;
	height: 88px;
    display: block;
    width: 45px;
    text-align: center;
    vertical-align: top; 
	text-decoration:none;
	color:#333333;
	line-height:13px; 
}

.blue_small a:link, .blue_small a:visited {
	position: relative;
	text-decoration: none;
	text-align:center;
	color: #333333;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_small.png) no-repeat scroll 0px -40px;
}

.blue_small a:hover, .blue_small a:active 
{
	border: 0px;
	position: relative;
	text-decoration:none;
	text-align:center;
	color: #000066;
	font-weight:bold;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_small.png) no-repeat scroll -40px 0px;
}


/*-- Medium --*/
.blue_medium {
      position: absolute;
	  padding: 0px 1px 0px 0px;
	  margin: 2px 0px 10px 0px;
	  border: 0px;
	  min-height: 74px;
	  height: 74px;
      display: block;
	  float: left;
      width: 74px;
      overflow: visible;
      text-align: left;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 11px;
      vertical-align: top;    
}

.blue_medium a:hover, .blue_medium a:active {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:none;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_medium.png) no-repeat scroll -50px 0px;
}

/*-- Large --*/
.blue_large {
      position:absolute;
	 padding: 0px 1px 0px 0px;
	  margin: 2px 0px 10px 0px;
	  border: 0px;
	  min-height: 90px;
	  height: 90px;
	  overflow: visible;
      display: block;
	  float:left;
      width: 90px;
      text-align:left;
	  font-family :Arial, Helvetica, sans-serif;
	  font-size: 11px;
      vertical-align:top;  
}

.blue_large a:link, .blue_large a:visited {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:underline;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_large.png) no-repeat scroll 0px -80px;
}

.blue_large a:hover, .blue_large a:active {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:none;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_large.png) no-repeat scroll -80px 0px;
}

/*-- XLarge --*/
.blue_xlarge {
      position:absolute;
	  padding: 0px 1px 0px 0px;
	  margin: 2px 0px 10px 0px;
	  border: 0px;
	  overflow: visible;
	  min-height: 110px;
	  height: 110px;
      display:  block;
	  float:left;
      width: 110px;
      text-align:left;
	  font-family :Arial, Helvetica, sans-serif;
	  font-size: 11px;
      vertical-align:top;  	  
}

.blue_xlarge  a:link, .blue_xlarge  a:visited {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:underline;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_xlarge.png) no-repeat scroll 0px -120px;
}

.blue_xlarge  a:hover, .blue_xlarge  a:active {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:none;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_xlarge .png) no-repeat scroll -120px 0px;
}

/*-- XXLarge --*/
.blue_xxlarge {
      position:absolute;
	  padding: 0px 1px 0px 0px;
	  margin: 2px 0px 10px 0px;
	  border: 0px;
	  overflow: visible;
	  min-height: 110px;
	  height: 110px;
      display:  block;
	  float:left;
      width: 110px;
      text-align:left;
	  font-family :Arial, Helvetica, sans-serif;
	  font-size: 11px;
      vertical-align:top;  	  
}

.blue_xxlarge  a:link, .blue_xxlarge  a:visited {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:underline;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_xxlarge.png) no-repeat scroll 0px -120px;
}

.blue_xxlarge  a:hover, .blue_xxlarge  a:active {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:none;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_xxlarge .png) no-repeat scroll -120px 0px;
}

/*-- 48 --*/
.blue_48 a:link, .blue_48 a:visited {
	position:absolute;
	top: 0px;
	left: 0px;
	text-decoration:underline;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_medium.png) no-repeat scroll 0px -50px;
}





/*-- Icon Sizes -------------------------------------------------------------------------*/
.icon_xsmall {
	display:inherit;
	text-align:center;
	position: absolute;
	vertical-align:top;
	top: 6px;
	left: 6px;
	padding: 3px;
	border: 0px;
	height: 16px;
	width: 16px;
	background:  transparent   no-repeat scroll;
}

.icon_small {
	display: inherit;
	text-align: center;
	position: absolute;
	vertical-align:top;
	top: 6px;
	left: 6px;
	padding: 3px;
	border: 0px;
	height: 24px;
	width: 24px;	
}

.icon_medium { 
	  display:inherit;
	  text-align:center;
	  position: absolute;
	  overflow: visible;
	  vertical-align:top;
	  top: 6px;
	  left: 6px;
	  padding: 1px;
      border: 0px;
	  height: 32px;
      width: 32px; 
	  background: transparent  no-repeat scroll;  
}

.icon_large {
	display:inherit;
	text-align:center;
	position: absolute;
	overflow: visible;
	vertical-align:top;
	top: 8px;
	left: 8px;
	padding: 1px;
	border: 0px;
	height: 48px;
	width: 48px;
	background: transparent  no-repeat scroll;	  
}

.icon_xlarge {
	  display:inherit;
	  text-align:center;
	  position: absolute;
	  overflow: visible;
	  vertical-align:top;
	  top: 14px;
	  left: 14px;
	  padding: 1px;
      border: 0px;
	  height: 64px;
      width: 64px; 
	  background: transparent  no-repeat scroll;	  
}


.icon_xxlarge {
	  display:inherit;
	  text-align:center;
	  position: absolute;
	  overflow: visible;
	  vertical-align:top;
	  top: 14px;
	  left: 14px;
	  padding: 1px;
      border: 0px;
	  height: 128px;
      width: 128px; 
	  background: transparent  no-repeat scroll;  
}


/*-- Wrapper General Layout -------------------------------------------------------------------------*/

#wrapper #content .apl_menu{
		display:block;
		position:relative;
		float:left;
		width:305px;
		/*height:208px;*/
		margin:5px 0px 5px 2px;
		background:#e8e8e8 url(/coecommonresources/Utility_Images/BackGroundImages/panel_bk_nologo.jpg) bottom right no-repeat scroll;
		}
	
#wrapper #content .apl_menu ul{
		display:block;
		position:relative;
		width:90%;
		height:170px;
		/*margin:8px auto 45px;*/
		margin: 0;
		
		}
			
#wrapper #content .apl_menu ul li{
			display:block;
			position:relative;
			float:left;
			width:45px;
			height:88px;
			text-align:center;
		    /*margin: 0px 15px 15px 0px;*/
		    margin-right: 23px;
			}
#wrapper #content .apl_menu ul li:hover{
			display:block;
			position:relative;
			float:left;
			width:45px;
			height:88px;
			text-align:center;
		    /*margin: 0px 15px 15px 0px;*/
		    margin-right: 23px;
			}		
#wrapper #content .apl_menu h1{
		display:block;
		position:relative;
		clear:both;
		height:15px;
		margin:0px 0px 5px 0px;
		font-weight:bold;
		padding:5px 5px 5px 10px;
		background-color:#FFFFFF;
		}
		
		/*Help information
			----------------------*/
			
#wrapper #content .apl_menu a.hid {
			display:block;
			position:absolute;
			text-decoration:none; 
			outline-style:none;
			width:20px;
			height:20px;
			float:right;
			margin: -26px 5px 0px 270px;
			background: none;
			z-index:99;
			}
#wrapper #content .apl_menu a.hid em {
			display:none;
			margin:10px auto;
			width:90%;
			}
#wrapper #content .apl_menu a.hid:hover {
				text-decoration:none;
				}
				#wrapper #content .apl_menu a.hid:active, a.hid:focus {
				background:#cccccc;
				width:100%;
				height:120px;
				color:#191919;
				margin:-5px 0px 0px -15px;
				}
#wrapper #content .apl_menu a.hid:active span, a.hid:focus span {
				display:block;
				width:20px;
				height:20px;
				position:relative;
				float:right;
				margin:-20px 5px 0px 0px;
				background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/QuestionSign.jpg) top right no-repeat scroll;
				}
				#wrapper #content .apl_menu a.hid:active em, a.hid:focus em {
				display:block; 
				font-weight:bold; 
				cursor:default;
				}
		
		
				/* HEAD PANELS STYLES
		-------------------------*/
		
#wrapper #content .apl_menu h6{
		display:block;
		position:absolute;
		width:20px;
		height:20px;
		float:right;
		margin:-26px 5px 0px 308px;
		z-index:98;
		}
		
/*light blue (dataview manager, chembioviz)
---------------------*/
		
#wrapper #content .apl_menu h1.lightBlue
{
	border-bottom: 3px solid #0099ff;
	text-align:left;
	color:#0099ff;
}
		
#wrapper #content .apl_menu h6.lightBlue_help 
{
	background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/lightBlue_help2.jpg) top right no-repeat scroll;
	margin: -26px 0 0 270px;
}
		
/*dark blue (security manager, docmanager, Configuration manager)
---------------------*/
		
#wrapper #content .apl_menu h1.darkBlue
{
	border-bottom: 3px solid #000099;
	text-align:left;
	color:#000099;
}
		
#wrapper #content .apl_menu h6.darkBlue_help 
{
	margin: -26px 0 0 270px;
	background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/darkBlue_help2.jpg) top right no-repeat scroll;
}

/*fushia (registration)
---------------------*/
		
#wrapper #content .apl_menu h1.fushia
{
	border-bottom: 3px solid #90004c;
	text-align:left;
	color:#90004c;
}
		
#wrapper #content .apl_menu .fushia_help 
{
	margin: -26px 0 0 270px;
	background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/fushia_help2.jpg) top right no-repeat scroll;
}
		
			
/*green (Inventory)
---------------------*/
		
#wrapper #content .apl_menu h1.green
{
	border-bottom: 3px solid #009966;
	text-align:left;
	color:#009966;
}

#wrapper #content .apl_menu .green_help 
{
	margin: -26px 0 0 270px;
	background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/green_help2.jpg) top right no-repeat scroll;
}

/*lightBrown (DrugDeg Enterprise)
---------------------*/
		
#wrapper #content .apl_menu h1.lightBrown
{
	border-bottom: 3px solid #904400;
	text-align:left;
	color:#904400;
}

#wrapper #content .apl_menu .lightBrown_help 
{
	margin: -26px 0 0 270px;
	background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/lightBrown_help2.jpg) top right no-repeat scroll;
}

/* purple (Data Loader)
---------------------*/
		
#wrapper #content .apl_menu h1.purple
{
	border-bottom: 3px solid #680084;
	text-align:left;
	color:#680084;
}
		

#wrapper #content .apl_menu .purple_help 
{
	margin: -26px 0 0 270px;
	background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/purple_help2.jpg) top right no-repeat scroll;
}
	
/* Dark brown (DrugDeg Database)
---------------------*/
		
#wrapper #content .apl_menu h1.darkBrown
{
	border-bottom: 3px solid #731e00;
	text-align:left;
	color:#731e00;
}
		
#wrapper #content .apl_menu .darkBrown_help 
{
	margin: -26px 0 0 270px;
	background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/darkBrown_help2.jpg) top right no-repeat scroll;
}

/*red (Chem ACX)
---------------------*/
		
#wrapper #content .apl_menu h1.red
{
	border-bottom: 3px solid #900004;
	text-align:left;
	color:#900004;
}

#wrapper #content .apl_menu .red_help 
{
	margin: -26px 0 0 270px;
	background: transparent url(/coecommonresources/Utility_Images/BackGroundImages/red_help2.jpg) top right no-repeat scroll;
}
