<dx-form id="id" (onFieldDataChanged)="onFieldDataChanged($event)" [formData]="viewModel" [colCount]="colCount" [items]="viewConfig"
  [readOnly]="!editMode" labelLocation="top">
  <div *dxTemplate="let data of 'dateTemplate'">
    <reg-date-form-item-template [editMode]="editMode" [viewModel]="data"></reg-date-form-item-template>
  </div>
  <div *dxTemplate="let data of 'projectsTemplate'">
    <reg-projects-form-item-template [activated]="activated" [editMode]="editMode" [viewModel]="data"></reg-projects-form-item-template>
  </div>
  <div *dxTemplate="let data of 'fragmentsTemplate'">
    <reg-fragments-form-item-template [activated]="activated" [editMode]="editMode" [viewModel]="data" [viewConfig]="viewConfig"></reg-fragments-form-item-template>
  </div>
  <div *dxTemplate="let data of 'idListTemplate'">
    <reg-id-list-form-item-template [activated]="activated" [editMode]="editMode" [viewModel]="data" [viewConfig]="viewConfig"></reg-id-list-form-item-template>
  </div>
  <div *dxTemplate="let data of 'dropDownTemplate'">
    <reg-drop-down-form-item-template [activated]="activated" [editMode]="editMode" [viewModel]="data"></reg-drop-down-form-item-template>
  </div>
  <div *dxTemplate="let data of 'structureTemplate'">
    <reg-structure-form-item-template [id]="data.dataField + '_cdd'" [activated]="activated" [editMode]="editMode" [viewModel]="data"></reg-structure-form-item-template>
  </div>
  <div *dxTemplate="let data of 'structureImageTemplate'">
    <reg-structure-image-form-item-template [id]="data.dataField + '_image'" [activated]="activated" [editMode]="editMode" [viewModel]="data"></reg-structure-image-form-item-template>
  </div>
  <div *dxTemplate="let data of 'textTemplate'">
    <reg-text-form-item-template [editMode]="editMode" [viewModel]="data"></reg-text-form-item-template>
  </div>
  <div *dxTemplate="let data of 'urlTemplate'">
    <a target="_blank" href="{{data.editorOptions.value}}">{{data.editorOptions.value}}</a>
  </div>
</dx-form>