<dx-box direction="row" width="100%">
  <dxi-item class="rect" [ratio]="1">
    <dx-form id="id" (onFieldDataChanged)="onFieldDataChanged($event)"  [formData]="viewModel" [colCount]="colCount" [items]="viewConfig" [readOnly]="false">
      <div *dxTemplate="let d of 'tetrahedralTemplate'">
        <dx-radio-group layout='horizontal' [items]="['Same','Either','Any']" [(value)]="viewModel.tetrahedralStereo" [disabled]="!viewModel.matchStereochemistry">
          <div *dxTemplate="let data of 'item'">
            {{data}}
            <img [src]="tetrahedralSameImage"><img *ngIf="data==='Same'" [src]="tetrahedralSameImage">
            <img *ngIf="data==='Either'||data==='Any'" [src]="tetrahedralEitherImage">
            <img *ngIf="data==='Any'" [src]="tetrahedralAnyImage">
          </div>
        </dx-radio-group>
      </div>
      <div *dxTemplate="let d of 'relativeTetStereoTemplate'">
        <dx-check-box [(value)]="viewModel.relativeTetStereo" [disabled]="!viewModel.matchStereochemistry">
        </dx-check-box> 
        <img [src]="thickBondFirstImage">
        <img [src]="thickBondSecondImage">
      </div>
      <div *dxTemplate="let d of 'doubleBondTemplate'">
        <dx-radio-group layout='horizontal' [items]="['Same','Any']" [(value)]="viewModel.doubleBondStereo" [disabled]="!viewModel.matchStereochemistry">
          <div *dxTemplate="let data of 'item'">
            {{data}}<img [src]="doublebondSameImage"><img *ngIf="data==='Same'" [src]="doublebondSameImage">
            <img *ngIf="data==='Any'" [src]="doublebondAnyFirstImage">
            <img *ngIf="data==='Any'" [src]="doublebondAnySecondImage">
          </div>
        </dx-radio-group>
      </div>
    </dx-form>
  </dxi-item>
</dx-box>