<div [hidden]="index!==0">
  <dx-box direction="row" width="100%">
    <dxi-item class="rect" [ratio]="4">
      <div [id]="id" class="cd-container cdweb" [hidden]="index!==0"></div>
    </dxi-item>
    <dxi-item class="rect" [ratio]="0" [baseSize]="140">
      <div class="dx-field">
        <command-dropdown class="pull-left" iconName="gear" (onSelected)="getSelectedValue($event)" [items]="searchTypeOptions" [title]="'Choose search type'"></command-dropdown>
        <command-button class="pull-left" testid="option-button" (onClick)="viewOptions(1)" iconName="gear" title="General Options"></command-button>
        <command-button class="pull-left" testid="option-button" (onClick)="viewOptions(2)" iconName="gear" title="Stereochemistry"></command-button>
      </div>
    </dxi-item>
  </dx-box>
</div>
<div class="panel panel-default panelContainer" [hidden]="!(index===1||index===2)">
  <div class="panel-heading">
    <dx-box direction="row" width="100%">
      <dxi-item class="rect" [ratio]="1">
        <div class="dx-field">
          <div class="dx-field-label">
            <label class="dx-field-item-label pull-left">Search Preferences</label>
          </div>
          <div class="dx-field-value">
            <command-button class="pull-right" testid="close-button" (onClick)="viewOptions(0)" iconName="close" title="Close"></command-button>
          </div>
        </div>
      </dxi-item>
    </dx-box>
  </div>
  <div class="panel-body">
    <reg-structure-query-form-options-template [hidden]="index!=1" [viewConfig]="viewConfigGeneral" [viewModel]="queryModel"
      (valueUpdated)="onValueUpdated($event)">
    </reg-structure-query-form-options-template>
    <reg-structure-query-form-options-template [hidden]="index!=2" [viewConfig]="viewConfigSterioChem" [colCount]=1 [viewModel]="queryModel"
      (valueUpdated)="onValueUpdated($event)">
    </reg-structure-query-form-options-template>
  </div>
  <div class="panel-footer" *ngIf="index!==0">Please select your search options!</div>
</div>