<reg-alert qaid="qa-alert" class="text-left" testid="alert-error" status='error' [hidden]="validationError.isvalid">
  <div style="padding-left:15px;"><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;One or more entries failed to validate!</strong>
    <ol style="font-size:13px;">
      <li *ngFor="let msg of validationError.errorMessages">{{msg}}</li>
    </ol>
  </div>
</reg-alert>
<dx-scroll-view id="detailScrollView" [height]="parentHeight" scrollByThumb="true" showScrollbar="true">
  <reg-form-group-view (valueUpdated)="onValueUpdated($event)" [id]="viewId" [viewConfig]="viewGroupContainers" [viewModel]="regRecord" [activated]="activated" [editMode]="editMode" [displayMode]="displayMode" [template]="template" [updatable]="updatable"
    [invIntegrationEnabled]="invIntegrationEnabled" [invContainers]="invContainers"></reg-form-group-view>
  <dx-load-panel [position]="{at: 'center'}" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
  </dx-load-panel>
</dx-scroll-view>
