.cd-container {
  border: 5px solid #f0f0f0;
  height: 300px;
  width: auto;
}

.structure-column {
  max-height: 50px;
}

.pressed-button {
  background-color: #ededed;
}

.pref-image {
  max-width: 24px;
}

.dx-form-group-caption {
  font-size: 15px !important;
  font-weight: 500;
}
