.cd-container {
  border: 5px solid #f0f0f0;
  height: 300px;
  width: auto;
}

.structure-column {
  max-height: 50px;
}

.pressed-button {
  background-color: #ededed;
}

.pref-image {
  max-width: 24px;
}

.dx-form-group-caption {
  font-size: 15px !important;
  font-weight: 500;
}

.panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.dx-popup-title {
  color: black;
  background-color: lightgray;
}

/* Following Fixes are For IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  #structQueryFormOptionId .dx-item .dx-box-item {
    min-width: 450px !important;
  }

  div#searchPreferenceDxBox > dx-box > div {
    min-width: 100% !important;
  }

  dxi-item#CDDToolbarID {
    transform: rotate(90deg);
  }
}

/* End */
