<div class="panel-heading" style='border-left: 4px solid tan;' (click)="togglePanel($event)">
  <a class="list-header tan" data-toggle="collapse" href="#{{id}}">{{viewConfig.title}}</a>
  <span *ngIf="batchCommandsEnabled">
    <reg-batch-selector [viewModel]="viewModel.BatchList.Batch" (onSelected)="onBatchSelected($event)"></reg-batch-selector>
    <reg-batch-creator *ngIf="addBatchEnabled" [viewModel]="viewModel.BatchList.Batch" [viewConfig]="viewConfig" 
    (onSelected)="onBatchSelected($event)" (onCreated)="onBatchCreated($event)"></reg-batch-creator>
    <reg-batch-mover *ngIf="moveBatchEnabled" [viewModel]="viewModel.BatchList.Batch" (onSelected)="onBatchSelected($event)"></reg-batch-mover>
    <command-button *ngIf="deleteBatchEnabled" testid="delete-batch-command" (onClick)="deleteBatch()" iconName="trash" title="Delete Batch" [pullRight]="false"></command-button>
    <command-button *ngIf="createContainerButtonEnabled" testid="new-container" (onClick)="createInvContainer()" iconName="flask" title="New Container" [pullRight]="false"></command-button>
  </span>
</div>
<div [id]="id" class="panel-collapse collapse in">
  <div class="p2">
    <reg-form-view [id]="id" (valueUpdated)="onValueUpdated($event)" [viewModel]="formData" [viewConfig]="items" [activated]="activated" [editMode]="editMode" [colCount]="colCount"></reg-form-view>
  </div>
  <div class="p2" *ngIf="batchContainersEnabled">
    <div class="dx-field-item-content dx-field-item-content-location-bottom">
      <div class="dx-form-group-with-caption dx-form-group dx-group-colcount-5"><span class="tan dx-form-group-caption"><strong>Inventory Containers</strong> </span>
        <div class="dx-form-group-content">
          <inventory-containers-form-group-item-view [invContainersVM]="batchContainers"></inventory-containers-form-group-item-view>
        </div>
      </div>
    </div>
  </div>
</div>
<dx-load-panel [position]="{at: 'center'}" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
  [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>
