/*<meta />*/

BODY
{
	BACKGROUND-COLOR: #fffff0;
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 12px;
	MARGIN-LEFT: 48px;
	MARGIN-TOP: 14px;
}

DIV.navigation
{
	MARGIN-LEFT: -34px;
}

DIV.navigation P
{
	MARGIN-TOP: 6px;
}

PRE
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: maroon;
	FONT-FAMILY: "Courier New", courier, monospace;
	FONT-SIZE: 12px;
	MARGIN-BOTTOM: 0px;
	MARGIN-LEFT: 6px;
	MARGIN-TOP: 0px;
}

SPAN.codemark
{
	BACKGROUND-COLOR: #d3d3d3;
	COLOR: black;
	FONT-WEIGHT: bold;
}

CODE
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: maroon;
	DISPLAY: inline;
	FONT-FAMILY: "Courier New", courier, monospace;
	FONT-SIZE: 12px;
}

H1
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: black;
	FONT-SIZE: 20px;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 5px;
	MARGIN-LEFT: -34px;
}

H2
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: black;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 5px;
	MARGIN-LEFT: -24px;
}

H3
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: black;
	FONT-SIZE: 16px;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 5px;
	MARGIN-LEFT: -12px;
}

H4
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: black;
	FONT-FAMILY: Verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
}

H5
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: black;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
}

H5.param
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: black;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	MARGIN-BOTTOM: 0px;
	MARGIN-LEFT: 6px;
}

P.param
{
	MARGIN-LEFT: 6px;
	MARGIN-TOP: 3px;
}

TABLE
{
	FONT-FAMILY: Verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 12px;
	MARGIN-TOP: 12px;
}

TABLE.proc
{
	FONT-FAMILY: Verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 12px;
	MARGIN-BOTTOM: -12px;
	MARGIN-TOP: 12px;
}

TH
{
	BACKGROUND-COLOR: #cccccc;
	FONT-WEIGHT: bold;
}

UL P
{
	MARGIN-BOTTOM: 6px;
	MARGIN-TOP: 6px;
}

UL P LI
{
	MARGIN-TOP: 6px;
}

UL LI LI
{
	MARGIN-TOP: 12px;
}

OL UL
{
	MARGIN-LEFT: 36px;
}

OL UL LI
{
	LIST-STYLE: square;
	MARGIN-LEFT: 0px;
}

UL UL
{
	MARGIN-LEFT: 36px;
}

UL UL LI
{
	LIST-STYLE: square;
	MARGIN-LEFT: 0px;
}

OL P
{
	MARGIN-BOTTOM: 6px;
	MARGIN-TOP: 6px;
}

OL P LI
{
	MARGIN-TOP: 6px;
}

OL LI LI
{
	MARGIN-TOP: 12px;
}

TD UL
{
	MARGIN-TOP: 6px;
}

TD.proc
{
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
}

TD.copy
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: gray;
	FONT-SIZE: 10px;
}

OL PRE
{
	BACKGROUND-COLOR: #fffff0;
	COLOR: maroon;
	MARGIN-BOTTOM: 0px;
	MARGIN-TOP: 3px;
}

PRE BR
{
	DISPLAY: none;
}

DIV.proc
{
	MARGIN-LEFT: -18px;
}

OL LI
{
	MARGIN-TOP: 10px;
}

LI.first
{
	MARGIN-TOP: -22px;
}

A
{
	TEXT-DECORATION: none;
}

.MenuLink
{
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: arial;
}

A.MenuLink:link
{
	FONT-SIZE: 8pt;
	COLOR: #4682b4;
	FONT-FAMILY: arial;
	TEXT-DECORATION: none;
}

A.MenuLink:visited
{
	FONT-SIZE: 8pt;
	COLOR: #4682b4;
	FONT-FAMILY: arial;
	TEXT-DECORATION: none;
}

A.MenuLink:hover
{
	FONT-SIZE: 8pt;
	COLOR: #4682b4;
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline;
}

MadCap|xref
{
	mc-format: 'Make Default';
}

