BODY
{
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px
}
P
{
    BACKGROUND-COLOR: #fffff0;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px
}
PRE
{
    BACKGROUND-COLOR: #fffff0;
    COLOR: maroon;
    FONT-FAMILY: "courier new", courier, monospace;
    FONT-SIZE: 14px;
    MARGIN-LEFT: 40px
}
SPAN.codemark
{
    BACKGROUND-COLOR: #d3d3d3;
    COLOR: black;
    FONT-WEIGHT: bold
}
CODE
{
    BACKGROUND-COLOR: #fffff0;
    COLOR: maroon;
    DISPLAY: inline;
    FONT-FAMILY: "courier new", courier, monospace;
    FONT-SIZE: 14px
}
P
{
    FONT-SIZE: 14px;
    MARGIN-LEFT: 36px;
    MARGIN-TOP: 6px
}
OL
{
    BACKGROUND-COLOR: #fffff0;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px;
    MARGIN-LEFT: 36px
}
UL
{
    BACKGROUND-COLOR: #fffff0;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px;
    MARGIN-LEFT: 24px
}
OL UL
{
    BACKGROUND-COLOR: #fffff0;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px;
    MARGIN-LEFT: 0px
}
UL UL
{
    BACKGROUND-COLOR: #fffff0;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px;
    MARGIN-LEFT: 0px
}
TD UL
{
    MARGIN-LEFT: 0px
}
UL P
{
    MARGIN-LEFT: 0px
}
OL P
{
    MARGIN-LEFT: 0px
}
OL PRE
{
    MARGIN-LEFT: 0px
}
LI
{
    BACKGROUND-COLOR: #fffff0;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px;
    MARGIN-LEFT: 0px
}
H1
{
    BACKGROUND-COLOR: #fffff0;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 20px;
    FONT-WEIGHT: bold
}
H2
{
    BACKGROUND-COLOR: #fffff0;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 12px
}
H3
{
    BACKGROUND-COLOR: #fffff0;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 24px
}
H4
{
    BACKGROUND-COLOR: #fffff0;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 36px
}
H5
{
    BACKGROUND-COLOR: #fffff0;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    MARGIN-LEFT: 36px
}
H5.param
{
    BACKGROUND-COLOR: #fffff0;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 40px;
    MARGIN-TOP: 0px
}
P.param
{
    FONT-SIZE: 14px;
    MARGIN-LEFT: 40px;
    MARGIN-TOP: -14px
}
DIV
{
    MARGIN-LEFT: 36px
}
DIV.navigation
{
    MARGIN-LEFT: 0px
}
DIV.navigation P
{
    MARGIN-LEFT: 0px
}
TABLE
{
}
TD
{
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 12px;
    MARGIN-LEFT: 0px;
    TEXT-ALIGN: left
}
TH
{
    BACKGROUND-COLOR: #cccccc;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 0px;
    TEXT-ALIGN: left
}
TH P
{
    BACKGROUND-COLOR: #cccccc;
    FONT-SIZE: 12px;
    TEXT-ALIGN: left
}
TD.proc
{
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}
TD.copy
{
    BACKGROUND-COLOR: #fffff0;
    COLOR: gray;
    FONT-SIZE: 10px
}
PRE BR
{
    DISPLAY: none
}
DIV.proc
{
    MARGIN-LEFT: 22px
}
LI.first
{
    BACKGROUND-COLOR: #fffff0;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px;
    MARGIN-LEFT: 0px;
    MARGIN-TOP: -12px
}
SPAN.required
{
    COLOR: red;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif;
    FONT-SIZE: 14px
}
INPUT:not([type="radio"]):not([type="checkbox"])
{
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-SIZE: 14px
}
SELECT
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif;
    FONT-SIZE: 14px
}
A
{
    TEXT-DECORATION: none
}
.MenuLink
{
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt
}
A.MenuLink:link
{
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A.MenuLink:visited
{
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A.MenuLink:hover
{
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: underline
}
SPAN.GrayedText
{
    COLOR: gray;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif;
    FONT-SIZE: 14px
}

* {
    box-sizing: border-box;
}

.copyContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

.copyOverlay {
    position: absolute;
    bottom: 60px;
    left: 60px;
    margin-left: 0px;
    background: rgba(0, 0, 0, 0.20); /* Black see-through */
    width: 30px;
    height: 30px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 10px;
    padding: 5px;
    text-align: center;
}

.copyContainer:hover .copyOverlay {
    opacity: 1;
}

/* Style for any checkbox required to be displayed in IE style..>> */

input[type="checkbox"] {
	height: 1.05em;
    width: 1.05em;
    border: 1px solid rgba(0, 0, 0, 0.85);
    background-color: rgba(255, 255, 255, 1);    
    vertical-align: middle;
	-webkit-appearance: none;
}

input[type="checkbox"]:focus {
    outline:none;
}

input[type="checkbox"]:checked:before {
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	content: '\2714';
	font-size: 0.80em;	
	margin-left: 1px;
	line-height: 1.2;
}

input[type=checkbox][disabled] {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.07);
}

input[type="checkbox"]:active {
	background-color: rgba(0, 0, 0, 0.20);
}

input[type="checkbox"][disabled]:checked:before {
	color: rgba(0, 0, 0, 0.35);
}

/*..<< */

/* Style for any radio button required to be displayed in IE style..>> */

input[type="radio"] {
	  
	height: 0.60em;
	width: 0.60em;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.85);
	background-color: rgba(255, 255, 255, 1);
	vertical-align: sub;
	padding-left: 0.8px;
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 22px;
	-webkit-appearance: none;
}

input[type="radio"]:focus {
    outline:none;
}

input[type="radio"]:checked:before {
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	content: '\2022';
	font-size: 25px;
	margin-left: 0.3px;
	line-height: 0.4;
}

input[type=radio][disabled] {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.07);
}

input[type="radio"]:active {
	background-color: rgba(0, 0, 0, 0.20);
}

input[type="radio"][disabled]:checked:before {
	color: rgba(0, 0, 0, 0.35);
}

/*..<< */