<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CslaAuthentication" value="Csla"/>
    <!--REMOTE if framework services will be accessed via remoting calls uncomment the following lines and enter replace //localhost with the name of the server. For 
    for developement use http://localhost:4285/CambridgeSoft.COE.Framework.RemotingHost/RemotingPortal.rem  change the portnumber if you change the properties to dynamic port numbers
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.RemotingProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://localhost/COERemotingHost/RemotingPortal.rem"/>
    <add key="CslaEncryptRemoting" value="false"/>-->
    <!--WEBSERVICE:  if framework services will be accessed via webservice calls then uncomment the following lines and enter replace //localhost with the name of the server
      for developement use http://localhost:4283/CambridgeSoft.COE.Framework.WebServiceHost/WebServicePortal.asmx  change the portnumber if you change the properties to dynamic port numbers
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.WebServicesProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://Asparagine.camsoft.com/COEWebServiceHost/WebServicePortal.asmx"/>-->
    <!--this should be commented out only in developement environments
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <linkedConfiguration href="file://C:\Documents and Settings\All Users\Application Data\ChemOfficeEnterprise11\COESharedAssemblyConfig.xml"/>
    </assemblyBinding>
  -->
    <!-- DEVNOTE:
    If you uncomment TestingUserName and TestingPassword, you will be able to hit the webservice
    from the browser (in IIS, 'browse' COERegistrationServices.asmx) using the credentials provided.-->
    <add key="TestingUserName" value="T5_85"/>
    <add key="TestingPassword" value="T5_85"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>