/* MadCap Table Style: */

/*<meta sourceDocument="C:\Documents and Settings\JHarvey\Desktop Documentation\Documentation\CBOE Enterprise 11.0\DataView Manager\DataView Manager.book" />*/

mcTableStyle {
	name: Chapternumber; 
	margin-left: 0in; 
	margin-right: 0in; 
	margin-top: 0pt; 
	margin-bottom: 0pt; 
	border-spacing-x: 0; 
	border-spacing-y: 0; 
	border-collapse: collapse; 
	border-left-color: #000000; 
	border-right-color: #000000; 
	border-top-color: #000000; 
	border-bottom-color: #000000; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-right-style: none; 
	border-left-style: none; 
	cell-padding-top: 3pt; 
	cell-padding-left: 9pt; 
	cell-padding-right: 3pt; 
	cell-padding-bottom: 5pt; 
}

mcTableColumnStyle {
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableHeadStyle {
}

mcTableBodyStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #000000; 
}

mcTableBodyStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableFootStyle {
}

 
 
/* Cell Styles: */
 
.TableStyle_Chapternumber
{
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 3pt 3pt 5pt 9pt;
}

.TableStyle_Chapternumber_Head_0_0
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Head_0_0 p
{
	
}

.TableStyle_Chapternumber_Head_0_0_RowSep_ColSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Chapternumber_Head_0_0_RowSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Head_0_0_RowSep p
{
	
}

.TableStyle_Chapternumber_Head_0_0_ColSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Head_0_0_ColSep p
{
	
}

.TableStyle_Chapternumber_Head_0_0_RowSep_ColEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Chapternumber_Head_0_0_RowEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Head_0_0_RowEnd p
{
	
}

.TableStyle_Chapternumber_Head_0_0_RowEnd_ColSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Chapternumber_Head_0_0_RowEnd_ColEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Chapternumber_Head_0_0_ColEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Head_0_0_ColEnd p
{
	
}

.TableStyle_Chapternumber_Body_0_0
{
	background-color: #000000;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_0_0 p
{
	
}

.TableStyle_Chapternumber_Body_0_0_RowSep_ColSep
{
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Body_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Chapternumber_Body_0_0_RowSep
{
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_0_0_RowSep p
{
	
}

.TableStyle_Chapternumber_Body_0_0_ColSep
{
	background-color: #000000;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Body_0_0_ColSep p
{
	
}

.TableStyle_Chapternumber_Body_0_0_RowSep_ColEnd
{
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Chapternumber_Body_0_0_RowEnd
{
	background-color: #000000;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_0_0_RowEnd p
{
	
}

.TableStyle_Chapternumber_Body_0_0_RowEnd_ColSep
{
	background-color: #000000;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Body_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Chapternumber_Body_0_0_RowEnd_ColEnd
{
	background-color: #000000;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Chapternumber_Body_0_0_ColEnd
{
	background-color: #000000;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_0_0_ColEnd p
{
	
}

.TableStyle_Chapternumber_Body_1_0
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_1_0 p
{
	
}

.TableStyle_Chapternumber_Body_1_0_RowSep_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Body_1_0_RowSep_ColSep p
{
	
}

.TableStyle_Chapternumber_Body_1_0_RowSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_1_0_RowSep p
{
	
}

.TableStyle_Chapternumber_Body_1_0_ColSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Body_1_0_ColSep p
{
	
}

.TableStyle_Chapternumber_Body_1_0_RowSep_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_1_0_RowSep_ColEnd p
{
	
}

.TableStyle_Chapternumber_Body_1_0_RowEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_1_0_RowEnd p
{
	
}

.TableStyle_Chapternumber_Body_1_0_RowEnd_ColSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Body_1_0_RowEnd_ColSep p
{
	
}

.TableStyle_Chapternumber_Body_1_0_RowEnd_ColEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_1_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Chapternumber_Body_1_0_ColEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Body_1_0_ColEnd p
{
	
}

.TableStyle_Chapternumber_Foot_0_0
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Foot_0_0 p
{
	
}

.TableStyle_Chapternumber_Foot_0_0_RowSep_ColSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Chapternumber_Foot_0_0_RowSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Foot_0_0_RowSep p
{
	
}

.TableStyle_Chapternumber_Foot_0_0_ColSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Foot_0_0_ColSep p
{
	
}

.TableStyle_Chapternumber_Foot_0_0_RowSep_ColEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Chapternumber_Foot_0_0_RowEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Chapternumber_Foot_0_0_RowEnd_ColSep
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Chapternumber_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Chapternumber_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Chapternumber_Foot_0_0_ColEnd
{
	padding-left: 9pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 5pt;
}

.TableStyle_Chapternumber_Foot_0_0_ColEnd p
{
	
}


