<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
The keyword DEVNOTE in this document marks nodes/values specific to the development environment.
-->
  <configSections>
    <section name="coeLoggingConfiguration" type="CambridgeSoft.COE.Framework.Common.COELoggingConfiguration, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.1.0.0, Culture=neutral, PublicKeyToken=152312c3a223b399" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=21f4688e7671500b" />
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- To point to where the dlls are referenced, use this block and comment the next one -->
  <!-- For instance you can reference the RegAddIns dll from another folder, and take the py scripts from that relative path where that is dll running.-->
  <!-- DEVNOTE:
  If you are running from local assemblies, comment out the following assemblyBinding node entirely
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Documents and Settings\All Users\Application Data\CambridgeSoft\ChemOfficeEnterprise12.1.0.0\COESharedAssemblyConfig.xml"/>
  </assemblyBinding>
  -->
  <appSettings>
    <!-- DEVNOTE:
    If you uncomment TestingUserName and TestingPassword, you will be able to hit the webservice
    from the browser (in IIS, 'browse' COERegistrationServices.asmx) using the credentials provided.-->
    <add key="TestingUserName" value="T5_85" />
    <add key="TestingPassword" value="T5_85" />
    <add key="AppName" value="REGISTRATION" />
    <add key="ConfigurationName" value="Registration" />
    <!-- Settings for specifying how a user will be authenticated when using COE Framework Services
    For custom authentication set valuse to: Csla 
    For windows authentication set it to: Windows
    -->
    <add key="CslaAuthentication" value="Csla" />
    <!--Settings for specifying how this application will call COE Framework Services-->
    <!-- LOCAL:
    If the framework services are on this machine do not uncomment anything -->
    <!-- REMOTE:
    If framework services will be accessed via remoting calls uncomment the following lines and enter replace //localhost with the name of the server. For 
    for developement use http://localhost:4285/CambridgeSoft.COE.Framework.RemotingHost/RemotingPortal.rem  change the portnumber if you change the properties to dynamic port numbers
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.RemotingProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://localhost/COERemotingHost/RemotingPortal.rem"/>
    <add key="CslaEncryptRemoting" value="false"/>-->
    <!-- WEBSERVICE:
    If framework services will be accessed via webservice calls then uncomment the following lines and enter replace //localhost with the name of the server
    for developement use http://localhost:4283/CambridgeSoft.COE.Framework.WebServiceHost/WebServicePortal.asmx  change the portnumber if you change the properties to dynamic port numbers
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.WebServicesProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://localhost/COEWebServiceHost/WebServicePortal.asmx"/>
    -->
  </appSettings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
      <add name="Picklist Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <coeLoggingConfiguration logEntryIdentifier="COERegistration" enabled="false" categories="All" priority="10" severity="All" />
  <exceptionHandling>
    <exceptionPolicies>
      <add name="RegUIExceptionPolicy">
        <exceptionTypes>
          <add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="RegUnknownExceptionPolicy">
        <exceptionTypes>
          <add type="System.ArgumentException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.ArgumentNullException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ArgumentNullException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.IO.FileNotFoundException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FileNotFoundException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.FormatException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="FormatException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" postHandlingAction="None" name="HttpException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.InvalidCompoundIDType, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="InvalidCompoundIDType">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.Types.Exceptions.NoRecordToSaveException, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" postHandlingAction="None" name="NoRecordToSaveException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.OverflowException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="OverflowException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="NullReferenceException">
            <exceptionHandlers>
              <add type="CambridgeSoft.COE.Framework.Types.EventHandlers.COEEventsHandler, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogAndThrowNewException">
        <exceptionTypes>
          <add type="CambridgeSoft.COE.Framework.ExceptionHandling.COEBusinessLayerException, CambridgeSoft.COE.Framework" postHandlingAction="ThrowNewException" name="COE Business Exception">
            <exceptionHandlers>
              <add logCategory="Event Log" eventId="100" severity="Error" title="COE Business Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler" />
              <add logCategory="Flat File" eventId="100" severity="Error" title="COE Business Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler" />
            </exceptionHandlers>
          </add>
          <add type="CambridgeSoft.COE.Framework.ExceptionHandling.COEDALException,CambridgeSoft.COE.Framework" postHandlingAction="ThrowNewException" name="COE DAL Exception">
            <exceptionHandlers>
              <add logCategory="Event Log" eventId="100" severity="Error" title="COE DAL Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler" />
              <add logCategory="Flat File" eventId="100" severity="Error" title="COE DAL Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogOnly">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Miscellaneous Exception">
            <exceptionHandlers>
              <add logCategory="Event Log" eventId="100" severity="Error" title="COE Base Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Event Logging Handler" />
              <add logCategory="Flat File" eventId="100" severity="Error" title="COE Base Exception" formatterType="CambridgeSoft.COE.Framework.ExceptionHandling.COETextExceptionFormatter, CambridgeSoft.COE.Framework" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=012e785312e03a6c" name="Flat File Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <infragistics.web imageDirectory="/COECommonResources/infragistics/20111CLR20/Images" javaScriptDirectory="/COECommonResources/infragistics/20111CLR20/Scripts" cssDirectory="/COECommonResources/infragistics/20111CLR20/Styles" formsDirectory="/COECommonResources/infragistics/20111CLR20/Forms" />
  <location path="WebServices/COERegistrationServices.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <loggingConfiguration defaultCategory="Event Log">
    <categorySources>
      <add name="Event Log" switchValue="All">
        <listeners>
          <add name="Event Log Destination" />
        </listeners>
      </add>
      <add name="Flat File" switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners>
          <add name="Event Log Destination" />
        </listeners>
      </errors>
    </specialSources>
    <listeners>
      <add name="Event Log Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="ChemBioOffice Enterprise 11" formatter="Default Formatter" />
      <add name="Flat File Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="trace.log" formatter="Default Formatter" />
    </listeners>
    <formatters>
      <add name="Default Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="&#xA;Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;      " />
    </formatters>
  </loggingConfiguration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState cookieless="false" timeout="20" />
    <authentication mode="Forms">
      <forms path="/" name="COESSO" loginUrl="/COEManager/Forms/Public/ContentArea/Login.aspx" protection="All" timeout="20" />
    </authentication>
    <authorization>
      <!--<allow users="*"/>-->
      <deny users="?" />
    </authorization>
    <clientTarget>
      <add alias="iecustom" userAgent="Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)" />
    </clientTarget>
    <!-- DEVNOTE:
    You must set debug="true" to enable debugging from your environment.
    Form deployment scenarios, use debug="false".
    -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" />
        <add assembly="CambridgeSoft.COE.Registration.Services, Version=12.1.0.0, Culture=neutral, PublicKeyToken=f435ba95da9797dc" />
        <add assembly="Infragistics2.WebUI.UltraWebGrid.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.Shared.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.UltraWebToolbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.WebHtmlEditor.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.WebNavBar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.WebSchedule.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.WebScheduleDataProvider.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.WebSpellChecker.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Infragistics2.WebUI.UltraWebTab.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="Oracle.DataAccess, Version=2.111.7.10, Culture=neutral, PublicKeyToken=89B483F429C47342" />
        <add assembly="Infragistics2.WebUI.Misc.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <globalization culture="auto:en-US" uiCulture="auto:en" enableClientBasedCulture="true" />
    <httpRuntime executionTimeout="300" requestValidationMode="2.0" />
    <!-- impersonation can be commented in development but should be present in production/testing environments -->
    <!--<identity impersonate="true" userName="camsoft_admin" password="CambridgeS0ft!" />-->
    <machineKey validationKey="45CAC78F3314531A5717DFF2B63FCDF324A6AE4DEFBA3AD3FECB7E741C94969D61C4A9587204771087DA7B4C5402F8195DFD2CFE3DD5C94759C494D8F6059401" decryptionKey="EA164BA3FB87420D6E7D3D0AA31CEBFBBB5608AFA9B837E0" validation="SHA1" />
    <pages styleSheetTheme="BLUE" maintainScrollPositionOnPostBack="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="Registration" src="~/Forms/Public/UserControls/MessagesArea.ascx" tagName="MessageArea" />
        <add tagPrefix="Registration" src="~/Forms/Public/UserControls/RegistryRecordNavigation.ascx" tagName="RegistryRecordNavigation" />
        <add tagPrefix="Registration" src="~/Forms/Public/UserControls/MessagesBox.ascx" tagName="MessagesBox" />
      </controls>
    </pages>
    <trace enabled="false" requestLimit="100" pageOutput="true" traceMode="SortByCategory" localOnly="true" mostRecent="true" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
      <!-- This file provides a custom WSDL-helper page when browsing the web service itself (.asmx) -->
      <wsdlHelpGenerator href="Webservices\CustomWsdlHelpGenerator.aspx" />
    </webServices>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Infragistics2.Shared.v11.1" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.20111.1006" newVersion="11.1.20111.1006" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.111.7.10" newVersion="2.111.7.10" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>