<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--
    <add key="CslaAuthentication" value="Csla" />
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.WebServicesProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://localhost/COEWebServiceHost/WebServicePortal.asmx"/>
    -->
	</appSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
