<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="coeLoggingConfiguration" type="CambridgeSoft.COE.Framework.Common.COELoggingConfiguration, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf"/>
    <section restartOnExternalChanges="true" name="coeClientConfiguration" type="CambridgeSoft.COE.Framework.Common.COEClientConfigurationSettings, CambridgeSoft.COE.Framework, Version=12.1.0.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChemBioViz.NET.SearchOptionsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ChemBioViz.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
	</sectionGroup>
	<sectionGroup name="system.net" type="System.Net.Configuration.NetSectionGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">       
		<section name="defaultProxy" type="System.Net.Configuration.DefaultProxySection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>    
	</sectionGroup> 
  </configSections>
  <coeLoggingConfiguration logEntryIdentifier="ChemBioVizNet" enabled="false" categories="COESearch" priority="9" severity="All"/>
  <system.net>     
	<!--<defaultProxy useDefaultCredentials="true">
		<proxy usesystemdefault="true" bypassonlocal="true" /> 
	</defaultProxy>	-->
  </system.net> 
  <appSettings>
    <add key="UseRemoting" value="true"/>
    <add key="CompressRemotingData" value="true"/>
    <add key="LoginMode" value="3-Tier"/>
	  <add key="AppName" value="CBVN"/> <!-- Required to get the benefits from caching in framework -->

    <add key="Addin1" value="CBVNAddins.CBVExcelDemoAddin, CBVNAddins, Version=12.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="Addin2" value="CBVNAddins.CBVChemDrawDemoAddin, CBVNAddins, Version=12.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="Addin3" value="CBVNAddins.CBVRecViewerAddin, CBVNAddins, Version=12.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="Addin4" value="CBVNAddins.CBV3DDemoAddin, CBVNAddins, Version=12.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="Addin5" value="SpotfireIntegration.SpotfireIntegrationAddin, SpotfireIntegration, Version=12.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    
  </appSettings>
  <userSettings>
    <ChemBioViz.NET.SearchOptionsSettings>
      <setting name="Tautomer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FullSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PermitExtraneousFragments" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HitAnyChargeHetero" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HitAnyChargeCarbon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReactionCenter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnyDoubleBondStereo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SimThreshold" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="Similar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SameTetStereo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EitherTetStereo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnyTetStereo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MatchStereochemistry" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Substructure" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FragmentsOverlap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreImplicitH" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AbsoluteHitsRel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SameDoubleBondStereo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Exact" serializeAs="String">
        <value>False</value>
      </setting>
    </ChemBioViz.NET.SearchOptionsSettings>
    <ChemBioViz.NET.Properties.Settings>
      <setting name="DefaultFormName" serializeAs="String">
        <value/>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>LightSteelBlue</value>
      </setting>
      <setting name="NavigationPane" serializeAs="String">
        <value>Public Forms</value>
      </setting>
      <setting name="OpenMode" serializeAs="String">
        <value>Blank form</value>
      </setting>
      <setting name="LastOpenFormName" serializeAs="String">
        <value/>
      </setting>
      <setting name="StyleLibrary" serializeAs="String">
        <value>No Style</value>
      </setting>
      <setting name="GetPrefsFromServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AskSaving" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadingFlag" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InfraSettings" serializeAs="String">
        <value/>
      </setting>
      <setting name="WriteLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="PageSize" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainFormLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GridsExpanded" serializeAs="String">
        <value>Data,Appearance</value>
      </setting>
      <setting name="TreeConfig" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultFormType" serializeAs="String">
        <value>Public</value>
      </setting>
      <setting name="LastOpenFormType" serializeAs="String">
        <value>Public</value>
      </setting>
      <setting name="LastOpenFormID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultFormID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FeatsDisabled" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxPlotPoints" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ShowTooltips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FilterChildHits" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSSSHilites" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddinSettings" serializeAs="String">
        <value/>
      </setting>
      <setting name="UseDefaultFieldsOnly" serializeAs="String">
        <value>True</value>
      </setting>
    </ChemBioViz.NET.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
