BODY
{
    FONT-SIZE: 12px;
    MARGIN-LEFT: 0px;
    COLOR: black;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
DIV.navigation
{
    MARGIN-LEFT: -34px
}
DIV.navigation P
{
    MARGIN-TOP: 6px
}
PRE
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 6px;
    COLOR: maroon;
    FONT-FAMILY: "Courier New", courier, monospace;
    BACKGROUND-COLOR: #fffff0
}
SPAN.codemark
{
    FONT-WEIGHT: bold;
    COLOR: black;
    BACKGROUND-COLOR: #d3d3d3
}
CODE
{
    DISPLAY: inline;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: "Courier New", courier, monospace;
    BACKGROUND-COLOR: #fffff0
}
H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 20px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: -34px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: -24px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: -12px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #fffff0
}
H5
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
H5.param
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: 0px;
    MARGIN-LEFT: 6px;
    COLOR: black;
    BACKGROUND-COLOR: #fffff0
}
P.param
{
    MARGIN-TOP: 3px;
    MARGIN-LEFT: 6px
}
TABLE
{
    BORDER-TOP: medium none;
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, arial, helvetica, sans-serif
    BORDER-RIGHT: medium none
}
TABLE.proc
{
    MARGIN-TOP: 12px;
    FONT-SIZE: 12px;
    MARGIN-BOTTOM: -12px;
    FONT-FAMILY: Verdana, arial, helvetica, sans-serif
}
TH
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #cccccc
}
UL P
{
    MARGIN-TOP: 6px;
    MARGIN-BOTTOM: 6px
}
UL P LI
{
    MARGIN-TOP: 6px
}
UL LI LI
{
    MARGIN-TOP: 12px
}
OL UL
{
    MARGIN-LEFT: 36px
}
OL UL LI
{
    MARGIN-LEFT: 0px;
    LIST-STYLE-TYPE: square
}
UL UL
{
    MARGIN-LEFT: 36px
}
UL UL LI
{
    MARGIN-LEFT: 0px;
    LIST-STYLE-TYPE: square
}
OL P
{
    MARGIN-TOP: 6px;
    MARGIN-BOTTOM: 6px
}
OL P LI
{
    MARGIN-TOP: 6px
}
OL LI LI
{
    MARGIN-TOP: 12px
}
TD UL
{
    MARGIN-TOP: 6px
}
TD.proc
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TD.copy
{
    FONT-SIZE: 10px;
    COLOR: gray;
    BACKGROUND-COLOR: #fffff0
}
OL PRE
{
    MARGIN-TOP: 3px;
    MARGIN-BOTTOM: 0px;
    COLOR: maroon;
    BACKGROUND-COLOR: #fffff0
}
PRE BR
{
    DISPLAY: none
}
DIV.proc
{
    MARGIN-LEFT: -18px
}
OL LI
{
    MARGIN-TOP: 10px
}
LI.first
{
    MARGIN-TOP: -22px
}
SPAN.required
{
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
SPAN.GuiFeedback
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: maroon;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
INPUT
{
    FONT-SIZE: 12px;
    CURSOR: auto;
    COLOR: black;
    FONT-FAMILY: verdana, Arial, helvetica, sans-serif
}
SELECT
{
    FONT-SIZE: 14px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
A
{
    TEXT-DECORATION: none
}
.MenuLink
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, arial;
    BACKGROUND-COLOR: white
}
a:link.MenuLink
{
    FONT-SIZE: 9pt;
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
a:visited.MenuLink
{
    FONT-SIZE: 9pt;
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
a:hover.MenuLink
{
    FONT-SIZE: 9pt;
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: underline
}
SPAN.GrayedText
{
    FONT-SIZE: 14px;
    COLOR: gray;
    FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
SELECT.SelectBox
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white;
    FONT-VARIANT: normal
}
TD.form_purpose
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: Arial, Verdana;
    TEXT-ALIGN: left
}
TD.table_description
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 14pt
}

TD.action_description
{
    FONT-WEIGHT: 600;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}

TD.table_cell
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, Verdana;
    BACKGROUND-COLOR: white
}
TABLE.table_list
{
    FONT-FAMILY: Verdana
}
TD.table_cell_header
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial, Verdana;
    BACKGROUND-COLOR: #cccccc
}
.warning_text
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    COLOR: red;
    FONT-FAMILY: Verdana
}
TD.form_purpose_header
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 14pt;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.MenuLinkDisabled
{
    FONT-SIZE: 9pt;
    COLOR: gray;
    FONT-FAMILY: Verdana, arial;
    BACKGROUND-COLOR: white
}
a:link.MenuLinkDisabled
{
    FONT-SIZE: 9pt;
    COLOR: gray;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
a:visited.MenuLinkDisabled
{
    FONT-SIZE: 9pt;
    COLOR: gray;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
a:hover.MenuLinkDisabled
{
    FONT-SIZE: 9pt;
    COLOR: gray;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: underline
}

TD.formlink
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana
 

}

.FormLink
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, arial;
    BACKGROUND-COLOR: white
   }
a:link.FormLink
{
    FONT-SIZE: 9pt;
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
a:visited.FormLink
{
    FONT-SIZE: 9pt;
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
a:hover.FormLink
{
    FONT-SIZE: 9 pt;
    COLOR: #4682b4;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: underline
}

TD.action_description {
	FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: left; text-decoration:none
    
}

.subtype {
  font-family: arial;
  font-size: 9pt;
  color:  #387C44
}
.HIDE { 
  display: none; 
  font-family:arial;
  font-size: 9pt; 
  color: #2B547E
}
.SHOW  { 
  display: inline; 
  font-family:arial;
  font-size: 9pt; 
  color: #2B547E
}
.HIDDEN { 
  display: none; 
  font-family:arial;
  font-size: 9pt; 
  color: #2B547E
}
.SHOWN  { 
  display: inline; 
  font-family: arial;
  font-size: 9pt; 
  color: #2B547E
}
.grouping {
  font-family:arial;
  font-size:10pt;
  font-weight: bold;
  color:#2B547E
}
.subgrouping {
  font-family:arial;
  font-size:10pt;
  font-weight: bold;
  color:#2B547E
}
 