/*
******************************************************************
							ultraWebMenu Horizontal
*******************************************************************/

			.igMenuSilver2k7{
		   		background-image:url(WebMenu/background.jpg);
            	background-repeat: repeat-x;
				border: 1px solid #B5BFC2;
			}
	
		.igMenuItemSilver2k7{
		   	/*background-image:url(WebMenu/background.jpg);
            background-repeat: repeat-x;*/
			
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 11px;
			height: 20px;
			padding-left: 8px;
			padding-right: 8px;

		}
		.igMenuItemHoverSilver2k7{
		   	background-image:url(WebMenu/igMenuItemHover.jpg);
            background-repeat: repeat-x;
			
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 11px;
			border: 1px solid #DDCF9B;
			border-width: 1px 0px 1px 0px;
			
			height: 20px;
		}
		

		
		.igMenuItemSelectedSilver2k7{
		   	background-image:url(WebMenu/igMenuItemSelected.jpg);
            background-repeat: repeat-x;
			height: 20px;

			font-size: 11px;
			padding-left: 8px;
			padding-right: 8px;
		}
    
		.igMenuIslandSilver2k7 {
		background-color: #FAFAFA;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		border: 1px solid #868686;
		background-image:none;
		}


/*******************************************************************
							ultraWebMenu Horizontal
*******************************************************************/



/*******************************************************************
							ultraWebMenu Vertical
*******************************************************************/
	.igMenuVerticalSilver2k7 {
		background-color: #F0F2F2;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		border: 1px solid #868686;
		
		text-align: left;
	}
	
			.igMenuItemVerticalSilver2k7{
		   	/*background-image:url(WebMenu/background.jpg);
            background-repeat: repeat-x;*/
			
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 11px;
			height: 20px;
			padding-left: 2px;
			padding-right: 8px;
			vertical-align: middle;
			

		}
		.igMenuItemHoverVerticalSilver2k7{
		   	background-image:url(WebMenu/igMenuItemHover.jpg);
            background-repeat: repeat-x;
			background-color: #F0F2F2;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 11px;
			border: 1px solid #DDCF9B;
			border-width: 1px 0px 1px 0px;
			
			
		}




/*******************************************************************
							ultraWebMenu Vertical
*******************************************************************/
