<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="coeLoggingConfiguration" type="CambridgeSoft.COE.Framework.Common.COELoggingConfiguration, CambridgeSoft.COE.Framework, Version=11.0.1.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" />
  </configSections>
  <coeLoggingConfiguration logEntryIdentifier="COESearchServiceSDKExample" enabled="true" categories="COESearch" priority="10" severity="All"/>

  <appSettings>

    <add key="CslaAuthentication" value="Csla" />
    <add key="LogonUserName" value="CSSADMIN"/>
    <add key="LogonPassword" value="CSSADMIN"/>
    
    <!--
    REMOTE if framework services will be accessed via remoting calls uncomment the following lines and enter replace //localhost with the name of the server. For 
    for developement use http://localhost:4285/CambridgeSoft.COE.Framework.RemotingHost/RemotingPortal.rem  change the portnumber if you change the properties to dynamic port numbers
    
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.RemotingProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://localhost/COERemotingHost/RemotingPortal.rem"/>
    <add key="CslaEncryptRemoting" value="false"/>
    -->

    <!--
    WEBSERVICE:  if framework services will be accessed via webservice calls then uncomment the following lines and enter replace //localhost with the name of the server
    for developement use http://localhost:4283/CambridgeSoft.COE.Framework.WebServiceHost/WebServicePortal.asmx  change the portnumber if you change the properties to dynamic port numbers
    -->
    <add key="CslaDataPortalProxy" value="Csla.DataPortalClient.WebServicesProxy,  Csla, Version=2.1.1.0, Culture=neutral, PublicKeyToken=93be5fdc093e4c30"/>
    <add key="CslaDataPortalUrl" value="http://COE11DevServer1/COEWebServiceHost/WebServicePortal.asmx"/>
    

    <!-- 
    this should be commented out only in developement environments
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <linkedConfiguration href="file://C:\Documents and Settings\All Users\Application Data\ChemOfficeEnterprise11\COESharedAssemblyConfig.xml"/>
    </assemblyBinding>
   -->
    </appSettings>
</configuration>