/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\JHarvey\Perforce\Harveyium\Documentation\ChemOffice 13.0 documentation\2- Chem &amp; Bio3D, ChemFinder &amp; BioViz\Revised Chem3D\Source files\chem3d.book" Version="7" />*/

@media print
{
	mcTableStyle
	{
		cell-padding-left: 2pt;
		cell-padding-right: 0pt;
		cell-padding-top: 0pt;
		cell-padding-bottom: 4pt;
	}

	mcTableColumnStyle
	{
		cell-padding-left: 1px;
		cell-padding-right: 1px;
		font-size: 0.65em;
		font-family: monospace;
		text-align: right;
		color: #000000;
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: ChemBio3DFileFormat;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 2.04pt;
	cell-padding-left: 5pt;
	cell-padding-right: 2.04pt;
	cell-padding-bottom: 4pt;
	max-id: 6;
}

mcTableColumnStyle
{
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Column1;
	id: 0;
	font-size: 0.80em;
	font-family: monospace;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	span: 1;
	text-align: right;
	type: Automatic;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body1;
	id: 1;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-ChemBio3DFileFormat
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadI-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadI-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .HeadE-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadE-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .HeadF-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadF-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .HeadH-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadH-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .HeadD-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadD-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .HeadC-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadC-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .HeadB-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadB-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .HeadA-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadA-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .HeadG-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .HeadG-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .FootI-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .FootI-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .FootE-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .FootE-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .FootF-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .FootF-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .FootH-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .FootH-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .FootD-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .FootD-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .FootC-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .FootC-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .FootB-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .FootB-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .FootA-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .FootA-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .FootG-Column1-
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .FootG-Column1- p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .BodyI-Column1-Body1
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .BodyI-Column1-Body1 p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .BodyE-Column1-Body1
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .BodyE-Column1-Body1 p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .BodyF-Column1-Body1
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .BodyF-Column1-Body1 p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .BodyH-Column1-Body1
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .BodyH-Column1-Body1 p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .BodyD-Column1-Body1
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .BodyD-Column1-Body1 p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .BodyC-Column1-Body1
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .BodyC-Column1-Body1 p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .BodyB-Column1-Body1
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .BodyB-Column1-Body1 p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .BodyA-Column1-Body1
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .BodyA-Column1-Body1 p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}

	.TableStyle-ChemBio3DFileFormat .BodyG-Column1-Body1
	{
		padding-top: 0pt;
		padding-bottom: 4pt;
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
		text-align: right;
		padding-left: 1px;
		padding-right: 1px;
	}

	.TableStyle-ChemBio3DFileFormat .BodyG-Column1-Body1 p
	{
		color: #000000;
		font-family: monospace;
		font-size: 0.65em;
	}
}

.TableStyle-ChemBio3DFileFormat
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-ChemBio3DFileFormat .Column-Column1
{
	
}

.TableStyle-ChemBio3DFileFormat .HeadI-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ChemBio3DFileFormat .HeadI-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .HeadE-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ChemBio3DFileFormat .HeadE-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .HeadF-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ChemBio3DFileFormat .HeadF-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .HeadH-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ChemBio3DFileFormat .HeadH-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .HeadD-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-ChemBio3DFileFormat .HeadD-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .HeadC-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ChemBio3DFileFormat .HeadC-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .HeadB-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ChemBio3DFileFormat .HeadB-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .HeadA-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-ChemBio3DFileFormat .HeadA-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .HeadG-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-ChemBio3DFileFormat .HeadG-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .FootI-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ChemBio3DFileFormat .FootI-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .FootE-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ChemBio3DFileFormat .FootE-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .FootF-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ChemBio3DFileFormat .FootF-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .FootH-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ChemBio3DFileFormat .FootH-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .FootD-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-ChemBio3DFileFormat .FootD-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .FootC-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ChemBio3DFileFormat .FootC-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .FootB-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ChemBio3DFileFormat .FootB-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .FootA-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-ChemBio3DFileFormat .FootA-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .FootG-Column1-
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-ChemBio3DFileFormat .FootG-Column1- p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .Body-Body1
{
	
}

.TableStyle-ChemBio3DFileFormat .BodyI-Column1-Body1
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ChemBio3DFileFormat .BodyI-Column1-Body1 p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .BodyE-Column1-Body1
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ChemBio3DFileFormat .BodyE-Column1-Body1 p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .BodyF-Column1-Body1
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ChemBio3DFileFormat .BodyF-Column1-Body1 p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .BodyH-Column1-Body1
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ChemBio3DFileFormat .BodyH-Column1-Body1 p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .BodyD-Column1-Body1
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-ChemBio3DFileFormat .BodyD-Column1-Body1 p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .BodyC-Column1-Body1
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ChemBio3DFileFormat .BodyC-Column1-Body1 p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .BodyB-Column1-Body1
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-ChemBio3DFileFormat .BodyB-Column1-Body1 p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .BodyA-Column1-Body1
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-ChemBio3DFileFormat .BodyA-Column1-Body1 p
{
	font-family: monospace;
	font-size: 0.80em;
}

.TableStyle-ChemBio3DFileFormat .BodyG-Column1-Body1
{
	padding-top: 2.04pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-family: monospace;
	font-size: 0.80em;
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
}

.TableStyle-ChemBio3DFileFormat .BodyG-Column1-Body1 p
{
	font-family: monospace;
	font-size: 0.80em;
}


