<IniSettingsMapper>
	<IniSections>
		<add name="REGISTRATION">
			<IniSettings>
				<add type="appSetting" IniSettingName="BATCH_LEVEL" XMLSettingName="SameBatchesIdentity" appName="REGISTRATION" group="REGADMIN">
					<mappers>
						<add IniSettingValue="COMPOUND" XMLSettingValue="True"/>
						<add IniSettingValue="BATCH" XMLSettingValue="False"/>
					</mappers>
				</add>
				<!--<add type="fieldConfig" IniSettingName="FIELD_LABELS"/>-->
			</IniSettings>
		</add>
		<add name ="DUPLICATE_CHECKING">
			<IniSettings>
				<add type="appSetting" IniSettingName="EXTRA_FRAGS_OK" XMLSettingName="PERMITEXTRANEOUSFRAGMENTS" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
					  <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
				</add>
				<add type="appSetting" IniSettingName="EXTRA_FRAGS_OK_IF_RXN" XMLSettingName="PERMITEXTRANEOUSFRAGMENTSIFRXN" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
            <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
        </add>
        <add type="appSetting" IniSettingName="FRAGS_CAN_OVERLAP" XMLSettingName="FRAGMENTSOVERLAP" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
            <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
				</add>
				<add type="appSetting" IniSettingName="MATCH_TET_STEREO" XMLSettingName="TETRAHEDRALSTEREO" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
            <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
        </add>
        <add type="appSetting" IniSettingName="MATCH_DB_STEREO" XMLSettingName="DOUBLEBONDSTEREO" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
            <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
        </add>
        <add type="appSetting" IniSettingName="HIT_ANY_CHARGE_CARBON" XMLSettingName="HITANYCHARGECARBON" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
            <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
        </add>
        <add type="appSetting" IniSettingName="HIT_ANY_CHARGE_HETERO" XMLSettingName="HITANYCHARGEHETERO" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
            <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
        </add>
        <add type="appSetting" IniSettingName="IDENTITY" XMLSettingName="IDENTITY" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
            <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
        </add>
        <add type="appSetting" IniSettingName="RELATIVE_TET_STEREO" XMLSettingName="RELATIVETETSTEREO" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
            <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
        </add>
        <add type="appSetting" IniSettingName="TAUTOMER" XMLSettingName="TAUTOMER" appName="REGISTRATION" group="DUPLICATE_CHECKING">
          <mappers>
            <add IniSettingValue="0" XMLSettingValue="NO"/>
            <add IniSettingValue="1" XMLSettingValue="YES"/>
          </mappers>
				</add>
			</IniSettings>
		</add>
	</IniSections>
</IniSettingsMapper>
