<div class="container">
  <div>
    <form class="form-inline" role="form" ng-submit="search(query)">
      <h4 data-testid="configuration-heading" id="qa-configuration-heading">
        <span class="records-detail-title lg-pb2">Register a New Compound</span>
        <button type="submit" class="btn btn-primary pull-right">Register</button>
      </h4>
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">Structure</a></li>
            <li><a href="#tab2default" data-toggle="tab">Registry</a></li>
            <li><a href="#tab3default" data-toggle="tab">Component</a></li>
            <li><a href="#tab4default" data-toggle="tab">Fragment</a></li>
            <li><a href="#tab5default" data-toggle="tab">Batch</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
              <h4>Structure Information</h4>
              <div style="width:100%;height:100%;" resize>
                <div class='cdContainer'>
                  <div class='click_catch'>
                    <div class='toastMessagePresenter'></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab2default">
              <h4>Registry Information</h4>
              <h5>Projects</h5>
              <dx-data-grid d='projectGridContainer' [columns]='gridColumns' [dataSource]=[]
                [paging]='{pageSize: 10}' [pager]='{ showPageSizeSelector: true, allowedPageSizes: [5, 10, 20], showInfo: true }'
                [searchPanel]='{ visible: true }' [filterRow]='{ visible: true }' (onRowRemoving)='deleteRecord($event)'
                (onInitNewRow)='addRecord()' (onEditingStart)='editRecord($event)' rowAlternationEnabled=true,
                [editing]='{ mode: form, allowUpdating: true, allowDeleting: true, allowAdding: true }'>
              </dx-data-grid>
              <h5>Registry Identifiers</h5>
              <dx-data-grid d='regIdGridContainer' [columns]='gridColumns' [dataSource]=[]
                [paging]='{pageSize: 10}' [pager]='{ showPageSizeSelector: true, allowedPageSizes: [5, 10, 20], showInfo: true }'
                [searchPanel]='{ visible: true }' [filterRow]='{ visible: true }' (onRowRemoving)='deleteRecord($event)'
                (onInitNewRow)='addRecord()' (onEditingStart)='editRecord($event)' rowAlternationEnabled=true,
                [editing]='{ mode: form, allowUpdating: true, allowDeleting: true, allowAdding: true }'>
              </dx-data-grid>
              <h5>Prefix</h5>
              <div id="prefixGridContainer"></div>
            </div>
            <div class="tab-pane fade" id="tab3default">
              <h4>Component Information</h4>
            </div>
            <div class="tab-pane fade" id="tab4default">
              <h4>Fragment Information</h4>
            </div>
            <div class="tab-pane fade" id="tab5default">
              <h4>Batch Information</h4>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
