<dx-box direction="row" width="100%" (window:resize)="CDDResize($event)">
  <dxi-item class="rect" [ratio]="1">
    <div [id]="id" class="cd-container cdweb"></div>
  </dxi-item>
  <dxi-item id="CDDToolbarID" *ngIf="!!structureData" class="rect" [ratio]="0" [baseSize]="32">
    <dx-button [ngClass]="mode === 0 ? 'pressed-button' : 'normal-button'" [id]="id+'-mode-0'" [icon]="drawStructureImage" hint="Draw Structure" (onClick)="onClick($event)"></dx-button>
    <dx-button [ngClass]="mode === 2 ? 'pressed-button' : 'normal-button'" [id]="id+'-mode-2'" [icon]="noStructureImage" hint="No Structure" (onClick)="onClick($event)"></dx-button>
    <dx-button [ngClass]="mode === 1 ? 'pressed-button' : 'normal-button'" [id]="id+'-mode-1'" [icon]="unknownStructureImage" hint="Unknown Structure" (onClick)="onClick($event)"></dx-button>
    <dx-button [ngClass]="mode === 3 ? 'pressed-button' : 'normal-button'" [id]="id+'-mode-3'" [icon]="nonChemicalImage" hint="Non-Chemical Content" (onClick)="onClick($event)"></dx-button>
  </dxi-item>
</dx-box>
<dx-text-box class="display-none">
  <dx-validator validationGroup="vg" (onInitialized)="onValidatorInitialized($event, this)">
    <dxi-validation-rule type="custom" [reevaluate]="true" [validationCallback]="validate"></dxi-validation-rule>
  </dx-validator>
</dx-text-box>
