/* CSS Document */

.igwpMainSilver2k7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;

	border: 1px solid #898989;
	
	height: 15px;
	
}
.igwpPanelSilver2k7{
	background-image:url(WebPanel/igwp_panel.jpg);
	background-repeat: repeat-x;
	
	background-color: #EFF0F5;
}

.igwpHeaderExpandedSilver2k7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url(WebPanel/igwp_header_normal.jpg);
	background-repeat: repeat-x;
	color: #535459;
	
	height: 15px;
}

.igwpHeaderCollapsedSilver2k7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #535459;
	background-image: url(WebPanel/igwp_header_normal.jpg);
	background-repeat: repeat-x;
	
	height: 15px;
}

.igwpHeaderHoverSilver2k7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #535459;
	background-image: url(WebPanel/igwp_header_hover.jpg);
	background-repeat: repeat-x;
	
	height: 15px;
}

