<configuration>
  <configSections>
    <section name="coeLoggingConfiguration" type="CambridgeSoft.COE.Framework.Common.COELoggingConfiguration, CambridgeSoft.COE.Framework, Version=11.0.1.0, Culture=neutral, PublicKeyToken=1e3754866626dfbf" />
  </configSections>
  <coeLoggingConfiguration logEntryIdentifier="COESearchServiceTestApp"
    enabled="true" categories="COESearch" priority="10" severity="All" />
</configuration>