div.icon_small { behavior: url(/COECommonResources/iepngfix.htc) }
div.ImageButtonDiv input { behavior: url(/COECommonResources/iepngfix.htc) }
		
		#wrapper #header .bar{
		line-height:0px;
		background-color:transparent;
		}
		
		#wrapper #header #mainnav{
		margin:60px 0px 0px 0px;
		}
		#wrapper #content .custombrand{
		float:right;
		width:663px;
		margin:5px 0px 0px 0px;
		}
		
		#wrapper #content .apl_menu h6{
		margin:-26px 5px 0px 290px;
		}
		
		#wrapper #content .apl_menu a.hid {
		margin:-26px 3px 0px 290px;
		}
		
		#wrapper #content .apl_menu a.hid:active, a.hid:focus {
		margin:-5px 0px 0px -16px;
		border:none;
		}
		
		#wrapper #content .apl_menu ul li img.i24{
		padding:7px 12px 12px 8px;
		}
		
		#wrapper #content .apl_menu ul li img.i32{
		padding:4px 11px 9px 5px;
		}
		
		#wrapper #content .apl_menu{
		z-index:0;
		}
		 body{
		 background-color:#fff;
		 }
		 
.blue_small 
{
    position: relative;
    /*padding: 0px 30px 20px 0px;
	margin: 0px 0px 5px 0px;
	clear:both;*/
	min-height: 88px;
	height: 88px;
    display: block;
    width: 45px;
    text-align: center;
    vertical-align: top; 
	text-decoration:none;
	color:#333333;
	line-height:13px; 
}

.blue_small a:link,  .blue_small a:visited
{
	position: relative;
	text-decoration: none;
	text-align:center;
	color: #333333;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_test.png) no-repeat scroll 0px 40px;
}

.blue_small a:hover, .blue_small a:active
{
	border: 0px;
	position: relative;
	text-decoration:none;
	text-align:center;
	color: #000066;
	font-weight:bold;
	background: transparent url(/COECommonResources/Utility_Images/BackGroundImages/Blue/blue_test.png) no-repeat scroll 0px -40px;
}