<command-button id="add-batch-command" testid="edit-batch-command" (onClick)="showForm($event)" iconName="edit" title="Edit Batch"
  [pullRight]="false"></command-button>
<div class="absolute">
  <dx-popup showCloseButton=false [fullScreen]="false" width="90%" height="auto" title="Edit Batch" [shading]="true" [closeOnOutsideClick]="false"
    contentTemplate="contentTemplate" [(visible)]="formVisible">
    <div *dxTemplate="let data of 'contentTemplate'">
      <reg-alert qaid="qa-alert" class="text-left" testid="alert-error" status='error' [hidden]="errorMessages.length<=0">
        <div style="padding-left:15px;">
          <strong>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;One or more entries failed to validate!</strong>
          <ol style="font-size:13px;">
            <li *ngFor="let msg of errorMessages">{{msg}}</li>
          </ol>
        </div>
      </reg-alert>
      <reg-form-view *ngIf="formVisible" [id]="id" (valueUpdated)="onValueUpdated($event)" [viewModel]="formData" [viewConfig]="items"
        [activated]="true" [editMode]="true" [colCount]="colCount"></reg-form-view>
      <command-button testid="edit-batch-cancel-button" (onClick)="cancel($event)" iconName="close" title="Cancel"></command-button>
      <command-button testid="edit-batch-add-button" (onClick)="editBatch($event)" iconName="floppy-o" title="Save"></command-button>
      <div class="p2 m1"></div>
    </div>
  </dx-popup>
</div>